<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <!--<button type="button"-->
                                <!--v-if="$route.params.id && data.status_option_id == config.status.in_transit"-->
                                <!--v-on:click="update(config.status.delivered)"-->
                                <!--class="btn btn-primary btn-fill">Receive-->
                                <!--</button>-->
                                <template v-if="!$route.params.id">
                                    <button type="button"
                                            v-on:click.prevent="store() " 
                                            class="btn btn-primary btn-fill">Submit
                                    </button>

                                </template>
                                <template v-if="$route.params.id">
                                    <!-- <button type="button"
                                            v-if="(auth.branch_id == data.branch_id) && (data.payment_status_option_id == config.status.unpaid)"
                                            v-on:click="update(config.status.approved) "
                                            class="btn btn-primary btn-fill">Approve
                                    </button> -->
                                    <button type="button"
                                            v-if="data.status_option_id == config.status.pending && check_err == true"
                                            v-on:click="update(config.status.approved) "
                                            class="btn btn-primary btn-fill">Approve
                                    </button>

                                    <!-- <button type="button"
                                            v-if="(auth.branch_id == data.branch_id) && (data.status_option_id == config.status.pending)"
                                            v-on:click="update(config.status.rejected) "
                                            class="btn btn-danger btn-fill">Reject
                                    </button> -->
                                    <!-- <button type="button"
                                            v-if="data.status_option_id == config.status.pending"
                                            v-on:click="update(config.status.rejected) "
                                            class="btn btn-danger btn-fill">Reject
                                    </button> -->

                                    <button type="button"
                                            v-if="(auth.branch_id == data.branch_id) && (data.status_option_id == config.status.pending) || check_err == false"
                                            v-on:click="update(config.status.rejected) "
                                            class="btn btn-danger btn-fill">Reject
                                    </button>

                                    <button type="button"
                                            v-if="(auth.branch_id == data.branch_id) && (data.payment_status_option_id == config.status.unpaid)"
                                            v-show="auth.admin_role_id === 1 || auth.admin_role_id === 8"
                                            v-on:click="paid(config.status.paid) "
                                            class="btn btn-success btn-fill">Mark as Paid
                                    </button>

                                    <button type="button"
                                            v-else-if="(auth.admin_role_id === 1) && (data.payment_status_option_id == config.status.unpaid)"
                                            v-on:click="paid(config.status.paid) "
                                            class="btn btn-success btn-fill">Mark as Paid
                                    </button>

                                    <button type="button"
                                            v-if="(auth.branch_id == data.branch_id) && (data.status_option_id == config.status.approved) && check_err == true"
                                            v-on:click="update(config.status.in_transit) "
                                            class="btn btn-primary btn-fill">Send
                                    </button>

                                    <!-- <button type="button"
                                            v-if="data.status_option_id == config.status.approved"
                                            v-on:click="update(config.status.in_transit) "
                                            class="btn btn-primary btn-fill">Send
                                    </button> -->

                                    <!-- <button type="button"
                                            v-if="(auth.branch_id == data.branch_id) && (data.status_option_id == config.status.approved)"
                                            v-on:click="update(config.status.in_transit) "
                                            class="btn btn-primary btn-fill">Send
                                    </button> -->

                                    <button type="button"
                                            v-if="(auth.branch_id == data.customer.branch_id) && (data.status_option_id == config.status.in_transit)"
                                            v-on:click="update(config.status.delivered)"
                                            class="btn btn-primary btn-fill">Receive
                                    </button>
                                </template>


                                <router-link tag="a" :to="{ name: 'franchise-order-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Corporate Centre Building</small></span>
                                        <span
                                            class="d-block fs-12"><small> Aurora Blvd. Cubao, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>

                                </div>
                                <div class="row ">
                                    <div class="col-md-12  pr-3">
                                        <div class="form-group">
                                            <label>Discount*</label>
                                            <select class="form-control" @change="changeDiscount"
                                                    :disabled="auth.branch.branch_type_id != 1 || data.status_option_id != config.status.pending">
                                                <option :value="0">No Discount</option>
                                                <option v-for="(value,key) in promos" :value="value.amount">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Branch*</label>
                                            <select class="form-control" v-model="data.branch_id"
                                                    :disabled="$route.params.id">
                                                <option v-for="(value,key) in branches" :value="value.id">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Invoice Number*</label>
                                            <input type="text" v-model="data.invoice_number" class="form-control"
                                                   placeholder="Invoice Number" maxlength="12"
                                                   :disabled="data.customer_id == auth.id">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Discount</th>
                                                    <th>Quantity</th>
                                                    <th v-if="data.customer.branch_id == auth.branch_id">Receive</th>
                                                    <th>Unit Price (PHP)</th>
                                                    <th>Total Amount (PHP)</th>


                                                </tr>

                                                <tr v-for="(value, key) in data.has_many_order_reference">
                                                    <td class="text-center ">
                                                        <a v-if="!$route.params.id" style="cursor: pointer;"
                                                           @click="remove(key)"
                                                           class="text text-danger">Remove </a>
                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td>{{value.item.description}}</td>
                                                    <td>


                                                        <input type="number" @input="changePrice"
                                                               v-model="value.discount"
                                                               class="form-control fc-table px-1"
                                                               :disabled="data.branch_id != auth.branch_id || data.status_option_id != config.status.pending">

                                                    </td>
                                                    <td width="130px">
                                                        <input type="number" @input="changePrice"
                                                               v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>
                                                    <!-- <td  v-if="data.customer.branch_id == auth.branch_id">
                                                        <input type="number" v-model="value.receive"
                                                               @input="changePrice"
                                                               @keyup=" e =>
                                                                   value.receive > value.quantity ? value.receive = value.quantity : ''"
                                                               :disabled="data.status_option_id == config.status.delivered"
                                                               class="form-control fc-table px-1"
                                                               :max="value.quantity">

                                                    </td> -->
                                                    <td  v-if="data.customer.branch_id == auth.branch_id">
                                                        <input type="number" v-model="value.receive"
                                                               @input="changePrice"
                                                               @keyup="changeReceive(key, value.receive)"
                                                               :disabled="data.status_option_id == config.status.delivered"
                                                               class="form-control fc-table px-1"
                                                               :max="value.quantity">

                                                    </td>

                                                    <td>

                                                        {{formatNumber(value.amount)}}

                                                    </td>
                                                    <td>
                                                        {{formatNumber(value.total)}}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td v-if="data.customer.branch_id == auth.branch_id"></td>
                                                    <td></td>
                                                    <td></td>


                                                </tr>

                                                <tr>
                                                    <td class="text-center py-1"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td v-if="data.customer.branch_id == auth.branch_id"></td>
                                                    <td colspan="2" class="text-right">Grand Total:</td>

                                                    <td>{{formatNumber(data.grand_total)}}</td>

                                                </tr>


                                                <template v-if="data.branch_id == auth.branch_id">
                                                    <tr>
                                                        <td class="text-center py-2"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>


                                                    </tr>
                                                    <tr class="thead-dark">
                                                        <th colspan="7"> Organize Franchise Order</th>
                                                        <th colspan="2">
                                                            <admin-organize-item-selection-component
                                                                @click-handler="saveOrganizeItem" :parent="data" :reference="reference"
                                                                v-if="(data.status_option_id == config.status.pending) || (data.status_option_id == config.status.approved)"/>
                                                        </th>
                                                    </tr>


                                                    <tr v-for="(value, key) in data.has_many_order_detail">
                                                        <td class="text-center ">

                                                            <a style="cursor: pointer;" @click="removeItemDetail(key)"
                                                               class="text text-danger"
                                                               v-if="(data.status_option_id == config.status.pending) || (data.status_option_id == config.status.approved)">Remove </a>

                                                        </td>
                                                        <td>{{value.item.sku}}</td>
                                                        <td>{{value.item.name}}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><input type="number" v-model="value.quantity"
                                                                   class="form-control fc-table px-1"
                                                                   :max="value.remaining_quantity" @input="e =>
                                                                   value.quantity > value.remaining_quantity ?
                                                                   value.quantity = value.remaining_quantity : ''">
                                                        </td>
                                                        <td class="text-right">

                                                    <span
                                                        v-if="(data.status_option_id == config.status.pending) || (data.status_option_id == config.status.approved)">
                                                              Remaining Quantity:
                                                    </span>
                                                        </td>
                                                        <td>{{value.remaining_quantity}}</td>


                                                    </tr>
                                                </template>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" v-if="$route.params.id">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Note*</label>
                                            <textarea
                                                :disabled="!$route.params.id  == auth.branch_id == data.customer.branch_id"
                                                v-model="data.notes" placeholder="Notes.."
                                                class="form-control"></textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" v-if="!$route.params.id && data.branch_id">
                                            <admin-order-item-selection-component @click-handler="saveSelectedItem"
                                                                                  :parent="data"/>
                                        </div>
                                    </div>
                                </div>
                                <print-component v-if="$route.params.id" :data="data"/>
                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>


    import AdminOrderItemSelectionComponent from '../../../../../cores/includes/admin-order-item-selection.component';
    import AdminOrganizeItemSelectionComponent
        from '../../../../../cores/includes/admin-organize-item-selection.component';

    import Config from '../../../../../configs/app.config';
    import PrintComponent from '../../../../../cores/includes/admin-print.component';
    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import OrderService from "../../../../../cores/services/admin/order/order.service";
    import OrderHeaderModel from "../../../../../cores/models/order/order-header.model";


    const config = Config;


    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();
    const orderHeaderModel = new OrderHeaderModel();
    export default {
        components: {AdminOrderItemSelectionComponent, AdminOrganizeItemSelectionComponent, PrintComponent},
        data: function () {
            return {
                data: orderHeaderModel.franchise(),
                auth: resourceService.getAuth(),
                branches: [],
                config: {
                    base_url: config.base_url,
                    status: config.status

                },
                suppliers: [],
                check_err : true,
                promos: [],
                reference: []
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {

                this.show(this.$route.params.id);
            }

        },
        methods: {
            saveSelectedItem: function (data) {


                if (data.length != 0) {

                    var inputs = {};

                    data.forEach((value, key) => {
                        let amount = value.price_a;
                        this.reference.push(value.id);
                        inputs = {
                            item: value,
                            item_id: value.id,
                            amount: amount,
                            quantity: 0,
                            total: 0,
                            discount: 0
                        }

                        this.data.has_many_order_reference.push(inputs);
                    });

                }


            },
            changeReceive(key, receive){
                if(receive > this.data.has_many_order_reference[key].quantity){
                    this.data.has_many_order_reference[key].receive = this.data.has_many_order_reference[key].quantity;
                } else {
                    this.data.has_many_order_reference[key].receive = receive;
                }

            },
            saveOrganizeItem: function (data) {


                if (data.length != 0) {

                    var inputs = {};

                    data.forEach((value, key) => {

                        let amount = value.item.price_a;
                        const found = this.data.has_many_order_detail.some(el => el.id === value.id);
                        const found_in_reference = this.data.has_many_order_reference.some(el => el.item_id === value.item_id);


                        value.remaining_quantity = value.quantity;
                        value.order_header_id = this.data.id;
                        value.quantity = 0;
                        value.discount = 0;
                        value.amount = amount;
                        value.branch_item_detail_id = value.id;

                        if (!found && found_in_reference) {
                            this.data.has_many_order_detail.push(value);
                        }


                    });


                }


            },
            remove(key) {


                this.$delete(this.data.has_many_order_reference, key)
            },
            removeItemDetail(key) {


                this.$delete(this.data.has_many_order_detail, key)
            },
            changeDiscount: function ($event) {


                this.calculateTotal($event.target.value);

            },
            changePrice: function () {


                this.calculateTotal('');

            },
            store: function () {
                // const branch = this.branches.filter(branch => branch.id == this.data.branch_id);
                const branch_type = this.auth.branch.branch_type_id == 2 ? 'Franchise' : 'Branch'; 
                var x = () => {
                    alertService.uploading();
                    this.data.invoice_date = this.formatDate();
                    return orderService.store(this.data).then(success => {
                        $.notifyClose();
                        alertService.saved();
                        this.data = orderHeaderModel.franchise();
                    }, fail => {
                        var errors = fail.response.data.errors;
                        this.popErrors(errors);
                    });

                }
                alertService.withConfirmation(x, 'Submit ' + branch_type +' Order');


            },
            update: function (status) {
                var cb = () => {
                    if(status == 2){
                        var result = [];
                        var map_result = {};
                        this.data.has_many_order_detail.forEach((v, k) => {
                            result.push({'item_id': v.item_id, 'quantity': v.quantity})
                        });
                        result.forEach((v)=>map_result[v.item_id]=(map_result[v.item_id]||0)+parseFloat(v.quantity));
                        result = Object.keys(map_result).map(key => ({ id: parseInt(key), quantity: map_result[key] }));

                        this.data.has_many_order_reference.forEach((value, key) => {
                            result.forEach((v, k) => {
                                if(this.data.status_option_id != 1){
                                    if(value.item_id == v.id){
                                        if(parseInt(value.quantity) > v.quantity){
                                            this.check_err = false;
                                        }
                                    } 
                                }
                            });
                        });

                        if(this.check_err != true && status == 2) {
                            alertService.updatedErr();
                            return;
                        }
                    }
                    var status_option_id = this.data.status_option_id;
                    this.data.status_option_id = status;
                    return orderService.update(this.data).then(success => {

                        if (this.data.status_option_id == this.config.status.in_transit) {
                            orderService.nonFranchiseValidateQuantity(this.data).then(success => {
                                orderService.orderToTransit(this.data);
                            }, fail => {
                                var errors = fail.response.data.errors;
                                this.popErrors(errors);
                                this.data.status_option_id = status_option_id;
                            });
                        }
                        if (this.data.status_option_id == this.config.status.delivered) {
                            orderService.orderToReceive(this.data);
                        }

                        alertService.updated();

                        // this.data.has_many_order_reference.forEach((value, key) => {
                        //     this.data.has_many_order_detail.forEach((val, k) => {
                        //         if(this.data.status_option_id != 1){
                        //             if(value.item_id == val.item_id){
                        //                 if(parseInt(value.quantity) > val.quantity){
                        //                     this.check_err = false;
                        //                 }
                        //             } 
                        //         }
                                
                        //     });
                        // });

                        // if(this.check_err != true && status == 2) {
                        //     alertService.updatedErr();
                        // } else {
                        //     alertService.updated();
                        // }

                    }, fail => {
                        var errors = fail.response.data.errors;
                        this.popErrors(errors);
                        this.data.status_option_id = status_option_id;
                    });
                }
                alertService.withConfirmation(cb, "You won't be able to revert this!");

            },
            paid: function (status) {


                var cb = () => {
                    var status_option_id = this.data.status_option_id;
                    this.data.payment_status_option_id = status;
                    this.data.payment_status = status;
                    orderService.update(this.data).then(success => {
                        alertService.updated();
                        this.show(this.$route.params.id);
                    }, fail => {
                        var errors = fail.response.data.errors;
                        this.popErrors(errors);
                        this.data.status_option_id = status_option_id;
                    });

                }


                alertService.withConfirmation(cb, "You won't be able to revert this!");

            },
            show(id) {
                return orderService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;
                    this.data.has_many_order_reference.forEach((value, key) => {

                        this.data.has_many_order_reference[key].receive = this.data.status_option_id == 8 ? value.quantity : value.receive;
                        this.reference.push(value.item_id);
                        this.data.has_many_order_detail.forEach((val, k) => {
                            if(this.data.status_option_id != 1){
                                if(value.item.id == val.item.id){
                                    if(parseInt(value.quantity) > val.quantity){
                                        this.check_err = false;
                                    }
                                } 
                            }
                            
                        });

                    });

                }, fail => {

                });

            },
            calculateTotal: function (promo) {

                this.data.total = 0;
                var limit = 0;
                var vat = 0;
                var discount = 0;
                var quantity = 0;


                this.data.has_many_order_reference.forEach((value, key) => {


                    value.discount = promo != '' ? promo : value.discount;

                    if (auth.max_discount < value.discount) {
                        limit = 1;
                        value.discount = auth.max_discount;
                    }



                    quantity = value.receive != 0 ? value.receive : value.quantity;

                    value.total = value.amount * value.quantity;
                    discount = (value.total) * value.discount / 100;
                    value.total = value.total - discount;
                    this.data.total += value.total;

                });

                this.data.vat = 0;
                this.data.grand_total = this.data.total + this.data.vat;


            },
            initialize() {


                var getBranches = (data) => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBranches(data).then(success => {
                                this.branches = success.data;
                            });
                        });
                    },
                    getPromos = () => {
                        resourceService.getPromos().then(success => {
                            this.promos = success.data;
                        });
                    }
                getBranches({id: auth.branch_id, branch_type_id: ''})
                    .then(getPromos());

            }
        }
    }
</script>

<style scoped>

</style>
