<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                            <!-- <router-link v-if="auth.branch.branch_type_id == 2" tag="a" :to="$route.path  + '/create'" -->
                             <router-link tag="a" :to="$route.path  + '/create'"

                                         class="btn btn-primary">
                                Create Order
                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters

                            </button>

                        </div>


                        <div class="col-md-8">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>

                    </div>

                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <date-picker @selected="changeFilter" format="yyyy-MM-dd" v-model="filter.date_from"
                                                 :value="filter.date_from" placeholder="Select Date"
                                                 :input-class="'form-control'" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <date-picker @selected="changeFilter" v-model="filter.date_to"
                                                 placeholder="Select Date" :readyonly="false"
                                                 :input-class="'form-control'" format="yyyy-MM-dd"
                                                 :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Warehouse</label>
                                <select class="form-control" @change="changeFilter()" v-model="filter.branch_id"
                                        :disabled="auth.admin_role_id != 1">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in branches" :value="value.id">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Payment Status</label>
                                <select class="form-control" v-model="filter.payment_status_option_id"
                                        @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in payment_statuses" :value="value.id">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Status</label>

                                <select class="form-control" v-model="filter.status_option_id" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in statuses" :value="value.id">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Action</th>
                            <th>Order No.</th>
                            <th>Invoice No.</th>
                            <th>Name</th>
                            <th>Branch</th>
                            <th>Date / Time</th>
                            <th>Payment Status</th>
                            <th>Status</th>


                        </tr>

                        <tr v-for="(value,key) in data.data">

                            <td class="text-center">
                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">View
                                </router-link>

                            </td>
                            <td>{{value.order_number}}</td>
                            <td>{{value.invoice_number}}</td>
                            <td>{{value.customer.name}}</td>
                            <td>{{value.customer.branch.name}}</td>
                            <td>{{value.created_at}}</td>
                            <td>{{value.payment_status_option.name}}</td>
                            <td>{{value.status_option.name}}</td>


                        </tr>

                        <tr v-if="auth.branch.branch_type_id == 1">

                            <td class="font-weight-bold">
                                Total Receivables:
                            </td>
                            <td colspan="7" class="font-weight-bold">
                                &#8369; {{formatNumber(data.total_receivables ? data.total_receivables : 0)}}
                            </td>


                        </tr>


                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import DatePicker from 'vuejs-datepicker';
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';

    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';
    import OrderService from "../../../../../cores/services/admin/order/order.service";
    import ResourceService from "../../../../../cores/services/resource/resource.service";


    const config = Config;

    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    export default {
        components: {AdminSearchComponent, PaginateComponent, DatePicker},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                    status: config.status
                },
                auth: resourceService.getAuth(),
                data: {},
                branches: [],
                statuses: [],
                payment_statuses: [],
                filter: {
                    order_type_id: 1,
                    customer_type: 'admins',
                    branch_id: auth.admin_role_id === 1 ? '' : auth.branch_id,
                    customer_branch_id: auth.branch_id
                },
                date: {}
            }
        },
        mounted() {

            this.initialize();
            Object.assign(this.filter, this.$route.query);
            this.list(this.filter);
            // this.filter = this.$route.query;


        },
        methods: {
            changeFilter: function () {
                this.filter.date_to = this.formatDate( this.filter.date_to);
                this.filter.date_from = this.formatDate( this.filter.date_from);

                this.list(this.filter);
                this.$router.push({name: 'franchise-order-list', query: this.filter});
            },
            search: function (data) {
                Object.assign(data, this.filter);
                this.list(data);
                this.$router.push({name: 'franchise-order-list', query: data});
            },
            list: function (data) {

                return orderService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                    console.log(this.data);
                });
            },

            remove: function (id) {

                return orderService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.list(data);

                this.$router.push({name: 'franchise-order-list', query: data});

            },
            initialize() {
                var response;
                var getBranches = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBranches().then(success => {
                                response = success.data;
                                this.branches = response;
                            });
                        });
                    },
                    getStatusOptions = (data) => {
                        resourceService.getStatusOptions(data).then(success => {
                            response = success.data;
                            this.statuses = response;
                        });
                    },
                    getPaymentStatusOptions = (data) => {
                        resourceService.getStatusOptions(data).then(success => {
                            response = success.data;
                            this.payment_statuses = response;
                        });
                    }
                getBranches()
                    .then(getStatusOptions({id: '1,2,3,7,8,10'}))
                    .then(getPaymentStatusOptions({id: '4,5'}));
            }

        }
    }
</script>

<style scoped>

</style>