<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters

                            </button>

                        </div>


                        <div class="col-md-8">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>

                    </div>
                    <div class="row collapse pt-4" id="moreFilter">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <date-picker @selected="changeFilter" format="yyyy-MM-dd" v-model="filter.date_from"
                                                 :value="filter.date_from" placeholder="Select Date"
                                                 :input-class="'form-control'" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <date-picker @selected="changeFilter" format="yyyy-MM-dd" v-model="filter.date_to"
                                                 :value="filter.date_to" placeholder="Select Date"
                                                 :input-class="'form-control'" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                <label>PRICES</label>
                                <select class="form-control" v-model="filter.srp" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in srps" :value="value.id" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>

                        </div>



                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Date</th>
                            <th>Client Name</th>
                            <th>Invoice Number</th>
                            <th>Invoice Amount</th>
                            <th>Credit Limit</th>
                            <th>Total Cost</th>
                            <th>Paid Amount</th>
                            <th>Balance</th>

                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key">

                            <td>{{formatDate(value.created_at)}}</td>
                            <td>{{value.user.name}}</td>
                            <td>{{value.invoice_number}}</td>
                            <td>{{formatNumber(value.grand_total)}}</td>
                            <td>{{value.user.credit_limit ? formatNumber(value.user.credit_limit) : 'NA'}}</td>
                            <td>{{auth.admin_role_id == 1 || auth.admin_role_id == 2 || auth.admin_role_id == 3 ? formatNumber(value.has_many_order_detail[0].item.has_one_supplier_order_detail.amount * value.has_many_order_detail[0].quantity) : '0.00'}}</td>
                            <td>{{value.user.payment_terms != 0 ? value.payment_status_option_id != 5 ? formatNumber(value.grand_total) : '0.00' : '0.00'}}</td>
                            <td>{{value.user.payment_terms != 0 ? value.payment_status_option_id == 5 ? formatNumber(value.grand_total) : '0.00' : '0.00'}}</td>

                        </tr>

                    </table>
                    <div class="col-md-6 text-left">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="config.prefix+'/reports/balance/walk-in/download' + asQueryParams(filter) + '&filename=walkin' " class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import {debounce} from "debounce";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';
    import DatePicker from 'vuejs-datepicker';
    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import BalanceReportService from "../../../../../cores/services/admin/report/balance/balance.service";

    const config = Config;

    const alertService = new AlertService();
    const reportService = new BalanceReportService();

    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent,DatePicker},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                },
                auth: resourceService.getAuth(),
                filter: {
                    brand:'',
                    branch: '',
                    category: '',
                    srp : '',
                    branch_id: resourceService.getAuth().branch_id
                },
                data: {},
                srps: [],

            }
        },
        mounted() {
            this.initialize();
            Object.assign(this.filter,this.$route.query);
            this.changeFilter();
        },
        methods: {
            changeFilter: debounce(function (){
                if(this.filter.date_to){
                    this.filter.date_to = this.formatDate(this.filter.date_to);
                }

                if(this.filter.date_from){
                    this.filter.date_from = this.formatDate(this.filter.date_from);
                }

                this.list(this.filter);
                this.$router.push({name: this.$route.name, query: this.filter});
            },1000),
            list: function (data) {
                return reportService.list('returns',data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },
            list: function (data) {

                return reportService.list('walk-in',data).then(success => {
                    var response = success.data;
                    this.data = response;
                    // this.filter = response.query_params;

                });
            },
            search: function (data) {
                Object.assign(this.filter,data);
                this.list(this.filter);
                this.$router.push({name: this.$route.name , query: this.filter});
            },
            remove: function (id) {

                return itemService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.list(data);

                this.$router.push({name: this.$route.name, query: data});

            },
            initialize() {
                var response;
                var getUserTypes = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getUserTypes().then(success => {
                                response = success.data;
                                this.srps = response;
                            });
                        });
                }
                getUserTypes();
            }

        }
    }
</script>

<style scoped>

</style>
