<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">

                                <button type="button"
                                        v-on:click="$route.params.id ? update(config.status.pending) : store() "
                                        class="btn btn-primary btn-fill" v-if="!$route.params.id">
                                    Submit

                                </button>


                                <router-link tag="a" :to="{ name: 'dr-sample-order-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Corporate Centre Building</small></span>
                                        <span class="d-block fs-12"><small> Aurora Blvd. Cubao, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>

                                </div>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Client*</label>
                                            <select class="form-control" v-model="data.customer_id"
                                                    :disabled="$route.params.id || data.has_many_order_reference != 0" @change="changeClient">
                                                <option v-for="(value,key) in clients" :value="value.id">
                                                    {{value.name}}({{value.admin.name}})
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Invoice Number*</label>
                                            <input type="text" v-model="data.invoice_number" class="form-control"
                                                   placeholder="Invoice Number" maxlength="12"
                                                   :disabled="this.$route.params.id">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6 "> -->

                                        <!-- <div class="form-group"> -->
                                            <!-- <label>Tin No.*</label>

                                            <input type="text" v-model="data.tin_no" class="form-control"
                                                   placeholder="Tin No."> -->
                                        <!-- </div> -->


                                    <!-- </div> -->
                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>

                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Amount</th>


                                                </tr>

                                                <tr v-for="(value, key) in data.has_many_order_reference">
                                                    <td class="text-center ">
                                                        <a v-if="!$route.params.id" style="cursor: pointer;"
                                                           @click="remove(key)"
                                                           class="text text-danger">Remove </a>
                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td width="130px">
                                                        <input type="number"
                                                               v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>
                                                    <td>{{formatNumber(value.item.srp)}}</td>
                                                    <td>{{formatNumber(value.item.srp * value.quantity)}}</td>


                                                </tr>

                                                <tr>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>


                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">

                                        <div class="form-group" v-if="!$route.params.id">
                                            <admin-order-item-selection-component @click-handler="saveSelectedItem"
                                                                                  :parent="data"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>

                                                    <th>Quantity</th>
                                                    <th v-if="$route.params.id">Returned</th>
                                                    <th width="170px" v-if="!$route.params.id">
                                                        <admin-organize-item-selection-component
                                                                @click-handler="saveOrganizeItem" :parent="data" :reference="reference"
                                                                v-if="!$route.params.id"/>
                                                    </th>


                                                </tr>


                                                <tr v-for="(value, key) in data.has_many_order_detail">
                                                    <td class="text-center ">
                                                        <a style="cursor: pointer;" v-if="!$route.params.id"
                                                           @click="removeItemDetail(key)"
                                                           class="text text-danger">Remove </a>

                                                        <a style="cursor: pointer;" v-show="value.return_quantity < value.quantity" v-if="$route.params.id"
                                                           class="text text-danger" @click="modalReturn(value)">Return
                                                            Quantity </a>
                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td><input type="number" v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :max="value.remaining_quantity"
                                                               :disabled="$route.params.id">
                                                    </td>
                                                    <td v-if="$route.params.id">{{value.return_quantity}}</td>
                                                    <td v-if="!$route.params.id">{{value.remaining_quantity}}</td>


                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <print-component v-if="$route.params.id" :data="data"/>

                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="modalReturn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Return Stocks</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="form-group">Name:</label>
                                <input type="text" class="form-control" v-model="barrow.item.name" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-group">Quantity:</label>
                                <input type="text" class="form-control" v-model="barrow.quantity" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-group">Returned Quantity:</label>
                                <input type="text" class="form-control" v-model="barrow.return_quantity" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-group">Return Quantity:</label>
                                <input type="number" v-model="barrow.return_stock" class="form-control"  min=0>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer ">
                        <div class="row w-100">
                            <div class="ml-3 col-md-12 text-center">
                                <button type="button"  @click="returnStock" class="btn btn-primary" data-dismiss="modal">Return</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {debounce} from "debounce";
    import AdminOrderItemSelectionComponent from '../../../../../cores/includes/admin-order-item-selection.component';
    import PrintComponent from '../../../../../cores/includes/admin-print.component';
    import AdminOrganizeItemSelectionComponent
        from '../../../../../cores/includes/admin-organize-item-selection.component';

    import Config from '../../../../../configs/app.config';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import OrderService from "../../../../../cores/services/admin/order/order.service";


    const config = Config;


    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    export default {
        components: {AdminOrderItemSelectionComponent, AdminOrganizeItemSelectionComponent, PrintComponent},
        data: function () {
            return {
                barrow: {
                    item: {}
                },
                data: {
                    total: 0,
                    grand_total: 0,
                    branch_id: auth.branch_id,
                    has_many_order_reference: [],
                    has_many_order_detail: [],
                    customer_type: 'users',
                    order_type_id: 4,
                    status_option_id: 17,
                    payment_status_option_id: 4,
                    vat: 0,
                    prefix: 'DRS'


                },
                payment_types: [],
                clients: [],


                config: {
                    base_url: config.base_url,
                    status: config.status

                },
                auth: resourceService.getAuth(),
                reference: []
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {

                this.show(this.$route.params.id);
            }


        },
        methods: {
            saveSelectedItem: function (data) {

                if (data.length != 0) {


                    var inputs = {};

                    let amount = 0;
                    data.forEach((value, key) => {
                        amount = this.getSelectedItemAmount(this.client_type, value);
                        this.reference.push(value.id);
                        inputs = {
                            item: value,
                            item_id: value.id,
                            amount: amount,
                            quantity: 0,
                            total: 0,
                            discount: 0,
                        }

                        this.data.has_many_order_reference.push(inputs);
                    });

                }


            },
            modalReturn: function (data) {
                this.barrow = data;

                $('#modalReturn').modal('show');

            },
            saveOrganizeItem: function (data) {

                if (data.length != 0) {
                    var inputs = {};
                    let amount = 0;
                    data.forEach((value, key) => {
                        const found = this.data.has_many_order_detail.some(el => el.id === value.id);
                        const found_in_reference = this.data.has_many_order_reference.some(el => el.item_id === value.item_id);


                        amount = this.getOrganizeItemAmount(this.client_type,value);


                        value.remaining_quantity = value.quantity;
                        value.quantity = 0;
                        value.branch_item_detail_id = value.id;
                        value.amount = amount;
                        if (!found && found_in_reference) {
                            this.data.has_many_order_detail.push(value);
                        }


                    });
                }


            },
            changeClient: function () {

                let object = this.clients.find(object => object.id == this.data.customer_id);

                this.client_type = object.user_type_id;


            },
            remove(key) {


                this.$delete(this.data.has_many_order_reference, key)
            },
            removeItemDetail(key) {


                this.$delete(this.data.has_many_order_detail, key)
            },
            store: function () {

                    alertService.uploading();
                return orderService.nonFranchiseValidateQuantity(this.data).then(success => {
                    $.notifyClose();
                    this.data.invoice_date = this.formatDate();
                    orderService.store(this.data).then(success => {

                        if (this.data.status_option_id == 2 || this.data.status_option_id == 10) {
                            orderService.nonFranchiseOrders(this.data);
                        }

                        alertService.saved();
                        this.data = {
                            total: 0,
                            grand_total: 0,
                            branch_id: auth.branch_id,
                            has_many_order_reference: [],
                            has_many_order_detail: [],
                            customer_type: 'customers',
                            order_type_id: 4,
                            status_option_id: 10,
                            payment_status_option_id: 2,
                            vat: 0,
                            prefix: 'DRS'
                        }
                    }, fail => {
                        var errors = fail.response.data.errors;
                        $.notifyClose();
                        Object.entries(errors).forEach(([key, value]) => {

                            alertService.errorWithMessage(value[0]);

                        });
                    });

                }, fail => {

                    var errors = fail.response.data.errors;
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });


            },

            returnStock: function () {



               return orderService.returnStock(this.barrow).then(success => {
                    console.log(this.barrow);
                   this.barrow = {
                       item: {}
                   }

                   alertService.updated();
                   this.show(this.$route.params.id);
               }, fail => {

               });

            },

            show(id) {
                return orderService.show(id).then(success => {
                    var response = success.data;
                    this.data = response;
                    this.data.has_many_order_reference.forEach((value, key) => {
                        this.reference.push(value.item_id);
                    });

                }, fail => {

                });

            },
            initialize() {


                var getClients = () => {
                    return new Promise((resolve, reject) => {
                        resourceService.getClients().then(success => {
                            var response = success.data;
                            this.clients = response;
                        });
                    });
                }
                getClients()


            }
        }
    }
</script>

<style scoped>

</style>
