<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="$route.path  + '/create'" class="btn btn-primary">
                                Create Order
                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters

                            </button>

                        </div>


                        <div class="col-md-8">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>

                    </div>

                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <date-picker @selected="changeFilter" format="yyyy-MM-dd" v-model="filter.date_from"
                                                 :value="filter.date_from" placeholder="Select Date"
                                                 :input-class="'form-control'" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <date-picker @selected="changeFilter" v-model="filter.date_to"
                                                 placeholder="Select Date" :readyonly="false"
                                                 :input-class="'form-control'" format="yyyy-MM-dd"
                                                 :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Warehouse</label>
                                <select class="form-control" @change="changeFilter()" v-model="filter.branch_id">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in branches" :value="value.id">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Action</th>
                            <th>Status</th>
                            <th>Order No.</th>
                            <th>Name</th>
                            <th>Branch</th>
                            <th>Date / Time</th>


                        </tr>

                        <tr v-for="(value,key) in data.data">

                            <td class="text-center">
                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">View
                                </router-link>

                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <select type="text" class="form-control" aria-describedby="Update"
                                            v-model="value.status_option_id">
                                        <option v-for="(value,key) in status_options" :value="value.id">{{value.name}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-fill btn-primary m-0 py-1" type="button"
                                                @click="update(value)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                </div>

                            </td>
                            <td>{{value.order_number}}</td>
                            <td>{{value.customer.name}}</td>
                            <td>{{value.branch.name}}</td>
                            <td>{{value.created_at}}</td>


                        </tr>


                    </table>

                    <div class="text-left ml-lg-3">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="config.prefix+'/reports/dr-samples-order/download' + asQueryParams(filter) + '&filename=drsamples'"
                           class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>


                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
    import {debounce} from 'debounce';
    import DatePicker from 'vuejs-datepicker';
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';

    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';
    import OrderService from "../../../../../cores/services/admin/order/order.service";
    import ResourceService from "../../../../../cores/services/resource/resource.service";


    const config = Config;

    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    export default {
        components: {AdminSearchComponent, PaginateComponent, DatePicker},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                    status: config.status
                },
                data: {},

                branches: [],
                statuses: [],
                payment_statuses: [],
                filter: {
                    order_type_id: 4,
                    customer_type: 'users',
                    branch_id: auth.admin_role_id === 1 ? '' : auth.branch_id

                },
                status_options: [],
                date: {}
            }
        },
        mounted() {

            this.initialize();
            Object.assign(this.filter, this.$route.query);
            this.list(this.filter);
            // this.filter = this.$route.query;


        },
        methods: {
            changeFilter: debounce(function () {
                if (this.filter.date_to) {
                    this.filter.date_to = this.formatDate(this.filter.date_to);
                }

                if (this.filter.date_from) {
                    this.filter.date_from = this.formatDate(this.filter.date_from);
                }
                this.list(this.filter);

            }, 1000),
            search: function (data) {
                let filter = Object.assign({item_keyword: data.keyword}, this.filter);
                this.list(filter);
                // this.$router.push({name: 'dr-sample-order-list', query: data});
            },
            list: function (data) {

                return orderService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },
            update: function (data) {
                var cb = () => {
                    return orderService.updateDrSampleStatus(data).then(() => {
                        alertService.saved();

                    });
                }
                alertService.withConfirmation(cb, "You won't be able to revert this!");
            },
            remove: function (id) {

                return orderService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.list(data);

                this.$router.push({name: 'dr-sample-order-list', query: data});

            },
            initialize() {
                var response;
                var getBranches = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBranches().then(success => {
                                response = success.data;
                                this.branches = response;
                            });
                        });
                    },
                    getStatusOptions = (data) => {
                        resourceService.getStatusOptions(data).then(success => {
                            response = success.data;
                            this.status_options = response;
                        });
                    },
                    getPaymentStatusOptions = (data) => {
                        resourceService.getStatusOptions(data).then(success => {
                            response = success.data;
                            this.payment_statuses = response;
                        });
                    }
                getBranches()
                    .then(getStatusOptions({id: '17,18'}))
                    .then(getPaymentStatusOptions({id: '4,5'}));
            }

        }
    }
</script>

<style scoped>

</style>
