<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters
                            </button>

                        </div>

                        <div class="col-md-8">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>

                    </div>
                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <date-picker @selected="changeFilter" format="yyyy-MM-dd" v-model="filter.date_from"
                                                 :value="filter.date_from" placeholder="Select Date"
                                                 :input-class="'form-control'" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <date-picker @selected="changeFilter" v-model="filter.date_to"
                                                 placeholder="Select Date" :readyonly="false"
                                                 :input-class="'form-control'" format="yyyy-MM-dd"
                                                 :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Invoice Number</label>
                                    <input type="text" v-model="filter.invoice_number" class="form-control"
                                           placeholder="Invoice Number"
                                           @input="changeFilter()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Price</label>
                                    <select class="form-control" @change="changeFilter()"
                                            v-model="filter.user_type_id">
                                        <option :value="''">All</option>
                                        <option v-for="(value,key) in user_types" :value="value.id">{{value.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div :class="{'col-md-2': isSuperAdmin(), 'col-md-4': !isSuperAdmin() }">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Client</label>
                                    <select class="form-control" @change="changeFilter()"
                                            v-model="filter.customer_id">
                                        <option :value="''">All</option>
                                        <option v-for="(value,key) in clients" :value="value.id">{{value.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2" v-if="isSuperAdmin()">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Branch</label>
                                    <select class="form-control" @change="changeFilter()"
                                            v-model="filter.branch_id">
                                        <option :value="''">All</option>
                                        <option v-for="(value,key) in branches" :value="value.id">{{value.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">


                            <th>Invoice#</th>
                            <th>Invoice Date</th>
                            <th>Client Name</th>
                            <th>Item Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>SRP</th>
                            <th>Amount</th>
                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key">

                            <td>{{value.invoice_number}}</td>
                            <td>{{formatDate(value.invoice_date)}}</td>
                            <td>{{value.client_name}}</td>
                            <td>{{value.item_name}}</td>
                            <td>{{value.description}}</td>
                            <td>{{value.quantity}}</td>
                            <td>{{value.unit}}</td>
                            <td>{{formatNumber(value.amount)}}</td>
                            <td>{{formatNumber(value.total)}}</td>

                        </tr>

                    </table>
                    <div class="col-md-12 text-left pb-2">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="'/api.admin/reports/sales/per-price-export' + asQueryParams(filter)+'&file_name=sales-per-price-'+formatDate()"
                           class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import {debounce} from "debounce";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';
    import DatePicker from 'vuejs-datepicker';
    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import ReportService from "../../../../../cores/services/admin/report/report.service";

    const config = Config;

    const alertService = new AlertService();
    const reportService = new ReportService();

    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent, DatePicker},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                },
                filter: {
                    branch_id: resourceService.getAuth().branch_id,
                    customer_id: '',
                    user_type_id: '',
                },
                data: {},
                branches: [],
                clients: [],
                user_types: []
            }
        },
        mounted() {
            this.initialize();
            Object.assign(this.filter, this.$route.query);

            this.list(this.filter);
        },
        methods: {
            changeFilter: debounce(function () {
                if (this.filter.date_to) {
                    this.filter.date_to = this.formatDate(this.filter.date_to);
                }

                if (this.filter.date_from) {
                    this.filter.date_from = this.formatDate(this.filter.date_from);
                }
                delete this.filter.page;
                this.list(this.filter);
                this.initialize();

            }, 1000),
            list: function (data) {
                return reportService.list('sales/per-price', data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            search: function (data) {
                Object.assign(this.filter, data);
                this.list(this.filter);

            },

            remove: function (id) {

                return itemService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                Object.assign(this.filter, {page: page});
                this.list(this.filter);


            },
            initialize() {
                var response;
                var getBranches = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBranches().then(success => {
                                response = success.data;
                                this.branches = response;
                            });
                        });
                    },
                    getClientsByFilter = (data) => {
                        resourceService.getClientsByFilter(data).then(success => {
                            response = success.data;
                            this.clients = response;
                        });
                    }, getUserTypes = () => {

                        resourceService.getUserTypes().then(success => {
                            response = success.data;
                            this.user_types = response;
                        });
                    }
                getBranches()
                    .then(getClientsByFilter(this.filter))
                    .then(getUserTypes());

            }

        }
    }
</script>

<style scoped>

</style>
