<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters

                            </button>

                        </div>


                        <div class="col-md-8">
                            <div class="text-right">
                                <!--<admin-search-component @click-handler="search"/>-->
                            </div>
                        </div>

                    </div>
                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Brand</label>
                                <select class="form-control" v-model="filter.brand_id" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in brands" :value="value.id" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" v-model="filter.category_header_id" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in categories" :value="value.id" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>


                        <div class="col-md-3"  v-if="isSuperAdmin()" >
                            <div class="form-group">
                                <label>Warehouse</label>
                                <select class="form-control" v-model="filter.branch_id" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in branches" :value="value.id" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>

                        <div :class="{'col-md-3': isSuperAdmin(), 'col-md-6': !isSuperAdmin()}">
                            <div class="form-group">
                                <label>Client</label>
                                <select class="form-control" v-model="filter.customer_id" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in clients" :value="value.id" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>





                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">
                            <th>Item name</th>
                            <th>Color</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Amount</th>
                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key"
                            :class="{'thead-yellow' : value.has_many_branch_item_detail_count_quantity <= value.restock_at}">


                            <td>{{value.name}}</td>
                            <td>{{value.color}}</td>
                            <td>{{value.quantity}}</td>
                            <td>{{value.package_name}}</td>
                            <td>{{formatNumber(value.amount)}}</td>


                        </tr>

                    </table>
                    <div class="col-md-12 text-left pb-2">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="'/api.admin/reports/sales/per-brand-cat-client-export' + asQueryParams(filter)+'&file_name=sales-per-brand-category-'+formatDate()"
                           class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import ReportService from "../../../../../cores/services/admin/report/report.service";

    const config = Config;

    const alertService = new AlertService();
    const reportService = new ReportService();

    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                },
                filter: {
                    brand_id: '',
                    customer_id: '',
                    category_header_id: '',
                    branch_id: resourceService.getAuth().branch_id,

                },
                data: {},
                brands: [],
                suppliers: [],
                categories: [],
                branches: [],
                clients: []
            }
        },
        mounted() {
            this.initialize();
            this.list(this.$route.query);
            // this.filter = this.$route.query;
            Object.assign(this.filter, this.$route.query);
            this.initialize();
        },
        methods: {
            changeFilter: function () {
                this.list(this.filter);
                this.initialize();
            },
            list: function (data) {

                return reportService.list("sales/per-brand-cat-client", data).then(success => {
                    var response = success.data;
                    this.data = response;
                    // this.filter = response.query_params;

                });
            },

            remove: function (id) {

                return itemService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.list(data);


            },
            initialize() {
                var response;
                var getBrands = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBrands().then(success => {
                                response = success.data;
                                this.brands = response;
                            });
                        });
                    },
                    getCategories = () => {
                        resourceService.getCategories().then(success => {
                            response = success.data;
                            this.categories = response;
                        });
                    },
                    getClientsByFilter = (data) => {
                        resourceService.getClientsByFilter(data).then(success => {
                            response = success.data;
                            this.clients = response;

                            console.log(this.clients);
                        });
                    },
                    getBranches = () => {
                        resourceService.getBranches().then(success => {
                            response = success.data;
                            this.branches = response;
                        });
                    }
                getBrands()
                    .then(getCategories())
                    .then(getClientsByFilter(this.filter))
                    .then(getBranches());
            }

        }
    }
</script>

<style scoped>

</style>
