<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters
                            </button>

                        </div>

                        <div class="col-md-8">
                            <div class="text-right">
                                <!-- <admin-search-component @click-handler="search"/> -->
                            </div>
                        </div>

                    </div>
                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-4">

                            <div class="form-group">
                                <label>Brands</label>
                                <select class="form-control" v-model="filter.brand_id" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in brands" :value="value.id" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>

                        </div>

                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">
                            <th>Brand </th>
                            <th>Category </th>
                            <th>Color</th>
                            <th>Invoice#</th>
                            <th>Invoice Date</th>
                            <th>Supplier Name</th>
                            <th>Item Name</th>
                            <th>Quantity </th>
                            <th>Unit </th>
                            <th>Total Amount</th>
                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key">
                           <td>{{value.brand_name}}</td>
                           <td>{{value.category_name}}</td>
                           <td>{{value.color_name ? value.color_name : '-'}}</td>
                           <td>{{value.supplier_invoice_number}}</td>
                           <td>{{value.supplier_invoice_date}}</td>
                           <td>{{value.supplier_name}}</td>
                           <td>{{value.name}}</td>
                           <td>{{value.quantity}}</td>
                           <td>{{value.package_id == '1' ? 'PC' : 'METER'}}</td>
                           <td>{{formatNumber(value.total_amount)}}</td>


                           <!-- <td>{{mapFucntion(value.supplier_order_header.has_many_supplier_order_detail)}}</td> -->

                        </tr>

                    </table>
                    <div class="col-md-6 text-left">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="'/api.admin/reports/purchases/per-brand-export' + asQueryParams(filter)" class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import ReportService from "../../../../../cores/services/admin/report/report.service";

    const config = Config;

    const alertService = new AlertService();
    const reportService = new ReportService();

    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                },
                filter: {
                    brand_id: '',
                },
                data: {},
                brands:[]
            }
        },
        mounted() {
            this.initialize();
            Object.assign(this.filter,this.$route.query);

            this.list(this.filter);

            // alert('test')\
        },
        methods: {
            // mapFucntion(ab){
            //     const qw = ab;
            //     let c = 0;
            //     qw.map((a, b) => {
            //         c += parseInt(a.amount);
            //         console.log(c);

            //     });
            //     return c;
            // },
            changeFilter: function (){
                this.filter.page = 1;
                this.list(this.filter);
                this.$router.push({name: 'per-brand-supplier-report-list', query: this.filter});
            },
            list: function (data) {
                let new_inv = [];
                let new_inv_holder = [];

                reportService.list('purchases/per-brand',data).then(success => {
                    var response = success.data;
                    this.data = response;

                    // console.log(this.data);
                    // new_inv = this.data.data;
                    // new_inv.forEach(function(value){
                    //     new_inv_holder.push(value);
                    // });

                    // console.log(new_inv_holder);
                });
            },

            remove: function (id) {

                return itemService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {

                Object.assign(this.filter,{page: page});
                this.list(this.filter);

                this.$router.push({name: this.$route.name, query: this.filter});

            },
            initialize() {
                var response;
                var getBrands = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBrands().then(success => {
                                response = success.data;
                                this.brands = response;
                            });
                        });
                }
                getBrands();

            }

        }
    }
</script>

<style scoped>

</style>
