<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="$route.path  + '/create'" class="btn btn-primary">
                                Create Brand
                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">

                        <div class="col-6">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">
                            <th v-show="auth.admin_role_id == 1 || auth.admin_role_id == 2 || auth.admin_role_id == 3">
                                Action
                            </th>
                            <th>Name</th>


                            <!--<th>Description</th>-->

                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key">
                            <td class="text-center"
                                v-show="auth.admin_role_id == 1 || auth.admin_role_id == 2 || auth.admin_role_id == 3">
                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">Edit
                                </router-link>
                                |
                                <a v-if="value.deleted_at == null" style="cursor: pointer;" @click="remove(value.id, 'active')" class="text text-danger">
                                    Deactivate </a>
                                <a v-else style="cursor: pointer;" @click="remove(value.id,'inactive')" class="text text-danger">
                                    Activate </a>
                            </td>
                            <td>{{value.name}}</td>


                            <!--<td><p class="content-description">{{value.description}}</p></td>-->

                        </tr>

                    </table>
                    <div class="row ">
                        <div class="col-md-6 text-left ml-3 mb-3">
                            <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                            <a :href="config.prefix+'/reports/brands/download' + asQueryParams($route.query)"
                               class="btn btn-warning btn-fill">Export
                                to CSV</a>
                        </div>
                    </div>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"

                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    // import NewsPressService from "../../../../cores/services/admin/news-press/news-press.service";
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';
    import BrandService from "../../../../../cores/services/admin/inventory/brand/brand.service";
    import ResourceService from '../../../../../cores/services/resource/resource.service';
    import HistoryService from '../../../../../cores/services/admin/history/history.service';

    const config = Config;

    const alertService = new AlertService();
    const brandService = new BrandService();
    const resourceService = new ResourceService();
    const hs = new HistoryService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                    title: 'List Brands',
                },
                data: {},
                auth: resourceService.getAuth(),
                // history:{
                //     action:''
                // }
            }
        },
        mounted() {

            this.list(this.$route.query);

        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name: 'brand-list', query: data});
            },
            list: function (data) {

                return brandService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            remove: function (id, status) {
                var cb = () => {
                    // let name = this.data.name;
                    swal({
                        title: "Delete record?",
                        text: "Deleting this record may cause data discrepancy..",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                // axios.delete(Config.base_url + '/api.admin/brands/' + id)
                                if(status == 'active'){
                                    return brandService.delete(id)
                                        .then((response) => {
                                            alertService.deleted();
                                            this.list(this.$route.query);
                                            // this.deleteHistory();
                                        })
                                        .catch(() => {
                                            swal("Error!", "Failed to delete!", "error");
                                        })
                                } else {
                                    return brandService.activate(id)
                                        .then((response) => {
                                            alertService.updated();
                                            this.list(this.$route.query);
                                        })
                                        .catch(() => {
                                            swal("Error!", "Failed to activate!", "error");
                                        })
                                }
                            }
                        })
                }
                alertService.withConfirmation(cb, "You won't be able to revert this!");
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.list(data);
                this.$router.push({name: 'brand-list', query: data});

            },
            // deleteHistory: function(){
            //     this.history.action = this.auth.name + 'superadmin deleted brand ' + this.data.name;
            //     return hs.store(this.history).then(success => {

            //     });

            // }
        }
    }
</script>

<style scoped>

</style>
