<template>
    <span>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/auth/dashboard">Dashboard</a></li>
                <template v-for="(value,key) in $route.meta.navigation.hierarchy">
                    <li class="breadcrumb-item" :class="{'active': $route.name == value.route}" aria-current="page">
                        <template v-if="value.is_route">
                            <router-link tag="a" :to="{name: value.route}">
                                {{value.name}}   
                            </router-link>
                        </template>
                        <template v-if="!value.is_route">
                          {{value.name}}  
                        </template>

                    </li>
                </template>
                
            </ol>
        </nav>
    </span>
</template>

<script>

    export default {
        data: function () {
            return {
                data:{}
            }
        },
        mounted() {

        },
        methods: {

        }

    }
</script>
<style scoped>

</style>


