<template>
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">

            <img src="/images/logo_white.png" alt="Lightforce" class="img-fluid px-3 pb-3 mb-4">

        </div>
        <ul class="nav">

            <router-link tag="li" exact-active-class="active" :to="{name: 'dashboard' }" exact
                         v-if="validateRole('Dashboard')">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-chart-bar-32"></i>
                    <p>Dashboard</p>
                </a>

            </router-link>
            <router-link tag="li" :to="{name: 'list-agent-dashboard' }" v-if="validateRole('Agent Dashboard')"
                         :class="{'active' : $route.meta.navigation.parent == 'agent-dashboards'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Agent Dashboard</p>
                </a>

            </router-link>

            <li data-toggle="collapse" data-target="#inventory" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'inventory'}" v-if="validateRole('Inventory')">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Inventory</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="inventory">

                    <router-link tag="li" :to="{ name: 'item-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'items'}"
                                 v-if="validateRole('Items')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Items</p>
                        </a>
                    </router-link>


                    <router-link tag="li" :to="{ name: 'brand-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'brands'}"
                                 v-if="validateRole('Brands')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Brands</p>
                        </a>
                    </router-link>

                    <router-link tag="li" :to="{ name: 'category-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'categories'}"
                                 v-if="validateRole('Categories')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Categories</p>
                        </a>
                    </router-link>

                    <router-link tag="li" :to="{ name: 'sub-category-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'sub-categories'}"
                                 v-if="validateRole('Sub Categories')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Sub Categories</p>
                        </a>
                    </router-link>


                    <router-link tag="li" :to="{ name: 'supplier-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'suppliers'}"
                                 v-if="validateRole('Suppliers')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Supplier</p>
                        </a>
                    </router-link>


                </ul>

            </li>


            <li data-toggle="collapse" data-target="#order" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'orders'}" v-if="validateRole('Orders')">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-cart-simple"></i>
                    <p>Orders</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="order">

                    <router-link tag="li" :to="{ name: 'franchise-order-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'franchises'}"
                                 v-if="validateRole('Franchise Orders')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Franchises</p>
                        </a>
                    </router-link>


                    <router-link tag="li" :to="{ name: 'inter-office-order-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'inter-offices'}"
                                 v-if="validateRole('Inter Office Orders')"
                                 v-show="branch_type.branch.branch_type_id === 1">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Inter Offices</p>
                        </a>
                    </router-link>

                    <router-link tag="li" :to="{ name: 'client-order-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'clients'}"
                                 v-if="validateRole('Walk In Orders')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Walk In </p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'client-pre-order-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'pre-orders'}"
                                 v-if="validateRole('Pre Orders')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Pre Orders</p>
                        </a>
                    </router-link>


                    <router-link tag="li" :to="{ name: 'dr-sample-order-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'dr-samples'}"
                                 v-if="validateRole('DR Orders')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>DR Samples </p>
                        </a>
                    </router-link>


                    <router-link tag="li" :to="{ name: 'quotation-order-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'quotations'}"
                                 v-if="validateRole('Quotation Orders')">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Quotations </p>
                        </a>
                    </router-link>


                </ul>

            </li>


            <router-link tag="li" :to="{ name: 'supplier-invoice-list' }"
                         :class="{'active' : $route.meta.navigation.parent == 'supplier-invoices'}"
                         v-if="validateRole('Supplier Invoices')">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-paper-2"></i>
                    <!-- <p>Supplier Invoices</p> -->
                    <p>Suppliers (Local)</p>
                </a>
            </router-link>

            <router-link tag="li" :to="{ name: 'supplier-invoice-abroad-list' }"
                         :class="{'active' : $route.meta.navigation.parent == 'supplier-invoices-abroad'}"
                         v-if="validateRole('Supplier Invoices Abroad')">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Suppliers (Abroad)</p>
                </a>
            </router-link>


            <router-link tag="li" :to="{ name: 'client-list' }"
                         :class="{'active' : $route.meta.navigation.parent == 'clients'}"
                         v-if="validateRole('Clients')">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Clients</p>
                </a>
            </router-link>

            <router-link tag="li" :to="{ name: 'branch-list' }"
                         :class="{'active' : $route.meta.navigation.parent == 'branches'}"
                         v-if="validateRole('Branches')">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-bank"></i>
                    <p>Warehouses</p>
                </a>
            </router-link>


            <router-link tag="li" :to="{ name: 'promo-list' }"
                         :class="{'active' : $route.meta.navigation.parent == 'promos'}" v-if="validateRole('Promos')">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-money-coins"></i>
                    <p>Promos</p>
                </a>
            </router-link>


            <li data-toggle="collapse" data-target="#account" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'account'}" v-if="validateRole('Accounts')">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Accounts</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="account">

                    <router-link tag="li" :to="{ name: 'admin-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'admins'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Admins</p>
                        </a>
                    </router-link>

                    <router-link tag="li" :to="{ name: 'role-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'roles'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Roles</p>
                        </a>
                    </router-link>

                </ul>

            </li>


            <router-link tag="li" :to="{ name: 'history-list' }" v-if="validateRole('Histories')">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-single-copy-04"></i>
                    <p>History</p>
                </a>
            </router-link>


            <li data-toggle="collapse" data-target="#report" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'reports'}" v-if="validateRole('Reports')">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>report</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="report">
                    <router-link tag="li" :to="{ name: 'inventory-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'inventory-report'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Inventory</p>
                        </a>
                    </router-link>
<!--                    <router-link tag="li" :to="{ name: 'report-inter-office-order' }"-->
<!--                                 :class="{'active' : $route.meta.navigation.child == 'reports-inter-office-order'}">-->
<!--                        <a class="sub-link">-->
<!--                            <i class="nc-icon nc-simple-delete"></i>-->
<!--                            <p>InterOffice(Order)</p>-->
<!--                        </a>-->
<!--                    </router-link>-->
                    <router-link tag="li" :to="{ name: 'report-inter-office-items-in' }"
                                 :class="{'active' : $route.meta.navigation.child == 'reports-inter-office-item-in'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>IOM(IN)</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'report-inter-office-items-in-summary' }"
                                 :class="{'active' : $route.meta.navigation.child == 'report-inter-office-items-in-summary'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>IOM(INS)</p>
                        </a>
                    </router-link>
        <router-link tag="li" :to="{ name: 'report-inter-office-items-out' }"
                                 :class="{'active' : $route.meta.navigation.child == 'reports-inter-office-item-out'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>IOM(OUT)</p>
                        </a>
                    </router-link>

                    <router-link tag="li" :to="{ name: 'report-inter-office-items-out-summary' }"
                                 :class="{'active' : $route.meta.navigation.child == 'reports-inter-office-item-out-summary'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>IOM(OUTS)</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'report-balance-lapsed' }"
                                 :class="{'active' : $route.meta.navigation.child == 'report-balance-lapsed'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Balance LAPSED</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'report-walk-in' }"
                                 :class="{'active' : $route.meta.navigation.child == 'report-walk-in'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Balance WALK IN</p>
                        </a>
                    </router-link>
<!--                    <router-link tag="li" :to="{ name: 'report-price-summary' }"-->
<!--                                 :class="{'active' : $route.meta.navigation.child == 'report-price-summary'}">-->
<!--                        <a class="sub-link">-->
<!--                            <i class="nc-icon nc-simple-delete"></i>-->
<!--                            <p>Balance Price Sum</p>-->
<!--                        </a>-->
<!--                    </router-link>-->
                    <!--                    <router-link tag="li" :to="{ name: 'report-walk-in-summary' }"-->
                    <!--                                 :class="{'active' : $route.meta.navigation.child == 'report-walk-in-summary'}">-->
                    <!--                        <a class="sub-link">-->
                    <!--                            <i class="nc-icon nc-simple-delete"></i>-->
                    <!--                            <p>Balance(WALK INS)</p>-->
                    <!--                        </a>-->
                    <!--                    </router-link>-->
                    <router-link tag="li" :to="{ name: 'return-report' }"
                                 :class="{'active' : $route.meta.navigation.child == 'return-report'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>RETURNS</p>
                        </a>
                    </router-link>
<!--                    <router-link tag="li" :to="{ name: 'report-walk-in-summary' }"-->
<!--                                 :class="{'active' : $route.meta.navigation.child == 'report-walk-in-summary'}">-->
<!--                        <a class="sub-link">-->
<!--                            <i class="nc-icon nc-simple-delete"></i>-->
<!--                            <p>Balance(WALK INS)</p>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" :to="{ name: 'report-price-a' }"-->
<!--                                 :class="{'active' : $route.meta.navigation.child == 'report-price-a'}">-->
<!--                        <a class="sub-link">-->
<!--                            <i class="nc-icon nc-simple-delete"></i>-->
<!--                            <p>Price(A)</p>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" :to="{ name: 'report-price-b' }"-->
<!--                                 :class="{'active' : $route.meta.navigation.child == 'report-price-b'}">-->
<!--                        <a class="sub-link">-->
<!--                            <i class="nc-icon nc-simple-delete"></i>-->
<!--                            <p>Price(B)</p>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" :to="{ name: 'report-price-c' }"-->
<!--                                 :class="{'active' : $route.meta.navigation.child == 'report-price-c'}">-->
<!--                        <a class="sub-link">-->
<!--                            <i class="nc-icon nc-simple-delete"></i>-->
<!--                            <p>Price(C)</p>-->
<!--                        </a>-->
<!--                    </router-link>-->
<!--                    <router-link tag="li" :to="{ name: 'report-price-d' }"-->
<!--                                 :class="{'active' : $route.meta.navigation.child == 'report-price-d'}">-->
<!--                        <a class="sub-link">-->
<!--                            <i class="nc-icon nc-simple-delete"></i>-->
<!--                            <p>Price(D)</p>-->
<!--                        </a>-->
<!--                    </router-link>-->
                    <router-link tag="li" :to="{ name: 'report-price-summary' }"
                                 :class="{'active' : $route.meta.navigation.child == 'report-price-summary'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Price(Summary)</p>
                        </a>
                    </router-link>
                </ul>

            </li>

            <!-- supplier report -->
            <li data-toggle="collapse" data-target="#supplier-report" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'supplier-report'}" v-if="validateRole('Reports')" v-show="branch_type.admin_role_id === 1 || branch_type.admin_role_id === 2 || branch_type.admin_role_id === 3">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Supplier</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="supplier-report">
                    <router-link tag="li" :to="{ name: 'supplier-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'supplier-report'}"
                                 v-show="branch_type.admin_role_id === 1 ||
                                         branch_type.admin_role_id === 2 ||
                                         branch_type.admin_role_id === 3">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>supplier (local)</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'supplier-abroad-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'supplier-abroad-report'}"
                                 v-show="branch_type.admin_role_id === 1 ||
                                         branch_type.admin_role_id === 2 ||
                                         branch_type.admin_role_id === 3">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>supplier (abroad)</p>
                        </a>
                    </router-link>
                </ul>
            </li>

            <!-- sale report -->
            <li data-toggle="collapse" data-target="#sale-report" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'sales'}" v-if="validateRole('Reports')">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Sales</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="sale-report">
                    <router-link tag="li" :to="{ name: 'sale-per-item-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'sale-per-item'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Sale Per Item</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'sale-per-color-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'sale-per-color'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Sale Per Color</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'sale-per-brand-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'sale-per-brand'}" v-show="branch_type.admin_role_id === 1 || branch_type.admin_role_id === 2 || branch_type.admin_role_id === 3">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Sale Per Brand/Cat</p>
                        </a>
                    </router-link>

                    <router-link tag="li" :to="{ name: 'total-sale-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'total-sale'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Total Sales</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'sale-per-price-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'sale-per-price'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Sale Per Price</p>
                        </a>
                    </router-link>
                </ul>
            </li>

            <!-- Receivables report -->
           <!--  <li data-toggle="collapse" data-target="#receiveable-report" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'receivables-report'}" v-if="validateRole('Reports')">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Receivables</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="sale-report">

                </ul>
            </li> -->

            <!-- most sold report -->
            <li data-toggle="collapse" data-target="#most-sold-report" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'most-sold-report'}" v-if="validateRole('Reports')" v-show="branch_type.admin_role_id === 1 || branch_type.admin_role_id === 2 || branch_type.admin_role_id === 3">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Most Sold</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="most-sold-report">
                    <router-link tag="li" :to="{ name: 'franchise-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'franchise-report'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Franchise</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'client-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'client-report'}">
                        <a class="sub-link">
                            <i class="nc-icon nc-simple-delete"></i>
                            <p>Client</p>
                        </a>
                    </router-link>
                </ul>
            </li>

            <!-- Supplier -->
            <li data-toggle="collapse" data-target="#supp-report" class="collapsed"
                :class="{'active' : $route.meta.navigation.parent == 'purchases-report'}" v-if="validateRole('Reports')"
                v-show="branch_type.admin_role_id === 1 ||
                        branch_type.admin_role_id === 2 ||
                        branch_type.admin_role_id === 3 ">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Purchases</p>
                    <span class=" pull-right"><i class="nc-icon nc-stre-down"></i></span>
                </a>
                <ul class="sub-menu collapse" id="supp-report">
                    <router-link tag="li" :to="{ name: 'per-item-supplier-report-list' }"
                                 :class="{'active' : $route.meta.navigation.child == 'per-item-supplier'}">

                                <a class="sub-link">
                                    <i class="nc-icon nc-simple-delete"></i>
                                    <p>per Item/Supplier</p>
                                </a>
                        </router-link>
                        <router-link tag="li" :to="{ name: 'per-item-color-supplier-report-list' }"
                                    :class="{'active' : $route.meta.navigation.child == 'per-item-color-supplier-report'}">
                                <a class="sub-link">
                                    <i class="nc-icon nc-simple-delete"></i>
                                    <p>per Item/Color</p>
                                </a>
                        </router-link>
                        <router-link tag="li" :to="{ name: 'per-brand-supplier-report-list' }"
                                    :class="{'active' : $route.meta.navigation.child == 'per-brand-supplier-report'}">
                                <a class="sub-link">
                                    <i class="nc-icon nc-simple-delete"></i>
                                    <p>per Brand</p>
                                </a>
                        </router-link>
                        <router-link tag="li" :to="{ name: 'per-supplier-report-list' }"
                                    :class="{'active' : $route.meta.navigation.child == 'per-supplier-report'}">
                                <a class="sub-link">
                                    <i class="nc-icon nc-simple-delete"></i>
                                    <p>per Supplier</p>
                                </a>
                        </router-link>
                    </ul>
            </li>


        </ul>
    </div>

</template>

<script>
    import Config from "../../configs/app.config"
    import ResourceService from '../services/resource/resource.service';

    const config = Config;
    const RS = new ResourceService();
    export default {
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                    route_list_parent: this.$route.meta.list_parent,
                    route_list_child: this.$route.meta.list_child
                },
                branch_type: RS.getAuth(),
            }
        },
        mounted() {

        },
        methods: {

            validateRole: function (value) {
                const authRoles = JSON.parse(auth.admin_role.roles);

                const found = authRoles.some(el => el == value);

                if (found) {

                    return true;
                }
                return false;

            }
        },
        watch: {
            $route(to, from) {

                this.config.route_list_parent = to.meta.list_parent;
                this.config.route_list_child = to.meta.list_child;
            }
        }
    }
</script>
