<template>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
        <div class=" container-fluid  ">
            <a class="navbar-brand" href="#pablo"> Dashboard </a>
            <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="nav navbar-nav mr-auto desktop-notification">

                    <li class="dropdown nav-item desktop-notification">
                        <a @click="toggleNotification()" href="#" class="dropdown-toggle nav-link"
                           data-toggle="dropdown" id="navbarNontifications">
                            <i class="nc-icon nc-planet"></i>
                            <span class="notification">{{notification.total_unread}}</span>
                            <span class="d-lg-none">Notifications</span>
                        </a>

                        <div class="dropdown-menu wpx-500 desktop-notif  border rounded-0"
                             aria-labelledby="navbarNontifications">

                            <div style="overflow-y:scroll; height:410px;">
                                <template v-for="(value,key) in notification.data">
                                    <a  class="dropdown-item" @click="notificationToRedirect(value)"
                                                 :class="{'bg-secondary': value.status == 'unread' }"
                                                 style="border-radius: 0 !important; cursor: pointer;">
                                        {{value.message}}
                                    </a>
                                    <hr class="m-0 p-0">
                                </template>

                            </div>

                            <hr class="m-0 p-0">
                            <!--                            <router-link class="dropdown-item">SEE MORE</router-link>-->
                            <button type="button" class="dropdown-item text-center" @click="showMore($event)"
                                    v-if="notification.data.length < notification.total">SHOW MORE
                            </button>
                        </div>


                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"-->
                    <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--<span class="no-icon">Notification</span>-->
                    <!---->
                    <!--</a>-->
                    <!--<div v-for="(value,key) in notifs"  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                    <!--<a v-on:click="markRead" class="dropdown-item" href="#">{{value.data}}</a>-->
                    <!---->
                    <!--</div>-->
                    <!--</li>-->


                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="no-icon">{{auth.name}}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <router-link tag="a" :to="{ name: 'my-profile' }" :class="'dropdown-item'">
                                Account Setting

                            </router-link>


                            <a class="dropdown-item" :href="config.base_url+config.prefix+'/logout'">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
</template>


<script>
    import Config from "../../configs/app.config"
    import NotificationService from "../services/admin/notification/notification.service";
    import ResourceService from "../services/resource/resource.service";

    const config = Config,
        notificationService = new NotificationService(),
        resourceService = new ResourceService();


    export default {
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                    base_url: config.base_url
                },
                auth: resourceService.getAuth(),
                notification: {
                    data: {}
                },
                notification_filter: {
                    answer_type: "branches",
                    answer_id: auth.branch_id,
                    page: 1

                }
            }
        },
        mounted() {


            this.initialize();
        },
        methods: {
            showMore: function ($event) {
                $event.stopPropagation();

                notificationService.list(this.notification_filter).then(success => {
                    var response = success.data;
                    this.notification_filter.page = response.next_page;

                    response.data.forEach((value, key) => {

                        this.notification.data.push(value);
                    });
                });
            },
            notificationToRedirect: function(data){
                notificationService.update(data).then(() => {
                    this.$router.push({path: data.link});
                });
            },
            toggleNotification: function () {
                var inputs = {
                    id: 0,
                    type: 'toggle',
                    answer_type: "branches",
                    answer_id: auth.branch_id,
                };
                notificationService.update(inputs).then(() => {
                    this.notification.total_unread = 0;
                });
            },
            initialize() {
                var response;
                var getNotifications = () => {
                    return new Promise((resolve, reject) => {

                        var filter = {
                            answer_type: "branches",
                            answer_id: auth.branch_id,
                            page: 1

                        };
                        notificationService.list(filter).then(success => {
                            response = success.data;
                            this.notification = response;
                            this.notification_filter.page = response.next_page;
                        });
                    });
                }
                getNotifications();

            }
        },
        watch: {
            $route(to, from) {

                this.initialize();
            }
        }

    }
</script>


<style scoped>
    a.dropdown-item {
      white-space: nowrap; 
      width: 470px; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }
</style>
