<template>
    <div>
        <button type="button" class="btn btn-success btn-sm btn-fill d-block btn-block py-0" data-toggle="modal"
                data-target="#itemModal-1" @click="addItem()">
            ADD ITEM <i class="fa fa-plus"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="itemModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="transform: translate(0, 9%);">
                <div class="modal-content modal-lg">
                    <div class="modal-header text-center">

                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="row text-left">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Brand*</label>
                                            <select class="form-control h-25" v-model="filter.brand_id"
                                                    @change="onFilter()">
                                                <option :value="''">All</option>
                                                <option v-for="(value,key) in brands" :value="value.id">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category*</label>

                                            <select class="form-control h-25" v-model="filter.category_header_id"
                                                    @change="onFilter()">
                                                <option :value="''">All</option>
                                                <option v-for="(value,key) in categories" :value="value.id">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-left">
                                    <!--<div class="col-md-6 pr-3">-->
                                    <!--<div class="form-group">-->
                                    <!--<label>Supplier*</label>-->

                                    <!--<select class="form-control h-25" v-model="filter.category_header_id"-->
                                    <!--@change="onFilter()">-->
                                    <!--<option :value="''">All</option>-->
                                    <!--<option v-for="(value,key) in categories" :value="value.id">-->
                                    <!--{{value.name}}-->
                                    <!--</option>-->

                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label>Keyword*</label>
                                            <input type="text" @input="debounceKeyword" placeholder="Keyword.."
                                                   class="form-control h-25"
                                                   v-model="filter.keyword">
                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-3">
                                <div class="table-full-width table-responsive">
                                    <table class="table table-bordered ml-lg-3 table-order-items">

                                        <tr class="text-center thead-dark">

                                            <th>#</th>
                                            <th>SKU</th>
                                            <th>Name</th>
                                            <template v-if="hasCost() && isFranchise()">
                                                <th>Amount</th>
                                                <th>Quantity</th>
                                            </template>

                                            <th>Supplier</th>
                                            <th>Date</th>

                                        </tr>
                                        <tr v-for="(value,key) in items.data">
                                            <td class="text-center"><input type="checkbox" :true-value="value"
                                                                           :false-value="{}" v-model="data[value.id]" :disabled="value.quantity == 0">
                                            </td>
                                            <td>{{value.item.sku}}</td>
                                            <td>{{value.item.name}}</td>
                                            <template v-if="hasCost() && isFranchise()">
                                                <td>{{value.amount}}</td>
                                                <td>{{value.quantity}}</td>
                                            </template>
                                            <td>{{value.supplier ? value.supplier.name : ''}}</td>
                                            <td>{{value.created_at}}</td>


                                        </tr>


                                    </table>
                                    <paginate-component v-if="parseInt(items.total) / parseInt(items.per_page) > 1"
                                                        :page-count="Math.ceil(items.total / items.per_page)"
                                                        :page-range="3"
                                                        :margin-pages="2"
                                                        :click-handler="paginate"
                                                        :prev-text="'Prev'"
                                                        :next-text="'Next'"
                                                        :container-class="'pagination pl-3'"
                                                        :page-class="'page-item'"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <div class="text-right w-100">
                            <button type="button" class="btn btn-primary btn-fill" @click="save()" data-dismiss="modal">
                                Save
                            </button>
                            <button type="button" class="btn btn-warning btn-fill" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import PaginateComponent from 'vuejs-paginate';
    import ResourceService from "../services/resource/resource.service";

    import {debounce} from "debounce";

    const resourceService = new ResourceService();

    export default {
        components: {PaginateComponent},
        props: ['parent', 'reference'],
        data: function () {
            return {
                data: [],
                filter: {
                    per_page: 5,
                    category_header_id: '',
                    brand_id: '',

                    zero_quantity: true

                },
                brands: [],
                categories: [],
                items: {
                    total: 0,
                    per_page: 5
                },
                config: {
                    loaded: false
                },
                auth: resourceService.getAuth()
            }
        },
        mounted: function () {


        },
        methods: {

            save: function () {


                this.$emit('click-handler', this.data);
                this.data = [];

            },

            addItem: function () {
                if (!this.config.loaded) {

                    this.initialize();
                    this.config.loaded = true;
                }
                var parent = {
                    supplier_id: this.parent.supplier_id ? this.parent.supplier_id : '',
                    branch_id: this.parent.branch_id ? this.parent.branch_id : ''
                };
                Object.assign(this.filter, parent);

                if (this.reference && this.reference.length != 0) {

                    this.filter.items = JSON.stringify(this.reference);
                }
                this.list(this.filter);
            },
            onFilter: function () {
                this.filter.page = 1;
                this.list(this.filter);


            },
            debounceKeyword: debounce(function (e) {
                this.filter.keyword = e.target.value;
                this.filter.page = 1;
                this.list(this.filter);

            }, 1000),
            paginate: function (page) {

                this.filter.page = page;

                this.list(this.filter);


            },
            list: function (data) {
                return resourceService.getItemByStocks(data).then(success => {
                    var response = success.data;
                    var filtered_items = response;
                    var addedItem = this.parent.has_many_order_detail;
                    addedItem.map(function(value) {
                        filtered_items.data.map(function(val) {
                            if(value.id == val.id) {
                                val.quantity -= value.quantity;
                            }
                        })
                    });
                    this.items = filtered_items;
                });
            },

            initialize() {


                var getBrands = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBrands().then(success => {
                                var response = success.data;
                                this.brands = response;
                            });
                        });
                    },
                    getCategories = () => {
                        resourceService.getCategories().then(success => {
                            var response = success.data;
                            this.categories = response;
                        });
                    }
                getBrands()
                    .then(getCategories());

            },
        },
        watch: {}
    }

</script>
