<template>

            <button type="button" @click="submit" class="btn-danger btn btn-fill"><i class="fa fa-print"
                                                                                     aria-hidden="true"></i> Print
            </button>



</template>

<script>


    export default {

        props: ['data'],
        data: function () {
            return {
            }
        },
        mounted: function () {

        },
        methods: {
            submit: function () {

                window.open(
                    base_url + "/print/receipt?id=" + this.data.id + "&order_payment_type_id=" + this.data.order_payment_type_id + "&order_type=" + this.data.order_type_id,
                    "print",
                    "menubar=1,resizable=1,width=600,height=750%"
                );

            },


        },
        watch: {}
    }

</script>