<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters

                            </button>

                        </div>


                        <div class="col-md-8">
                            <div class="text-right">
                                <!--<admin-search-component @click-handler="search"/>-->
                            </div>
                        </div>

                    </div>
                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-3">

                            <div class="form-group">
                                <label>Brand</label>
                                <select class="form-control" v-model="filter.brand" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in brands" :value="value.slug" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>

                        </div>

                        <!-- <div :class="{'col-md-3': isSuperAdmin() , 'col-md-6': !isSuperAdmin()  }"> -->
                        <div :class="isSuperAdmin() || isWarehousManager() ? 'col-md-3' : 'col-md-6'">

                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" v-model="filter.category" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in categories" :value="value.slug" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-3" v-if="isSuperAdmin() || isWarehousManager()">

                            <div class="form-group">
                                <label>Warehouse</label>
                                <select class="form-control" v-model="filter.branch" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in branches" :value="value.slug" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Supplier</label>
                                <select class="form-control" v-model="filter.supplier" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in suppliers" :value="value.slug" :key="key">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>

                        </div>
                        <div class="col-md-12 h-25">
                            <div class=" form-group pl-4">
                                <input type="checkbox" v-model="filter.zero_quantity" :true-value="true" :false-value="false" class="form-check-input" id="exampleCheck1" @change="changeFilter()">
                                <label class="form-check-label" for="exampleCheck1">Include Zero Quantity</label>
                            </div>


                        </div>

                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Name</th>
                            <th>SKU</th>
                            <th>Item Code</th>
                            <!-- <th>Warehouse</th> -->
                            <th>Color</th>
                            <th>Quantity</th>
                            <th>SRP</th>


                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key" :class="{'thead-yellow' : value.has_many_branch_item_detail_count_quantity <= value.restock_at}">


                            <td>{{value.name}}</td>
                            <td>{{value.sku}}</td>
                            <td>{{value.code}}</td>
                            <!-- <td>{{value.branch_name}}</td> -->
                            <td>{{value.colors ? value.colors : 'N/A'}}</td>
                            <td>{{value.has_many_branch_item_detail_count_quantity ? value.has_many_branch_item_detail_count_quantity : 0}}</td>
                            <td>{{formatNumber(value.srp)}}</td>

                        </tr>

                    </table>
                    <div class="col-md-6 text-left">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="config.prefix+'/reports/items/download' + asQueryParams($route.query)" class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';

    import ResourceService from "../../../../cores/services/resource/resource.service";
    import ReportService from "../../../../cores/services/admin/report/report.service";

    const config = Config;

    const alertService = new AlertService();
    const reportService = new ReportService();

    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                },
                filter: {
                    brand:'',
                    branch: resourceService.getAuth().branch.slug,
                    category: '',
                    supplier: '',
                    zero_quantity: false,
                },
                data: {},
                brands: [],
                suppliers: [],
                categories: [],
                branches:[]
            }
        },
        mounted() {
            this.initialize();
            this.list(this.filter);
            // this.filter = this.$route.query;
            Object.assign(this.filter,this.$route.query);

        },
        methods: {
            changeFilter: function (){
                this.list(this.filter);
                this.$router.push({name: 'inventory-report-list', query: this.filter});
            },
            search: function (data) {
                Object.assign(this.filter,data);
                this.list(this.filter);
                
            },
            list: function (data) {

                return reportService.list("items",data).then(success => {
                    var response = success.data;
                    this.data = response;
                    // this.filter = response.query_params;

                });
            },

            remove: function (id) {

                return itemService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.list(data);

            },
            initialize() {
                var response;
                var getBrands = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBrands().then(success => {
                                response = success.data;
                                this.brands = response;
                            });
                        });
                    },
                    getSuppliers = () => {
                        resourceService.getSuppliers().then(success => {
                            response = success.data;
                            this.suppliers = response;
                        });
                    },
                    getCategories = () => {
                        resourceService.getCategories().then(success => {
                            response = success.data;
                            this.categories = response;
                        });
                    },
                    getBranches = () => {
                        resourceService.getBranches().then(success => {
                            response = success.data;
                            this.branches = response;
                        });
                    }
                getBrands()
                    .then(getSuppliers())
                    .then(getCategories())
                    .then(getBranches());
            }

        }
    }
</script>

<style scoped>

</style>