<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters

                            </button>

                        </div>


                        <div class="col-md-8">
                            <div class="text-right">
                                <!--<admin-search-component @click-handler="search"/>-->
                            </div>
                        </div>

                    </div>

                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <date-picker @selected="changeFilter" format="yyyy-MM-dd" v-model="filter.date_from"
                                                 :value="filter.date_from" placeholder="Select Date"
                                                 :input-class="'form-control'" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <date-picker @selected="changeFilter" v-model="filter.date_to"
                                                 placeholder="Select Date" :readyonly="false"
                                                 :input-class="'form-control'" format="yyyy-MM-dd"
                                                 :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Warehouse</label>
                                <select class="form-control" @change="changeFilter()" v-model="filter.branch_id"
                                        :disabled="auth.admin_role_id != 1">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in branches" :value="value.id">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>

                                <select class="form-control" v-model="filter.status_option_id" @change="changeFilter()">
                                    <option :value="''">All</option>
                                    <option v-for="(value,key) in statuses" :value="value.id">
                                        {{value.name}}
                                    </option>

                                </select>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Date / Time</th>
                            <th>Invoice No.</th>
                            <th>Delivery No.</th>
                            <th>Customer Name</th>
                            <th>Branch</th>
                            <th>Status</th>


                        </tr>

                        <tr v-for="(value,key) in data.data">

                            <td>{{value.created_at}}</td>
                            <td>{{value.invoice_number}}</td>
                            <td>{{value.order_number}}</td>
                            <td>{{value.customer.name}}</td>
                            <td>{{value.branch.name}}</td>
                            <td>{{value.status_option.name}}</td>


                        </tr>


                    </table>
                    <div class="col-md-6 text-left">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="config.prefix+'/reports/inter-office/download' + asQueryParams($route.query) + '&filename=interoffice'" class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import DatePicker from 'vuejs-datepicker';
    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';

    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import OrderService from "../../../../cores/services/admin/order/order.service";
    import ResourceService from "../../../../cores/services/resource/resource.service";
    import ReportService from "../../../../cores/services/admin/report/report.service";


    const config = Config;

    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    const reportService = new ReportService();

    export default {
        components: {AdminSearchComponent, PaginateComponent, DatePicker},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                    status: config.status
                },
                data: {},
                auth: resourceService.getAuth(),
                branches: [],
                filter: {
                    order_type_id: 2,
                    branch_id:'',

                },
                statuses:[],
                payment_statuses: [],
                date: {}
            }
        },
        mounted() {
            this.initialize();
            
            Object.assign(this.filter, this.$route.query);
            this.list(this.filter);


        },
        methods: {
            changeFilter: function () {
                this.filter.date_to = this.formatDate( this.filter.date_to);
                this.filter.date_from = this.formatDate( this.filter.date_from);
                this.list(this.filter);
                this.$router.push({name: 'inter-office-report-list', query: this.filter});
            },
            search: function (data) {
                Object.assign(data, this.filter);
                this.list(data);
                this.$router.push({name: 'inter-office-report-list', query: data});
            },
            list: function (data) {

                return reportService.list('orders',data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.list(data);

                this.$router.push({name: 'inter-office-report-list', query: data});

            },
            initialize() {
                var response;
                var getBranches = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBranches().then(success => {
                                response = success.data;
                                this.branches = response;
                            });
                        });
                    },
                    getStatusOptions = (data) => {
                        resourceService.getStatusOptions(data).then(success => {
                            response = success.data;
                            this.statuses = response;
                        });
                    },
                    getPaymentStatusOptions = (data) => {
                        resourceService.getStatusOptions(data).then(success => {
                            response = success.data;
                            this.payment_statuses = response;
                        });
                    }
                getBranches()
                    .then(getStatusOptions({id: '1,2,3,7,8,10'}))
                    .then(getPaymentStatusOptions({id: '4,5'}));
            }
            

        }
    }
</script>

<style scoped>

</style>