<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters
                            </button>

                        </div>

                        <div class="col-md-8">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>

                    </div>
                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <date-picker @selected="changeFilter" format="yyyy-MM-dd" v-model="filter.date_from"
                                                 :value="filter.date_from" placeholder="Select Date"
                                                 :input-class="'form-control'" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <date-picker @selected="changeFilter" v-model="filter.date_to"
                                                 placeholder="Select Date" :readyonly="false"
                                                 :input-class="'form-control'" format="yyyy-MM-dd"
                                                 :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">
                            <th>Item</th>
                            <th>Color </th>
                            <th>Quantity </th>
                            <th>Unit </th>
                            <th>Amount</th>
                        </tr>
                        <tr v-for="(value,key) in data.data" :key="key">
                           <td>{{value.name}}</td>
                           <td>{{value.item_color ? value.item_color : 'NA'}}</td>
                           <td>{{value.orderQuantity}}</td>
                            <td>{{value.package_id == '1' ? 'PC' : 'METER'}}</td>
                            <td>{{formatNumber(value.amount)}}</td>
                        </tr>

                    </table>
                    <div class="col-md-6 text-left">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="config.prefix+'/reports/per-item-color-supplier/download' + asQueryParams(filter)" class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import {debounce} from "debounce";
    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import DatePicker from 'vuejs-datepicker';
    import ResourceService from "../../../../cores/services/resource/resource.service";
    import ReportService from "../../../../cores/services/admin/report/report.service";

    const config = Config;

    const alertService = new AlertService();
    const reportService = new ReportService();

    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent, DatePicker},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                },
                filter: {},
                data: {}

            }
        },
        mounted() {

            Object.assign(this.filter,this.$route.query);

            this.list(this.filter);
        },
        methods: {
            search: function (data) {
                Object.assign(this.filter,data);
                this.list(this.filter);
                this.$router.push({name: this.$route.name, query: this.filter});
            },
            changeFilter: debounce(function (){
                if(this.filter.date_to){
                    this.filter.date_to = this.formatDate(this.filter.date_to);
                }

                if(this.filter.date_from){
                    this.filter.date_from = this.formatDate(this.filter.date_from);
                }

                this.list(this.filter);
                this.$router.push({name: this.$route.name, query: this.filter});
            },1000),
            list: function (data) {
                let new_inv = [];
                let new_inv_holder = [];

                reportService.list('per-item-color-supplier',data).then(success => {
                    var response = success.data;
                    this.data = response;

                    console.log(this.data);
                    // new_inv = this.data.data;
                    // new_inv.forEach(function(value){
                    //     new_inv_holder.push(value);
                    // });

                    // console.log(new_inv_holder);
                });
            },

            remove: function (id) {

                return itemService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {

                Object.assign(this.filter,{page: page});
                this.list(this.filter);

                this.$router.push({name: this.$route.name, query: this.filter});

            }

        }
    }
</script>

<style scoped>

</style>
