<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" v-on:click.prevent="$route.params.id ? update() : store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'client-list' }" class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">


                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>

                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" v-model="data.email" class="form-control"
                                                   placeholder="Email">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-8 pr-3">
                                        <div class="form-group">
                                            <label>Address*</label>
                                            <input type="text" v-model="data.address" class="form-control"
                                                   placeholder="Address">
                                        </div>
                                    </div>

                                    <div class="col-md-4 pr-3">
                                        <div class="form-group">
                                            <label>Contact number*</label>
                                            <input type="text" v-model="data.contact_number" class="form-control"
                                                   placeholder="Contact Number">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Category*</label>
                                            <select class="form-control" v-model="data.user_type_id">
                                                <option v-for="(value,key) in user_types" :value="value.id" :key="key">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Sales Agent*</label>
                                            <select class="form-control" v-model="data.admin_id">
                                                <option v-for="(value,key) in sales_agents" :value="value.id" :key="key">
                                                    {{value.name}}
                                                </option>

                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Bank Name*</label>
                                            <input type="text" v-model="data.bank_name" class="form-control"
                                                   placeholder="Bank Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Bank Account Number*</label>
                                            <input type="text" v-model="data.bank_account_number" class="form-control"
                                                   placeholder="Account Number">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Bank Account Name*</label>
                                            <input type="text" v-model="data.bank_account_name" class="form-control"
                                                   placeholder="Account Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Credit Limit*</label>
                                            <input type="text" v-model="data.credit_limit" class="form-control"
                                                   placeholder="Credit Limit">
                                        </div>
                                    </div>

                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Payment Terms* (Days)</label>
                                            <input type="number" v-model="data.payment_terms" class="form-control"
                                                   placeholder="Payment Terms">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>TIN Number*</label>
                                            <input type="text" v-model="data.tin_number" class="form-control"
                                                   placeholder="TIN Number">
                                        </div>
                                    </div>

                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Business Style*</label>
                                            <input type="text" v-model="data.business_style" class="form-control"
                                                   placeholder="Business Style">
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>

        </div>

    </div>
</template>

<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import ClientService from "../../../../cores/services/admin/client/client.service";
    import ResourceService from "../../../../cores/services/resource/resource.service";
    import HistoryService from "../../../../cores/services/admin/history/history.service";


    const config = Config;


    const alertService = new AlertService();
    const resourceService = new ResourceService();
    const historyService = new HistoryService();
    const clientService = new ClientService();

    export default {
        data: function () {
            return {
                data: {},
                user_types: [],
                sales_agents: [],
                auth: resourceService.getAuth(),
                config: {
                    base_url: config.base_url,

                }
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {
                this.show(this.$route.params.id);
            }
        },
        methods: {

            store: function () {

                return clientService.store(this.data).then(success => {
                    alertService.saved();

                    this.data = {};
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });


            },
            update: function () {

                // Object.assign(this.data, this.image);
                // partnerService.update(this.data);
                return clientService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });


            },
            show(id) {

                return clientService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }, fail => {

                });

            },
            initialize() {

                var response;
                var getUserTypes = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getUserTypes().then(success => {
                                response = success.data;
                                this.user_types = response;
                            });
                        });
                    },
                    getSalesAgents = (data) => {
                        resourceService.getSalesAgents(data).then(success => {
                            response = success.data;
                            this.sales_agents = response;
                        });
                    }

                getUserTypes()
                    .then(getSalesAgents({branch_id: auth.branch_id}));

            }
        }
    }
</script>

<style scoped>

</style>