<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                            <router-link tag="a" :to="{ name: 'client-list' }" class="btn btn-warning btn-fill">
                                Close
                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">
                            <th>Operations</th>
                            <th>Order Number</th>
                            <th>Invoice Number</th>
                            <th>Grand Total</th>
                            <th>Date</th>


                        </tr>

                        <tr v-for="(value,key) in data.data"  :class="{'thead-yellow': value.payment_status_option_id == 5}">

                            <td class="text-center">

                                <router-link :to="config.prefix + '/order/clients/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">View Order
                                </router-link>

                            </td>

                            <td>{{value.order_number}}</td>
                            <td>{{value.invoice_number}}</td>
                            <td>{{formatNumber(value.grand_total)}}</td>
                            <td>{{value.created_at}}</td>

                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Total Receivables:
                            </td>
                            <td colspan="4" class="font-weight-bold">{{formatNumber(data.total_receivables ? data.total_receivables : 0)}}</td>
                        </tr>

                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    // import NewsPressService from "../../../../cores/services/admin/news-press/news-press.service";
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import ClientService from "../../../../cores/services/admin/client/client.service";

    const config = Config;

    const alertService = new AlertService();
    const clientService = new ClientService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,

                },
                data: {}
            }
        },
        mounted() {

            this.list(this.$route.params.id,this.$route.query);

        },
        methods: {
            search: function (data) {
                this.list(this.$route.params.id,data);
                this.$router.push({name: 'client-orders-list', query: data});
            },
            list: function (data) {

                return clientService.listOrders(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            remove: function (id) {

                return clientService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }

                this.list(this.$route.params.id,data);
                this.$router.push({name: 'client-orders-list', query: data});

            },
        }
    }
</script>

<style scoped>

</style>