<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="$route.path  + '/create'" class="btn btn-primary" >
                                Create Client
                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">
                            <th>Action</th>
                            <th>Client</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <!-- <th>Bank Name</th> -->
                            <th>Bank Account</th>
                            <th>Account no.</th>

                            <th>Credit Limit</th>
                            <th>Payment Terms</th>
                            <th>Tin no.</th>
                            <th>Business Style</th>
                            <!--<th>Description</th>-->


                        </tr>

                        <tr v-for="(value,key) in data.data" :class="{'thead-yellow' : !value.credit_status}">

                            <td class="text-center">
                                <router-link :to="$route.path + '/' + value.id +'/orders'" tag="a"
                                             class="text text-primary">View Orders
                                </router-link>
                                |

                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">Edit
                                </router-link>
                                |
                                 <a v-if="value.deleted_at == null" style="cursor: pointer;" @click="remove(value.id, 'active')" class="text text-danger"> Deactivate </a>
                                <a v-else style="cursor: pointer;" @click="remove(value.id,'inactive')" class="text text-danger">
                                    Activate </a>
                            </td>
                            <td>{{value.name}}</td>
                            <td>{{value.address}}</td>
                            <td>{{value.email}}</td>
                            <td>{{value.contact_number}}</td>
                            <!-- <td>{{value.bank_name}}</td> -->
                            <td>{{value.bank_name}}</td>
                            <td>{{value.bank_account_number}}</td>
                            <td>{{value.credit_limit == 0 ? '0.00' : formatNumber(parseFloat(value.credit_limit).toFixed(2))}}</td>
                            <td>{{value.payment_terms}}</td>
                            <td>{{value.tin_number}}</td>
                            <td>{{value.business_style}}</td>
                            <!--<td><p class="content-description">{{value.description}}</p></td>-->


                        </tr>


                    </table>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
                    <div class="col-md-6 text-left">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="config.prefix+'/clients/download' + asQueryParams($route.query)" class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    // import NewsPressService from "../../../../cores/services/admin/news-press/news-press.service";
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import ClientService from "../../../../cores/services/admin/client/client.service";
import ResourceService from '../../../../cores/services/resource/resource.service';

    const config = Config;
    const resourceService = new ResourceService();
    const alertService = new AlertService();
    const clientService = new ClientService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,

                },
                data: {},
                unpaid: {},
                auth: resourceService.getAuth()
            }
        },
        mounted() {

            this.list(this.$route.query);

        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name: 'client-list', query: data});
            },
            list: function (data) {

                return clientService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            remove: function (id,status) {
                var cb = () => {
                   swal({
                    title: "Delete record?",
                    text: "Deleting this record may cause data discrepancy..",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        // axios.delete(Config.base_url + '/api.admin/brands/' + id)
                        if(status == 'active'){
                            return clientService.delete(id)
                                .then((response) =>  {

                                    alertService.deleted();
                                    this.list(this.$route.query);
                                })
                                .catch(() => {
                                    swal("Error!", "Failed to delete!", "error");
                                })
                            } else {
                                return clientService.activate(id)
                                    .then((response) => {
                                        alertService.updated();
                                        this.list(this.$route.query);
                                    })
                                    .catch(() => {
                                        swal("Error!", "Failed to activate!", "error");
                                    })
                            }
                    }
                })
                }
                alertService.withConfirmation(cb, "You won't be able to revert this!");

            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.list(data);

                this.$router.push({name: 'client-list', query:data});

            }

        }
    }
</script>

<style scoped>

</style>
