<template>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="card">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">{{$route.meta.title}}</h4>
                            </div>
                            <div class="col-md-6 text-right">

                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'item-list' }"  class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>


                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab"
                                   aria-controls="images" aria-selected="false">SRP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="prices-tab" data-toggle="tab" href="#prices" role="tab"
                                   aria-controls="prices" aria-selected="false">PRICES</a>
                            </li>
                        </ul>


                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>SKU*</label>
                                            <input type="text" v-model="data.sku" class="form-control"
                                                   placeholder="SKU">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Item Code*</label>
                                            <input type="text" v-model="data.code" class="form-control"
                                                   placeholder="Item Code">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Restock at*</label>
                                            <input type="text" v-model="data.restock_at" class="form-control"
                                                   placeholder="Restock at">
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Brand*</label>
                                            <select class="form-control" v-model="data.brand_id">
                                                <option v-for="(value,key) in even(brands)" :value="value.id" :key="key">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Supplier*</label>

                                            <select class="form-control" v-model="data.supplier_id">
                                                <option v-for="(value,key) in suppliers" :value="value.id" :key="key">
                                                    {{value.name}}
                                                </option>

                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Category*</label>

                                            <select class="form-control" v-model="data.category_header_id">

                                                <option v-for="(value,key) in categories" :value="value.id" :key="key">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Sub Category*</label>
<!--                                            <select class="form-control" v-model="data.category_detail_id" v-if="data.category_detail_id != undefined">-->
<!--                                                <option  v-for="(value,key) in sub_categories" :value="value.id" v-if="data.category_header_id == value.category_header_id" :key="key">-->
<!--                                                    {{value.name}}-->
<!--                                                </option>-->
<!--                                            </select>-->
<!--                                            <select class="form-control" v-model="data.category_detail_id" v-else>-->
<!--                                                <option  v-for="(value,key) in sub_categories" :value="value.id" :key="key">-->
<!--                                                    {{value.name}}-->
<!--                                                </option>-->
<!--                                            </select>-->
                                            <select class="form-control" v-model="data.category_detail_id">
                                                <option  v-for="(value,key) in sub_categories" :value="value.id" v-if="data.category_header_id == value.category_header_id" :key="key">
                                                    {{value.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Package*</label>
                                            <select class="form-control" v-model="data.package_id">
                                                <option v-for="(value,key) in packages" :value="value.id" :key="key">
                                                    {{value.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Package Value*</label>
                                            <input type="text" v-model="data.package_option" class="form-control"
                                                   placeholder="Package Value" :disabled="data.package_id != 1">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" v-model="data.description">

                                            </textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Image/s & Color 
                                                <span style='font-size: 10px;'>(Recommended size: 1920x1080)</span>
                                                <input style="display:none; height: 48px;" type="file"
                                                       class="form-control"
                                                       accept="image/*"
                                                       @change="uploadImage($event)" id="file-input">
                                                <a class="btn btn-upload d-block">Color Name and Upload Image/s </a></label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">


                                    <div class="col-md-4" v-for="(value,key) in data.has_many_item_color" :key="key">

                                        <a @click="removeImage(key)" class="text text-dark"
                                           style="position: absolute; right:20px; cursor: pointer;"><i
                                                class="fa fa-times-circle"
                                                style="font-size:25px"></i></a>
                                        <img v-bind:src="value.path + value.file_name"
                                             class="img-thumbnail">
                                        <div class="form-group pt-3">
                                            <input type="text" v-model="data.has_many_item_color[key].name"
                                                   class="form-control"
                                                   placeholder="Colors">
                                        </div>

                                        <div>

                                            <label>
                                                <input type="radio" value="1" name="primary" v-model="value.primary"
                                                       v-on:click="setPrimaryImage(key)">
                                                Primary
                                            </label>
                                        </div>


                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="row" v-show="access.admin_role_id != 2">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Item Cost*</label>
                                            <input type="text" class="form-control" disabled v-model="itemCost
                                                                                                    ">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>SRP*</label>
                                            <input type="text" v-model="data.srp" class="form-control"
                                                   placeholder="000.00">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Price A*</label>
                                            <input type="text" v-model="data.price_a" class="form-control"
                                                   placeholder="000.00">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Price B*</label>
                                            <input type="text" v-model="data.price_b" class="form-control"
                                                   placeholder="000.00">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Price C*</label>
                                            <input type="text" v-model="data.price_c" class="form-control"
                                                   placeholder="000.00">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Price D*</label>
                                            <input type="text" v-model="data.price_d" class="form-control"
                                                   placeholder="000.00">
                                        </div>
                                    </div>
                                </div>

                            </div>

                                <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="prices-tab">
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-bordered ml-lg-3 table-order-items">
                                            <tr class="text-center thead-dark">
                                                <th>Date</th>
                                                <th>SRP</th>
                                                <th>Price A</th>
                                                <th>Price B</th>
                                                <th>Price C</th>
                                                <th>Price D</th>
                                            </tr>
                                            <tr v-for="(value, key) in data.has_many_srp_history" :key="key">
                                                <td>{{formatDate(value.created_at)}}</td>
                                                <td>{{formatNumber(value.srp)}}</td>
                                                <td>{{formatNumber(value.price_a)}}</td>
                                                <td>{{formatNumber(value.price_b)}}</td>
                                                <td>{{formatNumber(value.price_c)}}</td>
                                                <td>{{formatNumber(value.price_d)}}</td>
                                            </tr>
                                        </table>
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>


    import UploadService from '../../../../../cores/services/upload/upload.service';

    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import ItemService from "../../../../../cores/services/admin/inventory/item/item.service";
    import ResourceService from "../../../../../cores/services/resource/resource.service";


    const config = Config;
    const uploadService = new UploadService();

    const alertService = new AlertService();
    const itemService = new ItemService();
    const resourceService = new ResourceService();
    export default {
        data: function () {
            return {
                data: {
                    has_many_item_color: [],
                    has_one_supplier_order_detail : {
                        amount: 0
                    },
                    has_many_srp_history: []
                },
                access: {},
                brands: [],
                suppliers: [],
                categories: [],
                sub_categories: [],
                packages: [],
                config: {
                    base_url: Config.base_url,


                }
            }
        },

        mounted: function () {
            this.initialize();
            this.access = JSON.parse(localStorage.getItem('authAdmin'));
            if (this.$route.params.id) {
                this.show(this.$route.params.id);
            }

        },
        computed:{
            itemCost(){
            if(this.data.has_one_supplier_order_detail != null ){
               var number = Math.round(parseFloat(this.data.has_one_supplier_order_detail.amount) * 100) / 100;
                number = number.toFixed(2);
                return   number.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
            }
            var number = Math.round(parseFloat(this.data.srp) * 100) / 100;
                number = number.toFixed(2);
                return   number.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
            }
        },
        methods: {

            uploadImage(event) {
                alertService.uploading();
                uploadService.uploadImage('/api.admin/upload/image', event).then(success => {
                    success.data.primary = this.data.has_many_item_color.length == 0 ? 1 : 0;
                    this.data.has_many_item_color.push(success.data);

                    alertService.uploadSuccess();


                }, fail => {

                });

            },
            setPrimaryImage: function (id) {

                this.data.has_many_item_color.forEach((value, key) => {
                    value.primary = key == id ? 1 : 0;

                });

            },
            removeImage(key) {

                this.data.has_many_item_color.splice(key, 1);

            },
            store: function () {

                    alertService.uploading();

                return itemService.store(this.data).then(success => {
                         $.notifyClose();
                    alertService.saved();
                    this.data = {
                        has_many_item_color: [],
                        has_one_supplier_order_detail : {
                            amount: 0
                        },
                    };
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            update: function () {

                Object.assign(this.data, this.image);
                // partnerService.update(this.data);
                return itemService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            show(id) {

                return itemService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;
                    if(this.data.has_one_supplier_order_detail == null) {
                        this.data.has_one_supplier_order_detail.amount = 0;
                    }

                }, fail => {

                });

            },
            even: function(arr) {
                // Set slice() to avoid to generate an infinite loop!
                return arr.slice().sort(function(a, b) {
                    return a.position - b.position;
                });
            },
            initialize() {
                var response;
                var getBrands = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBrands().then(success => {
                                response = success.data;
                                this.brands = response;
                            });
                        });
                    },
                    getSuppliers = () => {
                        resourceService.getSuppliers().then(success => {
                            response = success.data;
                            this.suppliers = response;
                        });
                    },
                    getCategories = () => {
                        resourceService.getCategories().then(success => {
                            response = success.data;
                            this.categories = response;
                        });
                    },
                    getSubCategories = () => {
                        resourceService.getSubCategories().then(success => {
                            response = success.data;
                            this.sub_categories = response;
                        });
                    },
                    getPackages = () => {
                        resourceService.getPackages().then(success => {
                            response = success.data;
                            this.packages = response;
                        });
                    }
                getBrands()
                    .then(getSuppliers())
                    .then(getCategories())
                    .then(getSubCategories())
                    .then(getPackages());
            }
        }
    }
</script>

<style scoped>

</style>
