<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{$route.meta.title}} - Product Detail</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="{ name: 'item-list' }"  class="btn btn-warning btn-fill">
                                Close
                            </router-link>

                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">

                        <div class="col-md-6">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>

                    </div>



                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>ID</th>
                            <th>Action</th>
                            <th v-show="auth.admin_role_id == 1">Item Cost</th>
                            <th width="150px">Quantity</th>
                            <th>Branch</th>
                            <th>Date</th>



                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key">
                            <td>{{value.id}}</td>

                            <td>

                                <!-- <a v-if="value.branch_id == auth.branch_id" style="cursor: pointer;" @click="update(key)" class="text text-primary">
                                    Update </a> -->
                                <a v-if="!isDisabled" style="cursor: pointer;" @click="update(key)" class="text text-primary">
                                    Update </a>

                            </td>
                            <td v-show="auth.admin_role_id == 1">{{formatNumber(value.amount)}}</td>
                            <td>
                                <!-- <input :disabled="value.branch_id != auth.branch_id" type="number"
                                       v-model="data.data[key].quantity"
                                       class="form-control fc-table px-1"> -->
                                <input :disabled="isDisabled" type="number"
                                       v-model="data.data[key].quantity"
                                       class="form-control fc-table px-1">

                            </td>
                            <td>{{value.branch.name}}</td>
                            <td>{{value.created_at}}</td>


                        </tr>

                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="data.total / data.per_page"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';
    import ItemBranchService from "../../../../../cores/services/admin/inventory/item/item-branch.service";
    import ResourceService from "../../../../../cores/services/resource/resource.service";

    const config = Config;

    const alertService = new AlertService();

    const itemBranchService = new ItemBranchService();
    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                    title: 'List Items',
                },
                data: {},
                auth: resourceService.getAuth(),
                filter:{
                    branch: ''
                },
                isDisabled: true,

            }
        },
        mounted() {

            this.show(this.$route.params.id,this.$route.query);
            Object.assign(this.filter,this.$route.query);
            if(auth.admin_role_id == 1 || auth.admin_role_id == 2){
                this.isDisabled = false;
            }
            console.log(this.isDisabled);
            console.log(auth.admin_role_id);

        },
        methods: {

            search: function (data) {
                Object.assign(this.filter,data);
                this.list(this.filter);
                this.$router.push({name: 'item-show', query: this.filter});
            },
            show: function (id,query) {

                return itemBranchService.show(id,query).then(success => {
                    var response = success.data;
                    this.data = response;
                    // this.filter = response.query_params;

                });
            },

            update: function (key) {
                var data = this.data.data[key];
                return itemBranchService.update(data).then(success => {
                    alertService.updated();
                }, fail => {

                });
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.show(this.$route.params.id,data);

                this.$router.push({name: 'item-show', query: data});

            }


        }
    }
</script>

<style scoped>

</style>