<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title">{{$route.meta.title}}</h3>
                        </div>
                        <div class="col-md-6 text-right">

                            <router-link tag="a" :to="$route.path  + '/create'" class="btn btn-primary">
                                Create Branch

                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>
                                                                                                                                            
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th v-show="auth.admin_role_id === 1 || auth.admin_role_id === 2 || auth.admin_role_id === 3">Action</th>
                            <th>Name</th>
                            <th>Type</th>
                            <!--<th>Description</th>-->


                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key">
                            <td class="text-center" v-show="auth.admin_role_id === 1 || auth.admin_role_id === 2 || auth.admin_role_id === 3">
                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">Edit
                                </router-link>
                                <!-- |
                                <a style="cursor: pointer;" @click="remove(value.id)" class="text text-danger"> Delete </a> -->
                            </td>
                            <td>{{value.name}}</td>
                            <td>{{value.branch_type.name}}</td>
                            <!--<td><p class="content-description">{{value.description}}</p></td>-->

                        </tr>

                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';

    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import BranchService from "../../../../cores/services/admin/branch/branch.service";
    import ResourceService from '../../../../cores/services/resource/resource.service';

    const config = Config;

    const alertService = new AlertService();
    const branchService = new BranchService();
    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                  
                },
                data: {},
                auth: resourceService.getAuth(),
            }
        },
        mounted() {

            this.list(this.$route.query);

        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name: 'branch-list', query: data});
            },
            list: function (data) {

                return branchService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            remove: function (id) {
                var cb = () => {
                swal({
                    title: "Delete record?",
                    text: "Deleting this record may cause data discrepancy..",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        return branchService.delete(id)
                            .then((response) =>  {
                                alertService.deleted();
                                this.list(this.$route.query);
                            })
                            .catch(() => {
                                swal("Error!", "Failed to delete!", "error");
                            })
                    }
                })
                 }
                alertService.withConfirmation(cb, "You won't be able to revert this!");
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                // if (this.$route.query.keyword) {
                //     data.keyword = this.$route.query.keyword;
                // }
                Object.assign(data, this.filter);
                this.list(data);

                this.$router.push({name: 'branch-list', query:data});

            },
        }
    }
</script>

<style scoped>

</style>