<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                            <router-link tag="a" :to="{ name: 'dashboard' }" class="btn btn-warning btn-fill">
                                Close
                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="text-right">
                                <!--<admin-search-component @click-handler="search"/>-->
                            </div>
                        </div>
                    </div>





                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Name</th>
                            <th>SKU</th>
                            <th>Quantity</th>
                        </tr>

                        <tr v-for="(value,key) in data">


                            <td>{{value.name}}</td>
                            <td>{{value.sku}}</td>
                            <td>{{value.has_many_branch_item_detail_count_quantity}}</td>



                        </tr>

                    </table>

                </div>
            </div>
                    <div class="col-md-6 text-left">
                        <a :href="config.prefix+'/dashboard/most-supply-items/download' + asQueryParams($route.query)" class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>
        </div>
    </div>
</template>
<script>


    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import DashboardService from "../../../../../cores/services/admin/dashboard/dashboard.service";
    const config = Config;

    const alertService = new AlertService();

    const dashboardService = new DashboardService();
    export default {

        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,

                },
                data: {

                }
            }
        },
        mounted() {

            this.list(this.$route.query);

        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name: 'list-most-supply-item', query: data});
            },
            list: function (data) {

                return dashboardService.getMostSupplyItems(data).then(success => {
                    var response = success.data;
                    this.data = response;

                });
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.list(data);

                this.$router.push({name: 'list-most-supply-item', query:data});

            },

        }
    }
</script>

<style scoped>

</style>