<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'role-list' }" class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>
                            <!--<li class="nav-item">-->
                            <!--<a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab"-->
                            <!--aria-controls="images" aria-selected="false">Images</a>-->
                            <!--</li>-->

                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Max Discount*</label>
                                            <input type="number" v-model="data.max_discount" class="form-control"
                                                   placeholder="Max Discount">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Roles*</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Main*</label>
                                                    <template v-for="(value,key) in roles">
                                                        <div class="row" v-if="value.group == 1">
                                                            <div class="col-md-12">
                                                                <label>
                                                                    <input type="checkbox" :true-value="value.name"
                                                                           :checked="value.status"
                                                                           v-on:click="checkRoles(value.name)">
                                                                    {{value.name}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Inventory*</label>
                                                    <template v-for="(value,key) in roles">
                                                        <div class="row" v-if="value.group == 2">
                                                            <div class="col-md-12">
                                                                <label>
                                                                    <input type="checkbox" :true-value="value.name"
                                                                           :checked="value.status"
                                                                           v-on:click="checkRoles(value.name)">
                                                                    {{value.name}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Orders*</label>
                                                    <template v-for="(value,key) in roles">
                                                        <div class="row" v-if="value.group == 3">
                                                            <div class="col-md-12">
                                                                <label>
                                                                    <input type="checkbox" :true-value="value.name"
                                                                           :checked="value.status"
                                                                           v-on:click="checkRoles(value.name)">
                                                                    {{value.name}}
                                                                </label>

                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</template>

<script>


    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import RoleService from "../../../../../cores/services/admin/account/role/role.service";

    const config = Config;

    const alertService = new AlertService();


    const resourceService = new ResourceService();
    const roleService = new RoleService();
    export default {

        data: function () {
            return {
                data: {
                    roles: []
                },
                roles: [],
                branches: [],
                admin_roles: [],
                config: {
                    base_url: config.base_url,

                },

            }
        },
        mounted: function () {

            this.roles = [
                {
                    "name": "Dashboard",
                    "status": false,
                    "group": 1
                },
                {
                    "name": "Agent Dashboard",
                    "status": false,
                    "group": 1
                },
                {
                    "name": "Inventory",
                    "status": false,
                    "group": 2

                },
                {
                    "name": "Items",
                    "status": false,
                    "group": 2
                },

                {
                    "name": "Brands",
                    "status": false,
                    "group": 2
                },
                {
                    "name": "Suppliers",
                    "status": false,
                    "group": 2
                },
                {
                    "name": "Categories",
                    "status": false,
                    "group": 2
                },
                {
                    "name": "Sub Categories",
                    "status": false,
                    "group": 2
                },
                {
                    "name": "Clients",
                    "status": false,
                    "group": 1
                },

                {
                    "name": "Branches",
                    "status": false,
                    "group": 1
                },
                {
                    "name": "Accounts",
                    "status": false,
                    "group": 1
                },
                {
                    "name": "Orders",
                    "status": false,
                    "group": 3

                },
                {
                    "name": "Franchise Orders",
                    "status": false,
                    "group": 3
                },
                {
                    "name": "Inter Office Orders",
                    "status": false,
                    "group": 3
                },
                {
                    "name": "Walk In Orders",
                    "status": false,
                    "group": 3
                },
                {
                    "name": "Pre Orders",
                    "status": false,
                    "group": 3
                },
                {
                    "name": "DR Orders",
                    "status": false,
                    "group": 3
                },
                {
                    "name": "Quotation Orders",
                    "status": false,
                    "group": 3
                },
                {
                    "name": "Supplier Invoices",
                    "status": false,
                    "group": 1
                },
                {
                    "name": "Supplier Invoices Abroad",
                    "status": false,
                    "group": 1
                },
                {
                    "name": "Reports",
                    "status": false,
                    "group": 1
                },
                {
                    "name": "Histories",
                    "status": false,
                    "group": 1
                },
                {
                    "name": "Promos",
                    "status": false,
                    "group": 1
                },
            ];


            if (this.$route.params.id) {


                this.show(this.$route.params.id);
            }


        },
        methods: {

            checkRoles: function (value) {

                const found = this.data.roles.some(el => el == value);

                if (found) {

                    this.data.roles.splice(this.data.roles.indexOf(value), 1);
                }
                else {
                    this.data.roles.push(value);
                }


            },
            store: function () {
                this.data.roles = JSON.stringify(this.data.roles);
                return roleService.store(this.data).then(success => {
                    alertService.saved();
                    this.data = {};
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            update: function () {


                this.data.roles = JSON.stringify(this.data.roles);

                return roleService.update(this.data).then(success => {
                    alertService.updated();
                    this.show(this.$route.params.id);
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            show(id) {

                return roleService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                    this.data.roles = JSON.parse(this.data.roles);

                    this.data.roles.forEach((value, key) => {
                        this.roles.forEach((r, k) => {
                            if (value == this.roles[k].name) {
                                this.roles[k].status = true;
                            }
                        });
                    });


                }, fail => {

                });

            }
        }
    }
</script>

<style scoped>

</style>