<template>
    <div class="row">
        <div class="col-md-12">


            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title">{{$route.meta.title}}</h3>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">

                            <router-link tag="a" :class="'media border'" :to="{name: 'list-restock-item' }" >

                                <img class="align-self-start mr-3 w-50"
                                     :src="restock.has_one_item_color ? restock.has_one_item_color.path + restock.has_one_item_color.file_name : '/images/default.png' "
                                     alt="Generic placeholder image">

                                <div class="media-body">
                                    <h4 class="mt-3">Items that need to restock</h4>
                                    <p>{{restock.name}}</p>

                                </div>

                            </router-link>


                        </div>

                        <div class="col-md-6">

                            <router-link tag="a" :class="'media border'" :to="{name: 'list-most-supply-item' }" >


                                <img class="align-self-start mr-3 w-50"
                                     :src="supply.has_one_item_color ? supply.has_one_item_color.path + supply.has_one_item_color.file_name : '/images/default.png' "
                                     alt="Generic placeholder image">

                                <div class="media-body">
                                    <h4 class="mt-3">Item which has most supply</h4>
                                    <p>{{supply.name}}</p>

                                </div>

                            </router-link>


                        </div>


                    </div>



                    <!--<div class="row mt-4">-->
                        <!--<div class="col-md-6">-->

                            <!--<router-link tag="a" :class="'media border'" :to="{name: 'list-fast-moving-item' }" >-->

                                <!--<img class="align-self-start mr-3 w-50"-->
                                     <!--:src="moving.has_one_item_color ? moving.has_one_item_color.path + moving.has_one_item_color.file_name : '/images/default.png' "-->
                                     <!--alt="Generic placeholder image">-->

                                <!--<div class="media-body">-->
                                    <!--<h4 class="mt-3">Fast moving items</h4>-->
                                    <!--<p>{{moving.name}}</p>-->

                                <!--</div>-->

                            <!--</router-link>-->

                        <!--</div>-->

                    <!--</div>-->

                    <!--<div class="row mt-3">-->
                    <!--<div class="col-md-6">-->


                    <!--<div class="media border">-->
                    <!--<img class="align-self-start mr-3 w-50" :src="restock.has_one_item_color ? restock.has_one_item_color.path + restock.has_one_item_color.file_name : '' " alt="Generic placeholder image">-->
                    <!--<div class="media-body">-->
                    <!--<h4 class="mt-3">Items that need to restock</h4>-->
                    <!--<p>{{restock.name}}</p>-->

                    <!--</div>-->
                    <!--</div>-->


                    <!--</div>-->


                    <!--</div>-->
                </div>
                <div class="card-body" v-show="condition.includes(true) === true">  
                    <div class="row">
                        <div class="col-md-6">
                            <router-link tag="a" :to="{ name: 'import-data' }" class="btn btn-primary btn-fill">
                                Import Data
                            </router-link>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>

    import DashboardService from "../../../../cores/services/admin/dashboard/dashboard.service";
    import ResourceService from "../../../../cores/services/resource/resource.service";

    const dashboardService = new DashboardService();
    const RS = new ResourceService();

    export default {
        data: function () {
            return {
                restock: {},
                supply: {},
                config: {},
                branch_type: RS.getAuth(),
                moving:{},
                condition:''
            }
        },
        mounted: function () {
            this.initialize();
            this.condition = [
                this.branch_type.admin_role_id === 1,
                this.branch_type.admin_role_id === 2,
                this.branch_type.admin_role_id === 3
            ];
        },
        methods: {
            initialize() {
                var response;
                var getItemRestock = () => {
                        return new Promise((resolve, reject) => {
                            dashboardService.getRestockItem().then(success => {
                                response = success.data;
                                this.restock = response;

                            });
                        });
                    },
                    getMostSupplyItem = () => {

                        dashboardService.getMostSupplyItem().then(success => {
                            response = success.data;
                            this.supply = response;

                        });

                    },
                    getFastMovingItem = () => {

                        dashboardService.getFastMovingItem().then(success => {
                            response = success.data;
                            this.moving = response;

                        });

                    }
                getItemRestock()
                    .then(getMostSupplyItem())
                    .then(getFastMovingItem());
            }
        }
    }
</script>

<style scoped>

</style>