<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Action</th>
                            <th>Name</th>
                            <th>Sales</th>

                        </tr>

                        <tr v-for="(value,key) in data.data">

                            <td class="text-center">
                                <router-link :to="$route.path + '/orders?id='+value.id+'&name='+value.name" tag="a"
                                             class="text text-primary">Show
                                </router-link>

                            </td>
                            <td>{{value.name}}</td>
                            <td>{{formatNumber (value.has_many_order_header_grand_total ? value.has_many_order_header_grand_total : 0)}}</td>


                        </tr>

                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="data.total / data.per_page"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';

    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import AgentDashboardService from "../../../../cores/services/admin/agent-dashboard/agent-dashboard.service";


    const config = Config;

    const alertService = new AlertService();
    const agentDashboardService = new AgentDashboardService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,

                },
                data: {}
            }
        },
        mounted() {

            this.list(this.$route.query);

        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name: 'list-agent-dashboard', query: data});
            },
            list: function (data) {

                return agentDashboardService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            remove: function (id) {

                return clientService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.list(data);

                this.$router.push({name: 'list-agent-dashboard', query:data});

            },
        }
    }
</script>

<style scoped>

</style>