<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.query.name}} Sales  Summary</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="{ name: 'list-agent-dashboard' }"
                                         class="btn btn-warning btn-fill">
                               Back
                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse" href="#moreFilter"
                                    role="button" aria-expanded="false" aria-controls="moreFilter">
                                More Filters

                            </button>

                        </div>


                        <div class="col-md-8">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>

                    </div>

                    <div class="row collapse pt-4" id="moreFilter">

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <date-picker @selected="changeFilter" format="yyyy-MM-dd" v-model="filter.date_from" :value="filter.date_from" placeholder="Select Date" :input-class="'form-control'" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Date To</label>
                                    <date-picker @selected="changeFilter" v-model="filter.date_to" placeholder="Select Date"  :readyonly="false"
                                                 :input-class="'form-control'" format="yyyy-MM-dd" :typeable="true"></date-picker>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <!--<th>Action</th>-->
                            <th>Invoice Number</th>
                            <th>Grand Total</th>

                        </tr>

                        <tr v-for="(value,key) in data.data">

                            <!--<td>-->
                                <!--<router-link :to="$route.path + '/' + value.id" tag="a"-->
                                             <!--class="text text-primary">Show-->
                                <!--</router-link>-->

                            <!--</td>-->
                            <td>{{value.invoice_number}}</td>
                            <td>{{formatNumber (value.grand_total ? value.grand_total : 0)}}</td>


                        </tr>

                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import DatePicker from 'vuejs-datepicker';
    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';

    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import AgentDashboardService from "../../../../cores/services/admin/agent-dashboard/agent-dashboard.service";


    const config = Config;

    const alertService = new AlertService();
    const agentDashboardService = new AgentDashboardService();
    export default {
        components: {AdminSearchComponent, PaginateComponent,DatePicker},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,

                },
                data: {},
                filter: {}
            }
        },
        mounted() {

            this.list(this.$route.query);

            this.filter = Object.assign(this.$route.query);

            console.log(this.filter);
        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name:  this.$route.name, query: data});
            },
            changeFilter: function(){
                this.filter.date_to = this.formatDate( this.filter.date_to);
                this.filter.date_from = this.formatDate( this.filter.date_from);

                this.list(this.filter);
                this.$router.push({name: this.$route.name, query:this.filter});
            },
            list: function (data) {

                return agentDashboardService.listOrder(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },
            remove: function (id) {

                return clientService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.list(data);

                this.$router.push({name: 'client-list', query:data});

            },
        }
    }
</script>

<style scoped>

</style>
