


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.table-order-items{
  .thead-dark {
    th {
      background: $darkBlue;
    }

  }
  .thead-yellow {
    th ,td{
      background: $darkYellow;
    }
  }
    .thead-orange {
        th ,td{
            background: $filter-orange;
            .text-primary{
                color: $black !important;
                //font-weight: bold;
            }
        }
    }
  th{
    font-size: .90rem;
  }
  td{
    font-size: .90rem;
  }
}

.fc-table {
  font-size: .90rem;
  height: 20px;
  border-radius:0;
}

.wpx-500 {
  width: 500px;
}
//.modal-backdrop{
//  position: relative !important;
//}

.mb-4,
.my-4 {
  margin-bottom: -0.5rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.btn-primary {
  border-color: #e56c51;
  color: #e56c51;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
.btn-primary:disabled:active,
.btn-primary:disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: transparent;
  border-color: #e56c51;
}

.btn-primary.btn-fill {
  color: #FFFFFF;
  background-color: #e56c51;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-primary .caret {
  border-top-color: #e56c51;
}

ul.pagination li a {
  color: #e56c51;
}

ul.pagination li.active {
  background: #e56c51;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-color: transparent;
  color: #da6e55;
  border-color: #da6e55;
}

.btn-primary.btn-fill:hover,
.btn-primary.btn-fill:focus,
.btn-primary.btn-fill:active,
.btn-primary.btn-fill.active,
.open > .btn-primary.btn-fill.dropdown-toggle {
  background-color: #da6e55;
  color: #FFFFFF;
}

.btn-primary:hover {
  color: #ce6148;
  background-color: #FFFFFF;
  border-color: #ce6148;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ce6148;
  border-color: #005cbf;
}

a.badge-primary:hover,
a.badge-primary:focus {
  color: #fff;
  background-color: #ce6148;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #ce6148 !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #b75640;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ce6148;
  border-color: #b75640;
}

.btn-primary:focus,
.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(234, 137, 115, 1);
          box-shadow: 0 0 0 0.2rem rgba(234, 137, 115, 1);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(234, 137, 115, 1);
          box-shadow: 0 0 0 0.2rem rgba(234, 137, 115, 1);
}

.text-primary {
  color: #e56c51 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #984d3b !important;
}

.text-primary:hover {
  color: #984d3b !important;
}
.swal-footer {
  text-align: center;
}
