<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" v-if="$route.params.id && data.status_option_id == config.status.in_transit"
                                        v-on:click="update(config.status.delivered)"
                                        class="btn btn-primary btn-fill">Receive
                                </button>

                                <button type="button" v-if="!$route.params.id"
                                        v-on:click="store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>


                                <router-link tag="a" :to="{ name: 'inter-office-order-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Aurora Blvd</small></span>
                                        <span class="d-block fs-12"><small>Project 4, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Delivery Number*</label>

                                            <input type="text" v-model="data.order_number" class="form-control"
                                                   placeholder="Delivery Number" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Invoice Number*</label>

                                            <input type="text" v-model="data.invoice_number" class="form-control"
                                                   placeholder="Invoice Number" :disabled="true" maxlength="12">
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Branch*</label>
                                            <select class="form-control" v-model="data.branch_id"
                                                    :disabled="$route.params.id || data.has_many_order_reference != 0">
                                                <option v-for="(value,key) in branches" :value="value.id">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <!--<th>Discount</th>-->    
                                                    <th>Quantity</th>
                                                     <th v-if="data.status_option_id == config.status.in_transit || data.status_option_id == config.status.delivered">Receive</th>


                                                </tr>

                                                <tr v-for="(value, key) in data.has_many_order_reference">
                                                    <td class="text-center ">
                                                        <a v-if="!$route.params.id" style="cursor: pointer;"
                                                           @click="remove(key)"
                                                           class="text text-danger">Delete </a>
                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td>{{value.item.description}}</td>
                                                    <!--<td><input type="number" class="form-control fc-table px-1"-->
                                                    <!--&gt;</td>-->
                                                    <td><input type="text"
                                                               v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                              :disabled="$route.params.id" >
                                                    </td>
                                                    <td v-if="data.status_option_id == config.status.in_transit || data.status_option_id == config.status.delivered">
                                                        <input type="number" v-model="value.receive"
                                                               :disabled="data.status_option_id == config.status.delivered"
                                                               class="form-control fc-table px-1">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>



                                                </tr>

                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <div class="row" v-if="$route.params.id">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Note*</label>
                                            <textarea :disabled="$route.params.id"
                                                      v-model="data.notes" placeholder="Notes.."
                                                      class="form-control"></textarea>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" v-if="!$route.params.id">
                                            <admin-order-item-selection-component @click-handler="saveSelectedItem"
                                                                                  :parent="data"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>


    import AdminOrderItemSelectionComponent from '../../../../../cores/includes/admin-order-item-selection.component';

    import Config from '../../../../../configs/app.config';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import OrderService from "../../../../../cores/services/admin/order/order.service";


    const config = Config;


    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    export default {
        components: {AdminOrderItemSelectionComponent},
        data: function () {
            return {
                data: {
                    grand_total: 0,
                    has_many_order_reference: [],
                    has_many_order_detail: [],
                    customer_type: 'admins',
                    customer_id: auth.id,
                    order_type_id: 2,
                    prefix: "DR"
                },
                branches: [],
                config: {
                    base_url: config.base_url,
                    status: config.status

                },
                suppliers: []
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {

                this.show(this.$route.params.id);
            }


        },
        methods: {
            saveSelectedItem: function (data) {

                if (data.length != 0) {

                    var inputs = {};

                    data.forEach((value, key) => {

                        inputs = {
                            item: value,
                            item_id: value.id,
                            amount: 0,
                            quantity: 0,
                            total: 0
                        }

                        this.data.has_many_order_reference.push(inputs);
                    });

                }


            },
            remove(key) {


                this.$delete(this.data.has_many_order_reference, key)
            },
            store: function () {
                    alertService.uploading();
                return orderService.store(this.data).then(success => {
                    $.notifyClose();
                    alertService.saved();
                    this.data = {
                        grand_total: 0,
                        has_many_order_reference: [],
                        has_many_order_detail: [],
                        customer_type: 'admins',
                        customer_id: '1',
                        order_type_id: 1,
                        prefix: "DR"
                    }
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });


            },
            show(id) {
                return orderService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;


                }, fail => {

                });

            },
            update: function (status) {

                this.data.status_option_id = status;
                return orderService.update(this.data).then(success => {
                    alertService.updated();
                    if (this.data.status_option_id == this.config.status.in_transit) {
                            orderService.nonFranchiseValidateQuantity(this.data).then(success => {
                                orderService.orderToTransit(this.data);
                            }, fail => {
                                var errors = fail.response.data.errors;
                                this.popErrors(errors);
                            });
                        }
                        if (this.data.status_option_id == this.config.status.delivered) {
                            orderService.orderToReceive(this.data);
                        }

                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });


            },
            initialize() {


                var getBranches = (data) => {
                    return new Promise((resolve, reject) => {
                        resourceService.getBranches(data).then(success => {
                            this.branches = success.data;
                        });
                    });
                }
                getBranches({id:auth.id, branch_type_id: 1});

            }
        }
    }
</script>

<style scoped>

</style>
