<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                           
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>
                                                                                                                                            
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">                          
                            <th >User</th>
                            <th >History</th>
                            <th width="20%">Date</th>
                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key">
                            <td v-if="value.admin">{{value.admin.name}}</td>
                            <td v-else>Anonymous</td>
                            <td v-if="value.link">
                                <a @click="historyRedirect(value)" style="border-radius: 0 !important; cursor: pointer;">
                                    {{value.action}}
                                </a>
                            </td>
                            <td v-else>{{value.action}}</td>
                            <td>{{value.created_at}}</td>
                        </tr>

                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';

    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import HistoryService from "../../../../cores/services/admin/history/history.service";

    const config = Config;

    const alertService = new AlertService();
    const historyService = new HistoryService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                  
                },
                data: {}
            }
        },
        mounted() {

            this.list(this.$route.query);

        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name: 'history-list', query: data});
            },
            list: function (data) {
                return historyService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },
            historyRedirect: function(data){
                this.$router.push({path: data.link});
            },

            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.list(data);

                this.$router.push({name: 'history-list', query:data});

            },
        }
    }
</script>

<style scoped>

</style>
