<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">{{$route.meta.title}}</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" v-on:click.prevent="$route.params.id ? update() : store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'promo-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Promo Type*</label>
                                            <select class="form-control" v-model="data.promo_type_id" disabled>
                                                <option value="1"> Percentage Amount</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>

                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Percentage*</label>
                                            <input type="text" v-model="data.amount" class="form-control"
                                                   placeholder="Percentage">
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>



    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import PromoService from "../../../../cores/services/admin/promo/promo.service";
    import ResourceService from "../../../../cores/services/resource/resource.service";


    const config = Config;


    const alertService = new AlertService();
    const promoService = new PromoService();
    const resourceService = new ResourceService();

    export default {
        data: function () {
            return {
                data: {
                    promo_type_id: 1,
                },
                promos: [],
                config: {
                    base_url: config.base_url,
                    title: 'Create Sub Category',
                    button_label: 'Save'
                }
            }
        },
        mounted: function () {

            if (this.$route.params.id) {
                this.config.title = 'Update Sub Category';
                this.config.button_label = 'Update';
                this.show(this.$route.params.id);
            }

        },
        methods: {


            removeImage() {

                this.data.path = '';
                this.data.file_name = '';
            },
            store: function () {
                    alertService.uploading();
                return promoService.store(this.data).then(success => {
                    $.notifyClose();
                    alertService.saved();
                    this.data = {
                        promo_type_id: 1
                    }
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            update: function () {

                // Object.assign(this.data, this.image);
                // partnerService.update(this.data);
                return promoService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            show(id) {
                return promoService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }, fail => {

                });

            }

        }
    }
</script>

<style scoped>

</style>
