<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <print-component :data="data" v-if="$route.params.id"/>
                                <button type="button"
                                        v-if="$route.params.id && data.status_option_id == config.status.in_transit"
                                        v-on:click="update(config.status.delivered)"
                                        class="btn btn-primary btn-fill">Receive
                                </button>

                                <button type="button"
                                        v-on:click="$route.params.id ? update(config.status.pending) : store() "
                                        class="btn btn-primary btn-fill" v-if="!$route.params.id">
                                    Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'quotation-order-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Corporate Centre Building</small></span>
                                        <span class="d-block fs-12"><small> Aurora Blvd. Cubao, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Branch*</label>
                                            <select class="form-control" v-model="data.branch_id"
                                                    :disabled="$route.params.id">
                                                <option v-for="(value,key) in branches" :value="value.id"
                                                        v-show="value.id == auth.branch.id">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Discount</label>
                                            <select :disabled="$route.params.id" class="form-control"
                                                    @change="changeDiscount">
                                                <option :value="0">No Discount</option>
                                                <option v-for="(value,key) in promos" :value="value.amount">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label>Client*</label>
                                            <select class="form-control" v-model="data.customer_id"
                                                    :disabled="$route.params.id">
                                                <option v-for="(value,key) in clients" :value="value.id">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>
                                                    <th>Image</th>
                                                    <th>Description</th>
                                                    <th>Discount</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Amount</th>


                                                </tr>

                                                <tr v-for="(value, key) in data.has_many_order_reference">
                                                    <td class="text-center ">


                                                        <a v-if="!$route.params.id" style="cursor: pointer;"
                                                           @click="remove(key)"
                                                           class="text text-danger">Delete </a>


                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td >

                                                        <img v-if="value.item.has_one_item_color" :src="value.item.has_one_item_color.path  + value.item.has_one_item_color.file_name" class="w-50 d-block mx-auto">
                                                    </td>
                                                    <td>{{value.item.description}}</td>
                                                    <td width="130px">
                                                        <input type="number" @input="changePrice"
                                                               v-model="value.discount"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>

                                                    <td width="130px">
                                                        <input type="number" @input="changePrice"
                                                               v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>
                                                    <td>{{formatNumber (value.amount)}}</td>
                                                    <td>{{formatNumber (value.total)}}</td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>


                                                </tr>

                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total Discount</td>
                                                    <td>{{ formatNumber (data.discount)}}</td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>VAT</td>
                                                    <td>{{ formatNumber (data.vat)}}</td>

                                                </tr>
                                                <tr v-if="$route.query.ticket_id">
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Credit</td>
                                                    <td>{{ formatNumber (credit.grand_total)}}</td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total Sales</td>
                                                    <td>{{ formatNumber (data.total)}}</td>

                                                </tr>
                                                <tr v-if="data.order_payment_type_id == 2">
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Vat</td>
                                                    <td>{{ formatNumber (data.vat)}}</td>


                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Grand Total</td>
                                                    <!--<td>{{parseInt(data.grand_total).toFixed(2)}}</td>-->
                                                    <td>{{ formatNumber (data.grand_total)}}</td>

                                                </tr>


                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-md-6 text-left">

                                        <a v-if="$route.params.id"
                                           :href="config.prefix+'/export/quotation-order/download' + asQueryParams({id : $route.params.id})"
                                           class="btn btn-warning btn-fill">Export
                                            to CSV</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <admin-order-item-selection-component v-if="!$route.params.id"
                                                                                  @click-handler="saveSelectedItem"
                                                                                  :parent="data"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>


    import AdminOrderItemSelectionComponent from '../../../../../cores/includes/admin-order-item-selection.component';

    import Config from '../../../../../configs/app.config';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import OrderService from "../../../../../cores/services/admin/order/order.service";
    import PrintComponent from '../../../../../cores/includes/admin-print.component';

    const config = Config;


    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    export default {
        components: {AdminOrderItemSelectionComponent,PrintComponent},
        data: function () {
            return {
                data: {
                    discount: 0,
                    total: 0,
                    vat: 0,
                    grand_total: 0,
                    has_many_order_reference: [],
                    has_many_order_detail: [],
                    customer_type: 'users',
                    order_type_id: 5,
                    branch_id: auth.admin_role_id === 1 ? '' : auth.branch_id,
                    prefix: 'QR'
                },
                promos: [],
                branches: [],
                clients: [],
                config: {
                    base_url: config.base_url,
                    status: config.status,
                    prefix: config.admin_prefix,
                },
                suppliers: [],
                auth: resourceService.getAuth()
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {

                this.show(this.$route.params.id);
            }


        },
        methods: {
            saveSelectedItem: function (data) {

                if (data.length != 0) {


                    var inputs = {};

                    data.forEach((value, key) => {

                        inputs = {
                            item: value,
                            item_id: value.id,
                            amount: value.srp,
                            quantity: 0,
                            total: 0,
                            discount: 0,
                        }

                        this.data.has_many_order_reference.push(inputs);
                    });

                }


            },
            remove(key) {


                this.$delete(this.data.has_many_order_reference, key);
                this.calculateTotal();
            },
            changeDiscount: function ($event) {

                console.log($event.target.value);
                this.calculateTotal($event.target.value);


            },
            changePrice: function () {

                this.calculateTotal('');
            },
            store: function () {
                alertService.uploading();
                this.data.invoice_date = this.formatDate();
                return orderService.store(this.data).then(success => {
                    $.notifyClose();
                    alertService.saved();
                    var response = success.data;
                    this.data = {
                        discount: 0,
                        total: 0,
                        vat: 0,
                        grand_total: 0,
                        has_many_order_reference: [],
                        has_many_order_detail: [],
                        customer_type: 'admins',
                        customer_id: '1',
                        order_type_id: 5,
                        prefix: 'QR'
                    }

                    this.$router.push({path: this.config.prefix + '/order/quotations/'+response.id+'/edit'});
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });


            },
            update: function (status) {

                this.data.status_option_id = status;
                return orderService.update(this.data).then(success => {
                    alertService.updated();

                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });


            },
            show(id) {
                return orderService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;
                    // console.log(this.data);


                }, fail => {

                });

            },
            calculateTotal: function (promo) {

                this.data.total = 0;
                this.data.discount = 0;
                var discount = 0;



                this.data.has_many_order_reference.forEach((value, key) => {


                    value.discount = promo != '' ? promo : value.discount;


                    value.total = value.amount * value.quantity;
                    discount = (value.total) * value.discount / 100;
                    value.total = value.total - discount;
                    this.data.total += value.total;
                    this.data.discount += discount;


                });


                this.data.vat = (this.data.total / 1.12) * .12;
                this.data.total = this.data.total - this.data.vat;
                this.data.grand_total = this.data.total + this.data.vat;


            },
            initialize() {


                var getBranches = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBranches().then(success => {
                                this.branches = success.data;
                            });
                        });
                    },
                    getClients = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getClients().then(success => {
                                this.clients = success.data;
                            });
                        });
                    },
                    getPromos = () => {
                        resourceService.getPromos().then(success => {
                            this.promos = success.data;
                        });
                    }
                getBranches()
                    .then(getClients())
                    .then(getPromos());

            }
        }
    }
</script>

<style scoped>

</style>
