<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">

                                <button type="button"
                                        v-on:click="$route.params.id ? update(status.id) : store() "
                                        class="btn btn-primary btn-fill" v-if="status.id">
                                    {{$route.params.id ? status.name : 'Submit'}}

                                </button>


                                <button type="button" v-if="config.status.pending == data.status_option_id"
                                        v-on:click="update(config.status.rejected)"
                                        class="btn btn-danger btn-fill">Reject
                                </button>


                                <router-link tag="a" :to="{ name: 'quotation-order-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Corporate Centre Building</small></span>
                                        <span class="d-block fs-12"><small> Aurora Blvd. Cubao, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>

                                </div>
                                <div class="row ">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Branch*</label>
                                            <select class="form-control" v-model="data.branch_id"
                                                    :disabled="$route.params.id">
                                                <option v-for="(value,key) in branches" :value="value.id">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Quotation Number*</label>

                                            <input type="text" v-model="data.order_number" class="form-control"
                                                   placeholder="Quotation Number" :disabled="$route.params.id">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label>Client*</label>
                                            <select class="form-control" v-model="data.customer_id"
                                                    :disabled="$route.params.id">
                                                <option v-for="(value,key) in clients" :value="value.id">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th width="150px">Quantity</th>


                                                </tr>

                                                <tr v-for="(value, key) in data.has_many_order_reference">
                                                    <td class="text-center ">
                                                        <a v-if="!$route.params.id" style="cursor: pointer;"
                                                           @click="remove(key)"
                                                           class="text text-danger">Remove </a>
                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td>{{value.item.description}}</td>
                                                    <td><input type="number" @input="changePrice"
                                                               v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>

                                                </tr>


                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>

                                                <tr>
                                                    <td colspan="5"></td>
                                                </tr>
                                                <tr class="thead-dark">
                                                    <th colspan="4"> Organize Inter Office Order</th>
                                                    <th colspan="1">
                                                        <admin-organize-item-selection-component
                                                                @click-handler="saveSelectedItem" :parent="data"/>
                                                    </th>
                                                </tr>


                                                <tr v-for="(value, key) in data.has_many_order_detail">
                                                    <td class="text-center ">
                                                        <a v-if="data.status_option_id == config.status.pending" style="cursor: pointer;" @click="remove(key)"
                                                           class="text text-danger">Remove </a>
                                                    </td>

                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td>
                                                    </td>
                                                    <td class="text-right">
                                                        <input type="number" v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :max="value.remaining_quantity"
                                                               :disabled="data.status_option_id != config.status.pending">
                                                    </td>



                                                </tr>


                                            </table>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <div class="form-group">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Note*</label>
                                            <textarea :disabled="config.status.paid == data.payment_status_option_id" v-model="data.notes" placeholder="Notes.."
                                                      class="form-control"></textarea>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>


    import AdminOrganizeItemSelectionComponent
        from '../../../../../cores/includes/admin-organize-item-selection.component';
    import Config from '../../../../../configs/app.config';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import OrderService from "../../../../../cores/services/admin/order/order.service";


    const config = Config;


    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    export default {
        components: {AdminOrganizeItemSelectionComponent},
        data: function () {
            return {
                data: {
                    grand_total: 0,
                    has_many_order_reference: [],
                    has_many_order_detail: [],
                    customer_type: 'admins',
                    customer_id: '1',
                    order_type_id: 5,
                },
                branches: [],
                clients: [],
                config: {
                    base_url: config.base_url,
                    status: config.status

                },
                status: {
                    name: 'Loading'
                },
                suppliers: []
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {

                this.show(this.$route.params.id);
            }


        },
        methods: {
            saveSelectedItem: function (data) {


                if (data.length != 0) {


                    var inputs = {};

                    data.forEach((value, key) => {
                        const found = this.data.has_many_order_detail.some(el => el.id === value.id);

                        value.remaining_quantity = value.quantity;
                        value.quantity = 0;
                        value.branch_item_detail_id = value.id;

                        if (!found) {
                            this.data.has_many_order_detail.push(value);
                        }


                    });


                }


            },
            remove(key) {


                this.$delete(this.data.has_many_order_detail, key)
            },
            changePrice: function () {

                // this.data.grand_total = 0;
                // this.data.has_many_order_reference.forEach((value, key) => {
                //
                //     value.total = value.amount * value.quantity;
                //     this.data.grand_total += value.total;
                //
                //
                // });


            },
            update: function (status) {

                this.data.status_option_id = status;
                return orderService.update(this.data).then(success => {
                    alertService.updated();
                    this.show(this.$route.params.id);
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);


                    });
                });


            },
            show(id) {
                return orderService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;
                    if (this.data.status_option_id == this.config.status.pending) {
                        this.status = {
                            id: this.config.status.approved,
                            name: "Approve"
                        }
                    }
                    else if (this.data.status_option_id == this.config.status.approved) {
                        this.status = {
                            id: this.config.status.in_transit,
                            name: "Send"
                        }

                    }
                    else {
                        this.status = {}
                    }


                }, fail => {

                });

            },
            initialize() {


                var getBranches = () => {
                    return new Promise((resolve, reject) => {
                        resourceService.getBranches().then(success => {
                            this.branches = success.data;
                        });
                    });
                },
                    getClients = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getClients().then(success => {
                                this.clients = success.data;
                            });
                        });
                    }
                getBranches();
                getClients();

            }
        }
    }
</script>

<style scoped>

</style>
