<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'supplier-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Contact Number*</label>
                                            <input type="text" v-model="data.contact_number" class="form-control"
                                                   placeholder="contact number" maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Address*</label>
                                            <input type="text" v-model="data.address" class="form-control"
                                                   placeholder="address">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Payment Terms*</label>
                                            <input type="text" v-model="data.payment_terms" class="form-control"
                                                   placeholder="payment terms">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Supplier Type*</label>
                                            <select class="form-control" v-model="data.supplier_type_id">
                                                <option v-for="(value,key) in supplier_type" :value="value.id" :key="key">{{value.name}}</option>
                                                <!-- <option value="">test</option> -->
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>


    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import SupplierService from "../../../../../cores/services/admin/inventory/supplier/supplier.service";
    import ResourceService from '../../../../../cores/services/resource/resource.service';




    const config = Config;
    const alertService = new AlertService();
    const supplierService = new SupplierService();
    const resourceService = new ResourceService();

    export default {
        data: function () {
            return {
                data: {},
                config: {
                    base_url: config.base_url,

                },
                supplier_type:[]
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {
                this.show(this.$route.params.id);
            }
        },
        methods: {

            store: function () {
                    alertService.uploading();
                return supplierService.store(this.data).then(success => {
                    $.notifyClose();
                    alertService.saved();
                    this.data = {};
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            update: function () {

                // Object.assign(this.data, this.image);
                // partnerService.update(this.data);
                return supplierService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            show(id) {

                return supplierService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }, fail => {

                });

            },
            initialize() {
                var response;
                var getSupplierType = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getSupplierType().then(success => {
                                response = success.data;
                                this.supplier_type = response;
                            });
                        });
                    }
                getSupplierType();
                    
            }
        }
    }
</script>

<style scoped>

</style>