<template>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">{{$route.meta.title}}</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <router-link tag="a" :to="{ name: 'category-list' }" class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>


                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Title*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>


    import UploadService from '../../../../../cores/services/upload/upload.service';

    import AlertService from '../../../../../cores/services/alert/alert.service';
    import Config from '../../../../../configs/app.config';
    import CategoryService from "../../../../../cores/services/admin/inventory/category/category.service";
    import HistoryService from "../../../../../cores/services/admin/history/history.service";


    const config = Config;
    const uploadService = new UploadService();

    const alertService = new AlertService();
    const categoryService = new CategoryService();
    const historyService = new HistoryService();
    export default {
        data: function () {
            return {
                data: {},
                config: {
                    base_url: Config.base_url,
                    title: 'Create Category',
                    button_label: 'Save'
                },
                // history:{
                //     action : ''
                // }
            }
        },
        mounted: function () {
            if (this.$route.params.id) {
                this.config.title = 'Update Category';
                this.config.button_label = 'Update';
                this.show(this.$route.params.id);
            }

        },
        methods: {

            // uploadImage(event) {
            //     alertService.uploading();
            //     uploadService.uploadImage(config.admin_prefix + '/api/upload/image', event).then(success => {
            //         Object.assign(this.data, success.data);
            //         // this.data = success.data;

            //         alertService.uploadSuccess();


            //     }, fail => {

            //     });

            // },
            removeImage() {

                this.data.path = '';
                this.data.file_name = '';
            },
            store: function () {
                    alertService.uploading();
                return categoryService.store(this.data).then(success => {
                    $.notifyClose();
                    alertService.saved();
                    // this.storeHistory();
                    this.data = {};
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            update: function () {

                // Object.assign(this.data, this.image);
                // partnerService.update(this.data);
                return categoryService.update(this.data).then(success => {
                    alertService.updated();
                    // this.updateHistory();
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            show(id) {
                return categoryService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }, fail => {

                });

            },
            // storeHistory: function(){             
            //     this.history.action = 'created category ' + this.data.name;
            //     return historyService.store(this.history).then(success => {
                    
            //     });
               
            // },
            // updateHistory: function(){              
            //     this.history.action = 'updated category ' + this.data.name;
            //     return historyService.store(this.history).then(success => {
                    
            //     });
               
            // }
            
        }
    }
</script>

<style scoped>

</style>