<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">

                                <print-component :data="data" v-if="$route.params.id"/>

                                <button type="button"
                                        v-on:click="payment(config.status.paid)"
                                        class="btn btn-success btn-fill"
                                        v-if="data.payment_status_option_id != 4 && $route.params.id"
                                        v-show="auth.admin_role_id === 1 || auth.admin_role_id === 8">Mark as Paid
                                </button>


                                <button type="button"
                                        v-on:click="savePayment()"
                                        class="btn btn-success btn-fill"
                                        v-if="data.payment_status_option_id != 4 && $route.params.id"
                                        v-show="auth.admin_role_id === 1 || auth.admin_role_id === 8">Save Payment
                                </button>


                                <button type="button" v-if="!$route.params.id"
                                        v-on:click="store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <button type="button"
                                        v-if="auth.admin_role_id == 1 && data.status_option_id  == config.status.pending"
                                        v-on:click="update(config.status.delivered) "
                                        class="btn btn-primary btn-fill">Approve
                                </button>

                                <button type="button"
                                        v-if="auth.admin_role_id == 1 && data.status_option_id  == config.status.pending"
                                        v-on:click="update(config.status.rejected) "
                                        class="btn btn-danger btn-fill">Reject
                                </button>

                                <router-link tag="a" :to="{ name: 'client-order-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Corporate Centre Building</small></span>
                                        <span
                                            class="d-block fs-12"><small> Aurora Blvd. Cubao, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>

                                </div>

                                <div class="row " v-if="$route.params.id">
                                    <div class="col-md-12  pr-3">

                                        <div class="form-group">
                                            <label>Payment Mode*</label>
                                            <select class="form-control" @change="changeClient"
                                                    v-model="data.order_payment_mode_id"
                                                    :disabled="data.payment_status_option_id == 4">
                                                <option v-for="(value,key) in payment_modes" :value="value.id">
                                                    {{value.name ? value.name : 'NA'}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>


                                </div>


                                <div class="row ">
                                    <div class="col-md-6  pr-3">

                                        <div class="form-group">
                                            <label>Delivery/Invoice Number*</label>
                                            <input type="text" v-model="data.invoice_number" class="form-control"
                                                   placeholder="Delivery/Invoice Number" maxlength="12">
                                        </div>

                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Tin Number</label>
                                            <input type="text" v-model="data.tin_number" class="form-control"
                                                   placeholder="Tin Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Type*</label>
                                            <select class="form-control" v-model="data.order_payment_type_id">
                                                <option v-for="(value,key) in payment_types" :value="value.id">
                                                    {{value.name ? value.name: 'NA'}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Discount</label>
                                            <select :disabled="$route.params.id" class="form-control"
                                                    @change="changeDiscount">
                                                <option :value="0">No Discount</option>
                                                <option v-for="(value,key) in promos" :value="value.amount">
                                                    {{value.name ? value.name : 'NA'}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row ">
                                    <div class="col-md-12  pr-3">

                                        <div class="form-group">
                                            <label>Client*</label>
                                            <select class="form-control" @change="changeClient"
                                                    v-model="data.customer_id">
                                                <option v-for="(value,key) in clients" :value="value.id"
                                                        :class="{'bg-warning' : !value.credit_status}">
                                                    {{value.name ? value.name : 'NA'}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>

                                                    <th>Discount</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Amount</th>


                                                </tr>

                                                <tr v-for="(value, key) in data.has_many_order_reference">
                                                    <td class="text-center ">


                                                        <a v-if="!$route.params.id" style="cursor: pointer;"
                                                           @click="remove(key)"
                                                           class="text text-danger">Remove </a>


                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name ? value.item.name : 'NA'}}</td>
                                                    <td width="130px">
                                                        <input type="number" @input="changePrice"
                                                               v-model="value.discount"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>

                                                    <td width="130px">
                                                        <input type="number" @input="changePrice"
                                                               v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>
                                                    <td>{{formatNumber (value.amount)}}</td>
                                                    <td>{{formatNumber (value.total)}}</td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>


                                                </tr>

                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total Discount</td>
                                                    <td>{{ formatNumber (data.discount)}}</td>

                                                </tr>
                                                <tr v-if="$route.query.ticket_id">
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Credit</td>
                                                    <td>{{ formatNumber (credit.grand_total)}}</td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total Sales</td>
                                                    <td>{{ formatNumber (data.total)}}</td>

                                                </tr>
                                                <tr v-if="data.order_payment_type_id == 2">
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Vat</td>
                                                    <td>{{ formatNumber (data.vat)}}</td>


                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Grand Total</td>
                                                    <!--<td>{{parseInt(data.grand_total).toFixed(2)}}</td>-->
                                                    <td>{{ formatNumber (data.grand_total)}}</td>

                                                </tr>


                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">

                                        <div class="form-group" v-if="!$route.params.id">
                                            <admin-order-item-selection-component @click-handler="saveSelectedItem"
                                                                                  :parent="data"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>

                                                    <th>Quantity</th>
                                                    <template v-if="!$route.params.id">
                                                        <th width="170px">
                                                            <admin-organize-item-selection-component
                                                                @click-handler="saveOrganizeItem" :parent="data"
                                                                :reference="reference"
                                                                v-if="!$route.params.id"/>
                                                        </th>
                                                    </template>
                                                    <template v-if="$route.params.id">
                                                        <th width="150px">
                                                            Returned
                                                        </th>

                                                        <th width="170px">
                                                            Return Quantity
                                                        </th>

                                                    </template>


                                                </tr>

                                                <template v-for="(value, key) in data.has_many_order_detail">
                                                    <tr>
                                                        <td class="text-center ">

                                                            <input type="checkbox" :true-value="value.id"
                                                                   :false-value="0"
                                                                   v-model="return_request.return_order_detail[key].order_detail_id"
                                                                   v-if="$route.params.id"
                                                                   :disabled="value.quantity == value.return_quantity">

                                                            <a style="cursor: pointer;" @click="removeItemDetail(key)"
                                                               class="text text-danger"
                                                               v-if="!$route.params.id">Remove </a>
                                                        </td>
                                                        <td>{{value.item.sku}}</td>
                                                        <td>{{value.item.name ? value.item.name : 'NA'}}</td>
                                                        <td><input type="number" v-model="value.quantity"
                                                                   class="form-control fc-table px-1"
                                                                   :max="value.remaining_quantity"
                                                                   :disabled="$route.params.id"
                                                                   @input="e => value.quantity > value.remaining_quantity ?
                                                                   value.quantity = value.remaining_quantity : ''">
                                                        </td>


                                                        <template v-if="!$route.params.id">
                                                            <td>
                                                                {{value.remaining_quantity}}
                                                            </td>
                                                        </template>
                                                        <template v-if="$route.params.id">
                                                            <td>
                                                                {{value.return_quantity}}
                                                            </td>
                                                            <td>

                                                                <input type="number"
                                                                       v-model="return_request.return_order_detail[key].quantity"
                                                                       class="form-control fc-table px-1"
                                                                       :disabled="value.quantity == value.return_quantity"
                                                                       :max="value.quantity - value.return_quantity"
                                                                       @input="e =>
                                                                   parseInt(e.target.value) > value.quantity ?
                                                                   e.target.value = value.quantity : ''">
                                                                <input type="hidden"
                                                                       v-model="return_request.return_order_detail[key].item_id">
                                                            </td>

                                                        </template>


                                                    </tr>
                                                    <tr v-if="$route.params.id">
                                                        <td></td>
                                                        <td colspan="5">
                                                            <input v-if="$route.params.id" type="text"
                                                                   class="form-control fc-table px-1"
                                                                   v-model="return_request.return_order_detail[key].reason"
                                                                   placeholder="Reason..">
                                                        </td>
                                                    </tr>

                                                </template>

                                                <tr v-if="$route.params.id && data.has_many_return_order_header && data.has_many_return_order_header.length == 0">
                                                    <td colspan="6" class="text-center">
                                                        <button type="button"
                                                                class="btn btn-primary btn-fill "
                                                                v-on:click="returnItems()">Return Items
                                                        </button>
                                                    </td>
                                                </tr>

                                            </table>

                                        </div>
                                    </div>

                                </div>

                                <div class="row pt-2" v-if="$route.params.id">
                                    <div class="col-md-12 pr-3">
                                        <h2>Returned Items</h2>
                                    </div>
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>Ticket ID</th>
                                                    <th>Credit</th>
                                                    <th>Total Quantity</th>
                                                    <th>Reason</th>
                                                    <th>Date</th>
                                                    <th>Status</th>

                                                </tr>
                                                <tr v-for="(value, key) in data.has_many_return_order_header">
                                                    <td class="text-center">
                                                        <template v-if="value.status_option_id == 1">
                                                            <router-link
                                                                :to="{ name: 'client-order-create' , query: {ticket_id: value.id}}"
                                                                tag="a"
                                                                class="text text-primary">Generate Invoice
                                                            </router-link>
                                                            |
                                                            <a style="cursor: pointer;"
                                                               v-on:click="deleteReturnItemsTicket(value.id)"
                                                               class="text text-danger">
                                                                Delete </a>
                                                        </template>


                                                    </td>
                                                    <td>{{value.id}}</td>

                                                    <td>{{formatNumber (value.grand_total)}}</td>

                                                    <td>{{value.has_many_return_order_detail_count_quantity}}</td>
                                                    <td>{{value.has_many_return_order_detail &&
                                                        value.has_many_return_order_detail[0] ?
                                                        value.has_many_return_order_detail[0].reason : ''}}
                                                    </td>
                                                    <td>{{value.created_at}}</td>
                                                    <td class="text-center">{{value.status_option.name ?
                                                        value.status_option.name : 'NA'}}
                                                    </td>
                                                </tr>


                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <template v-if="$route.params.id">
                                    <div class="row pt-2">

                                        <div class="col-md-12 ">
                                            <button type="button" class="btn btn-outline-primary btn-block"
                                                    @click="data.has_many_order_payment_note.push({})"
                                                    :disabled="data.payment_status_option_id == 4">ADD PAYMENT NOTE
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row pt-2">

                                        <template v-for="(value,key) in data.has_many_order_payment_note">
                                            <div class="col-md-11 py-2">


                                                    <textarea type="text" v-model="value.notes"
                                                              class="form-control"
                                                              placeholder="Payment Note"
                                                              :disabled="data.payment_status_option_id == 4">
                                                    </textarea>


                                            </div>
                                            <div class="col-md-1 text-center m-auto py-2" v-if="value.id == null">
                                                <button type="button" class="btn btn-danger btn-fill"
                                                        @click="$delete(data.has_many_order_payment_note,key)"
                                                        :disabled="data.payment_status_option_id == 4"><i
                                                    class="fa fa-remove"></i></button>

                                            </div>
                                        </template>
                                    </div>
                                </template>

                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>

    import {debounce} from "debounce";
    import AdminOrderItemSelectionComponent from '../../../../../cores/includes/admin-order-item-selection.component';
    import PrintComponent from '../../../../../cores/includes/admin-print.component';
    import AdminOrganizeItemSelectionComponent
        from '../../../../../cores/includes/admin-organize-item-selection.component';

    import Config from '../../../../../configs/app.config';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import OrderService from "../../../../../cores/services/admin/order/order.service";
    import OrderHeaderModel from "../../../../../cores/models/order/order-header.model";


    const config = Config;


    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    const orderHeaderModel = new OrderHeaderModel();

    export default {
        components: {AdminOrderItemSelectionComponent, AdminOrganizeItemSelectionComponent, PrintComponent},
        data: function () {
            return {
                data: orderHeaderModel.clientBranch(),
                return_request: {},
                config: {
                    base_url: config.base_url,
                    status: config.status,
                    admin_prefix: config.admin_prefix

                },
                auth: resourceService.getAuth(),
                credit: {
                    grand_total: 0
                },
                payment_types: [],
                clients: [],
                promos: [],
                suppliers: [],
                payment_modes: [],
                client_type: 0,
                reference: []

            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) this.show(this.$route.params.id);
            if (this.$route.query.ticket_id) this.showReturnItemsTicket(this.$route.query.ticket_id);


        },
        methods: {
            saveSelectedItem: function (data) {
                if (data.length != 0) {


                    var inputs = {};
                    let amount = 0;
                    data.forEach((value, key) => {

                        amount = this.getSelectedItemAmount(this.client_type, value);
                        this.reference.push(value.id);
                        inputs = {
                            item: value,
                            item_id: value.id,
                            amount: amount,
                            quantity: 0,
                            total: 0,
                            discount: 0,
                        }

                        this.data.has_many_order_reference.push(inputs);
                    });


                }


            },
            saveOrganizeItem: function (data) {
                if (data.length != 0) {
                    var inputs = {};
                    let amount = 0;
                    data.forEach((value, key) => {
                        const found = this.data.has_many_order_detail.some(el => el.id === value.id);
                        const found_in_reference = this.data.has_many_order_reference.some(el => el.item_id === value.item_id);

                        amount = this.getOrganizeItemAmount(this.client_type, value);

                        value.remaining_quantity = value.quantity;
                        value.quantity = 0;
                        value.branch_item_detail_id = value.id;
                        value.amount = amount;

                        if (!found && found_in_reference) {
                            this.data.has_many_order_detail.push(value);
                        }


                    });
                }


            },

            changeClient: function () {

                let object = this.clients.find(object => object.id == this.data.customer_id);
                this.data.tin_number = object.tin_number;
                this.client_type = object.user_type_id;
                this.data.has_many_order_reference.forEach(i => {
                    if(this.client_type == 1) i.amount = i.item.price_a;
                    if(this.client_type == 2) i.amount = i.item.price_b;
                    if(this.client_type == 3) i.amount = i.item.price_c;
                    if(this.client_type == 4) i.amount = i.item.price_d;
                    if(this.client_type == 5) i.amount = i.item.srp;
                });
                this.changePrice();

            },
            changeDiscount: function ($event) {


                this.calculateTotal($event.target.value);

                if (this.credit.status) this.calculateIfTicketExist();

            },
            changePrice: debounce(function (e) {

                this.calculateTotal('');
                if (this.credit.status) this.calculateIfTicketExist();

            }, 1000),
            remove(key) {


                this.$delete(this.data.has_many_order_reference, key);
                this.calculateTotal('');
                if (this.credit.status) this.calculateIfTicketExist();
            },
            removeItemDetail(key) {


                this.$delete(this.data.has_many_order_detail, key)
            },
            store: function () {


                var call = () => {
                    swal({
                        title: "Are you sure?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                if (this.data.has_many_order_detail.length != 0) {
                                    alertService.uploading();
                                    return orderService.nonFranchiseValidateQuantity(this.data).then(success => {
                                        $.notifyClose();
                                        this.data.invoice_date = this.formatDate();


                                        orderService.store(this.data).then(success => {
                                            var response = success.data;
                                            if (this.data.status_option_id == 2 || this.data.status_option_id == 10) {
                                                orderService.nonFranchiseOrders(this.data);
                                            }
                                            this.data = orderHeaderModel.clientBranch();
                                            alertService.saved();

                                            if (this.credit.status) orderService.updateReturnItemsTicket(this.credit);


                                            this.$router.push({path: this.config.admin_prefix + '/order/clients/' + response.id + '/edit'});

                                        }, fail => {
                                            var errors = fail.response.data.errors;

                                            this.popErrors(errors);
                                        });

                                    }, fail => {

                                        var errors = fail.response.data.errors;
                                        this.popErrors(errors);

                                        var cb = () => {

                                            this.data.status_option_id = this.config.status.pre_order;
                                            orderService.store(this.data).then(success => {
                                                orderService.nonFranchiseOrders(this.data);
                                                this.data = orderHeaderModel.clientBranch();

                                                alertService.saved();


                                                this.$router.push({path: this.config.admin_prefix + '/order/pre-orders/' + response.id + '/edit'});

                                            }, fail => {
                                                this.data.status_option_id = this.config.status.delivered;
                                                var errors = fail.response.data.errors;
                                                this.popErrors(errors);
                                            });
                                        }

                                        alertService.withConfirmation(cb, "Insufficient Quantity. Continue as Pre Order.");

                                    });
                                } else {
                                    var cb = () => {

                                        this.data.status_option_id = this.config.status.pre_order;
                                        orderService.store(this.data).then(success => {
                                            orderService.nonFranchiseOrders(this.data);
                                            this.data = orderHeaderModel.clientBranch();

                                            alertService.saved();


                                            this.$router.push({path: this.config.admin_prefix + '/order/pre-orders/' + response.id + '/edit'});

                                        }, fail => {
                                            this.data.status_option_id = this.config.status.delivered;
                                            var errors = fail.response.data.errors;
                                            this.popErrors(errors);
                                        });
                                    }

                                    alertService.withConfirmation(cb, "Insufficient Quantity. Continue as Pre Order.");
                                }
                            }
                        });
                }
                alertService.withConfirmation(call, "You won't be able to revert this!");

            },

            payment: function (status) {


                var cb = () => {
                    var status_option_id = this.data.status_option_id;
                    this.data.payment_status_option_id = status;
                    this.data.payment_status = status;
                    orderService.update(this.data).then(success => {
                        orderService.nonFranchiseOrders(this.data);
                        this.data = orderHeaderModel.clientBranch();
                        this.show(this.$route.params.id);
                        alertService.saved();
                    }, fail => {
                        // this.data.status_option_id = this.config.status.delivered;
                        var errors = fail.response.data.errors;
                        this.popErrors(errors);
                        this.data.status_option_id = status_option_id;
                    });
                }

                alertService.withConfirmation(cb, "You won't be able to revert this!");


            },

            savePayment: function (status) {


                var cb = () => {
                    orderService.update(this.data).then(success => {
                        orderService.nonFranchiseOrders(this.data);
                        this.data = orderHeaderModel.clientBranch();
                        this.show(this.$route.params.id);
                        alertService.saved();
                    }, fail => {
                        // this.data.status_option_id = this.config.status.delivered;
                        var errors = fail.response.data.errors;
                        this.popErrors(errors);
                        this.data.status_option_id = status_option_id;
                    });
                }

                alertService.withConfirmation(cb, "You won't be able to revert this!");


            },
            deleteReturnItemsTicket: function (id) {

                var cb = () => {
                    orderService.deleteReturnItemsTicket(id).then(success => {
                        this.show(this.$route.params.id);
                    });
                };
                alertService.withConfirmation(cb, "You won't be able to revert this!");

            },
            returnItems: function (data) {
                var return_request_details = []; 
                this.return_request.return_order_detail.forEach((value, key) => {
                    if(value.order_detail_id != undefined && value.quantity != undefined){
                        return_request_details.push(value);
                    }          
                });
                if(return_request_details.length === 0){
                    alertService.errorWithMessage("Please select return item!");
                    return;
                }                
                // return;
                return orderService.returnItemsTicket(this.return_request).then(success => {
                    this.show(this.$route.params.id);
                    alertService.saved();
                }, fail => {
                    alertService.errorWithMessage("Something went wrong try again!");
                });
            },
            show(id) {
                return orderService.show(id).then(success => {
                    var response = success.data;
                    this.data = response;

                    this.return_request = {
                        order_header_id: this.data.id,
                        status_option_id: this.config.status.pending,
                        return_order_detail: [],
                        branch_item_detail_id: auth.branch.id,
                    }
                    this.data.has_many_order_detail.forEach((value, key) => {
                        this.return_request.return_order_detail[key] = {

                            item_id: value.item_id
                        }
                    });

                }, fail => {

                });

            },

            showReturnItemsTicket(id) {

                return orderService.showReturnItemsTicket(id).then(success => {
                    var response = success.data;
                    this.credit = response;
                    this.data.return_order_header_id = id;

                }, fail => {

                });

            },
            calculateTotal: function (promo) {

                this.data.total = 0;
                this.data.init_total = 0;
                this.data.discount = 0;
                var limit = 0;
                var vat = 0;
                var discount = 0;


                this.data.has_many_order_reference.forEach((value, key) => {


                    value.discount = promo != '' ? promo : value.discount;

                    if (auth.max_discount < value.discount) {
                        limit = 1;
                        value.discount = auth.max_discount;
                    }
                    value.total = value.amount * value.quantity;
                    discount = (value.total) * value.discount / 100;
                    value.total = value.total - discount;
                    this.data.total += value.total;
                    this.data.discount += discount;
                    this.data.init_total += value.total;

                });

                if (this.data.order_payment_type_id == 2) {
                    vat = .12;
                }


                this.data.vat = (this.data.total / 1.12) * vat;
                this.data.total = this.data.total - this.data.vat;
                this.data.grand_total = this.data.total + this.data.vat;

                if (limit === 1) {

                    // this.data.status_option_id = 1;
                    alertService.errorWithMessage("Max Discount Reached!");
                }


            },
            calculateIfTicketExist: function () {
                if (this.credit.grand_total > this.data.init_total) {

                    this.data.order_payment_type_id = 1;
                    this.data.vat = 0;
                    this.data.total = 0;
                    this.data.grand_total = 0;


                } else {

                    this.data.order_payment_type_id = 2;
                    this.data.total = this.data.init_total - this.credit.grand_total;
                    this.data.vat = (this.data.total / 1.12) * .12;
                    this.data.total = this.data.total - this.data.vat;
                    this.data.grand_total = this.data.total + this.data.vat;

                }
            },
            initialize() {


                var getPaymentTypes = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getPaymentTypes().then(success => {
                                this.payment_types = success.data;


                            });
                        });
                    },
                    getClients = () => {
                        resourceService.getClients().then(success => {
                            var response = success.data;
                            this.clients = response;
                        });
                    },
                    getPromos = () => {
                        resourceService.getPromos().then(success => {
                            this.promos = success.data;
                        });
                    },
                    getPaymentModes = () => {
                        resourceService.getPaymentModes().then(success => {
                            this.payment_modes = success.data;
                        });
                    }
                getPaymentTypes()
                    .then(getClients())
                    .then(getPromos())
                    .then(getPaymentModes());

            }
        }
    }
</script>

<style scoped>

</style>
