<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">


                                <button type="button" v-if="!$route.params.id"
                                        v-on:click="store() "
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <button type="button"
                                        v-if="auth.admin_role_id == 1 && data.status_option_id  == config.status.pending"
                                        v-on:click="update(config.status.delivered) "
                                        class="btn btn-primary btn-fill">Approve
                                </button>

                                <button type="button"
                                        v-if="auth.admin_role_id == 1 && data.status_option_id  == config.status.pending"
                                        v-on:click="update(config.status.rejected) "
                                        class="btn btn-danger btn-fill">Reject
                                </button>

                                <router-link tag="a" :to="{ name: 'client-order-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Corporate Centre Building</small></span>
                                        <span
                                            class="d-block fs-12"><small> Aurora Blvd. Cubao, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>

                                </div>
                                <div class="row ">
                                    <div class="col-md-6  pr-3">

                                        <div class="form-group">
                                            <label>Delivery/Invoice Number*</label>
                                            <input type="text" v-model="data.invoice_number" class="form-control"
                                                   placeholder="Delivery/Invoice Number" maxlength="12">
                                        </div>

                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Tin Number</label>
                                            <input type="text" v-model="data.tin_number" class="form-control"
                                                   placeholder="Tin Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Type*</label>


                                            <select class="form-control" v-model="data.order_payment_type_id">
                                                <option v-for="(value,key) in payment_types" :value="value.id">
                                                    {{value.name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Discount</label>
                                            <select disabled class="form-control"
                                                    @change="changeDiscount">
                                                <option :value="0">No Discount</option>
                                                <option v-for="(value,key) in promos" :value="value.amount">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row ">
                                    <div class="col-md-12  pr-3">

                                        <div class="form-group">
                                            <label>Client*</label>
                                            <select class="form-control" @change="changeClient"
                                                    v-model="data.customer_id">
                                                <option v-for="(value,key) in clients" :value="value.id">
                                                    {{value.name}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>

                                                    <th>Discount</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Amount</th>


                                                </tr>

                                                <tr v-for="(value, key) in data.has_many_order_reference">
                                                    <td class="text-center ">
                                                        <a v-if="!$route.params.id" style="cursor: pointer;"
                                                           @click="remove(key)"
                                                           class="text text-danger">Remove </a>
                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td width="130px">
                                                        <input type="number" @input="changePrice"
                                                               v-model="value.discount"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>

                                                    <td width="130px">
                                                        <input type="number" @input="changePrice"
                                                               v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>
                                                    <td>{{ formatNumber (value.amount)}}</td>
                                                    <td>{{ formatNumber (value.total)}}</td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>


                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total Sales</td>
                                                    <td>{{ formatNumber (data.total)}}</td>

                                                </tr>
                                                <tr v-if="data.order_payment_type_id == 2">
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Vat</td>
                                                    <td>{{ formatNumber (data.vat)}}</td>


                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Grand Total</td>
                                                    <!--<td>{{parseInt(data.grand_total).toFixed(2)}}</td>-->
                                                    <td>{{ formatNumber (data.grand_total)}}</td>

                                                </tr>


                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">

                                        <div class="form-group" v-if="!$route.params.id">
                                            <admin-order-item-selection-component @click-handler="saveSelectedItem"
                                                                                  :parent="data"/>
                                        </div>
                                    </div>
                                </div>


                                <print-component :data="data" v-if="$route.params.id"/>

                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>

    import {debounce} from "debounce";
    import AdminOrderItemSelectionComponent from '../../../../../cores/includes/admin-order-item-selection.component';
    import PrintComponent from '../../../../../cores/includes/admin-print.component';
    import AdminOrganizeItemSelectionComponent
        from '../../../../../cores/includes/admin-organize-item-selection.component';

    import Config from '../../../../../configs/app.config';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import OrderService from "../../../../../cores/services/admin/order/order.service";
    import OrderHeaderModel from "../../../../../cores/models/order/order-header.model";


    const config = Config;


    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();
    const orderHeaderModel = new OrderHeaderModel();
    export default {
        components: {AdminOrderItemSelectionComponent, AdminOrganizeItemSelectionComponent, PrintComponent},
        data: function () {
            return {
                data: orderHeaderModel.clientFranchise(),
                payment_types: [],
                clients: [],
                promos: [],
                config: {
                    base_url: config.base_url,
                    status: config.status

                },
                auth: resourceService.getAuth(),
                suppliers: []
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {

                this.show(this.$route.params.id);
            }


        },
        methods: {
            saveSelectedItem: function (data) {

                if (data.length != 0) {


                    var inputs = {};

                    data.forEach((value, key) => {

                        inputs = {
                            item: value,
                            item_id: value.id,
                            amount: value.srp,
                            quantity: 0,
                            total: 0,
                            discount: 0,
                        }

                        this.data.has_many_order_reference.push(inputs);
                    });

                }


            },
            saveOrganizeItem: function (data) {

                if (data.length != 0) {
                    var inputs = {};

                    data.forEach((value, key) => {
                        const found = this.data.has_many_order_detail.some(el => el.id === value.id);
                        const found_in_reference = this.data.has_many_order_reference.some(el => el.item_id === value.item_id);


                        value.remaining_quantity = value.quantity;
                        value.quantity = 0;
                        value.branch_item_detail_id = value.id;

                        if (!found && found_in_reference) {
                            this.data.has_many_order_detail.push(value);
                        }


                    });
                }


            },
            changeClient: function () {

                let object = this.clients.find(object => object.id == this.data.customer_id);

                this.data.tin_number = object.tin_number;
            },
            changeDiscount: function ($event) {


                this.calculateTotal($event.target.value);

            },
            changePrice: debounce(function (e) {

                this.calculateTotal('');

            }, 1000),
            remove(key) {


                this.$delete(this.data.has_many_order_reference, key);
                this.calculateTotal('');
            },
            removeItemDetail(key) {


                this.$delete(this.data.has_many_order_detail, key)
            },
            store: function () {
                if (this.data.has_many_order_detail.length != 0) {

                    this.data.invoice_date = this.formatDate();
                    return orderService.nonFranchiseValidateQuantity(this.data).then(success => {
                        orderService.store(this.data).then(success => {

                            if (this.data.status_option_id == 2 || this.data.status_option_id == 10) {
                                orderService.nonFranchiseOrders(this.data);
                            }

                            alertService.saved();
                            this.data = orderHeaderModel.clientFranchise();

                        }, fail => {
                            var errors = fail.response.data.errors;
                            $.notifyClose();
                            Object.entries(errors).forEach(([key, value]) => {

                                alertService.errorWithMessage(value[0]);

                            });
                        });

                    }, fail => {

                        var errors = fail.response.data.errors;
                        Object.entries(errors).forEach(([key, value]) => {

                            alertService.errorWithMessage(value[0]);

                        });
                    });
                } else {
                    swal("Please complete the details!", {
                        button: true,
                    });
                }


            },

            update: function (status) {
                this.data.status_option_id = status;
                return orderService.nonFranchiseValidateQuantity(this.data).then(success => {
                    orderService.update(this.data).then(success => {
                        if (this.data.status_option_id == 2 || this.data.status_option_id == 10) {
                            orderService.nonFranchiseOrders(this.data);
                        }
                        alertService.updated();
                    }, fail => {
                        var errors = fail.response.data.errors;
                        $.notifyClose();
                        Object.entries(errors).forEach(([key, value]) => {

                            alertService.errorWithMessage(value[0]);

                        });
                    });

                }, fail => {

                    var errors = fail.response.data.errors;
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });


            },

            show(id) {
                return orderService.show(id).then(success => {
                    var response = success.data;
                    this.data = response;

                }, fail => {

                });

            },
            calculateTotal: function (promo) {

                this.data.total = 0;
                var limit = 0;
                var vat = 0;
                var discount = 0;


                this.data.has_many_order_reference.forEach((value, key) => {


                    value.discount = promo != '' ? promo : value.discount;

                    if (auth.max_discount < value.discount) {
                        limit = 1;
                    }
                    value.total = value.amount * value.quantity;
                    discount = (value.total) * value.discount / 100;
                    value.total = value.total - discount;
                    this.data.total += value.total;

                });

                if (this.data.order_payment_type_id == 2) {
                    vat = .12;
                }


                this.data.vat = (this.data.total / 1.12) * vat;
                this.data.total = this.data.total - this.data.vat;
                this.data.grand_total = this.data.total + this.data.vat;

                if (limit === 1) {

                    this.data.status_option_id = 1;
                    alertService.errorWithMessage("Discount approval forwarded to Super Admin");
                }

            },
            initialize() {


                var getPaymentTypes = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getPaymentTypes().then(success => {
                                this.payment_types = success.data;

                            });
                        });
                    },
                    getClients = () => {
                        resourceService.getClients().then(success => {
                            var response = success.data;
                            this.clients = response;
                        });
                    },
                    getPromos = () => {
                        resourceService.getPromos().then(success => {
                            this.promos = success.data;
                        });
                    }
                getPaymentTypes()
                    .then(getClients())
                    .then(getPromos());

            }
        }
    }
</script>

<style scoped>

</style>
