<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">

                                <button type="button" v-on:click="refresh"
                                        class="btn btn-primary btn-fill">Refresh Authorization
                                </button>


                                <button type="button" v-on:click="update"
                                        class="btn btn-primary btn-fill">Submit
                                </button>

                                <!-- <router-link tag="a" :to="{ name: 'account-list' }" class="btn btn-warning btn-fill">
                                    Close
                                </router-link> -->

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>
                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Password*</label>
                                            <input type="password" v-model="data.password" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Email*</label>
                                            <input type="email" v-model="data.email" class="form-control" disabled>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</template>

<script>
    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import ProfileService from "../../../../cores/services/admin/profile/profile.service";
    import ResourceService from "../../../../cores/services/resource/resource.service";

    const config = Config;
    const alertService = new AlertService();
    const profileService = new ProfileService();
    // const adminId = Vue.prototype.$adminId = document.querySelector("meta[name='admin-id']").getAttribute('content');
    const resourceService = new ResourceService();
    export default {
        data: function () {
            return {
                data: resourceService.getAuth(),
                config: {
                    base_url: config.base_url,
                }
            }
        },
        mounted() {
            if (this.$route.params.id) {

                this.show(this.$route.params.id);
            }


        },
        methods: {
            update: function () {


                if (this.data.password == '') {
                    this.data.password = undefined;
                }
                Object.assign(this.data, this.image);
                return profileService.update(this.data).then(success => {

                    var response = success.data;

                    localStorage.setItem('authAdmin', JSON.stringify(response.data));

                    alertService.updated();
                }, fail => {

                });

            },

            refresh: function () {
                return profileService.refreshAuthorization(this.data).then(success => {

                    var response = success.data;



                    localStorage.setItem('authAdmin', JSON.stringify(response.data));
                    alertService.submitWithMessage('Success!');

                }, fail => {

                });
            },
            show(id) {

                return profileService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }, fail => {

                });

            }

        }
    }
</script>

<style scoped>

</style>