<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button :disabled="data.status_option_id == 4" type="button"
                                        v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-primary btn-fill">{{$route.params.id ? 'Mark as Paid' : 'Submit'}}
                                </button>

                                <router-link tag="a" :to="{ name: 'supplier-invoice-abroad-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Corporate Centre Building</small></span>
                                        <span class="d-block fs-12"><small> Aurora Blvd. Cubao, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>
                                    <!--<div class="col-md-3">-->
                                    <!--<div class="form-group" v-if="!$route.params.id">-->
                                    <!--<admin-supplier-item-selection-component @click-handler="saveSelectedItem"-->
                                    <!--:parent="data"/>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <div class="row py-4">
                                    <div class="col-md-8 pr-3">
                                        <div class="form-group">
                                            <label>Supplier*</label>
                                            <select class="form-control" v-model="data.supplier_id"
                                                    :disabled="$route.params.id">
                                                <option v-for="(value,key) in suppliers" :value="value.id" :key="key" v-if="value.supplier_type_id == 2">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="form-group">
                                            <label>Invoice NUmber*</label>
                                            <input type="text" v-model="data.invoice_number" class="form-control"
                                                   placeholder="Invoice Number" :disabled="$route.params.id">
                                        </div>
                                    </div>
                                    <!--<div class="col-md-3">-->
                                    <!--<div class="form-group" v-if="!$route.params.id">-->
                                    <!--<admin-supplier-item-selection-component @click-handler="saveSelectedItem"-->
                                    <!--:parent="data"/>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th
                                                    > #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Item Name</th>
                                                    <th>Item Description</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price (PHP)</th>
                                                    <th>Total Amount (PHP)</th>


                                                </tr>

                                                <tr v-for="(value,key) in data.has_many_supplier_order_detail" :key="key">
                                                    <td class="text-center ">
                                                        <a style="cursor: pointer;" @click="remove(key)"
                                                           class="text text-danger">Delete </a>
                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td>{{value.item.description}}</td>
                                                    <td><input type="number" @input="changePrice"
                                                               v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>
                                                    <td><input type="number" @input="changePrice"
                                                               v-model="value.amount"
                                                               class="form-control fc-table py-0 px-1"
                                                               :disabled="$route.params.id">
                                                    </td>
                                                    <td>
                                                        {{formatNumber(value.amount * value.quantity)}}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>

                                                <tr>
                                                    <td class="text-center py-1"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td colspan="3" class="text-right">Grand Total:</td>

                                                    <td>{{formatNumber(data.grand_total)}}</td>

                                                </tr>

                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" v-if="!$route.params.id && data.supplier_id">
                                            <admin-order-item-selection-component @click-handler="saveSelectedItem"
                                                                                     :parent="data"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" v-if="$route.params.id">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Note*</label>
                                            <textarea v-model="data.notes" placeholder="Notes.."
                                                      class="form-control"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>


    import UploadService from '../../../../cores/services/upload/upload.service';

    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import SupplierInvoiceService from "../../../../cores/services/admin/supplier-invoice/supplier-invoice.service";
    import ResourceService from "../../../../cores/services/resource/resource.service";
    import AdminOrderItemSelectionComponent from '../../../../cores/includes/admin-order-item-selection.component';

    const config = Config;
    const uploadService = new UploadService();

    const alertService = new AlertService();
    const supplierInvoiceService = new SupplierInvoiceService();

    const resourceService = new ResourceService();

    export default {
        components: {AdminOrderItemSelectionComponent},
        data: function () {
            return {
                data: {
                    has_many_supplier_order_detail: [],
                    invoice_date: new Date(),
                    admin_id: resourceService.getAuth().id,
                    grand_total: 0,
                    zero_quantity: false,
                    supplier_type_id: 2
                },
                config: {
                    base_url: Config.base_url,

                },
                auth: resourceService.getAuth(),
                suppliers: []
            }
        },
        mounted: function () {
            this.initialize();
            if (this.$route.params.id) {

                this.show(this.$route.params.id);
            }

        },
        methods: {
            saveSelectedItem: function (data) {

                if (data.length != 0) {

                    var inputs = {};

                    data.forEach((value, key) => {

                        inputs = {
                            item: value,
                            item_id: value.id,
                            branch_id: auth.branch_id,
                            amount: 0,
                            quantity: 0,
                            total: 0,
                            supplier_id: this.data.supplier_id
                        }
                        this.data.has_many_supplier_order_detail.push(inputs);
                    });


                }
            },
            remove(key) {


                this.$delete(this.data.has_many_supplier_order_detail, key)
            },
            changePrice: function () {

                this.data.grand_total = 0;
                this.data.has_many_supplier_order_detail.forEach((value, key) => {

                    value.total =value.amount * value.quantity;
                    this.data.grand_total +=  value.total;

                });


            },
            store: function () {
                var y = () => {
                    var x = () =>{
                        return supplierInvoiceService.store(this.data).then(success => {
                        alertService.saved();
                        this.data = {
                            has_many_supplier_order_detail: [],
                            invoice_date: new Date(),
                            status_option_id: 5,
                            admin_id: 1,
                            grand_total: 0,
                            supplier_type_id: 2
                        }
                    }, fail => {
                        var errors = fail.response.data.errors;
                        $.notifyClose();
                        Object.entries(errors).forEach(([key, value]) => {

                            alertService.errorWithMessage(value[0]);

                        });
                    });
                    }
                    alertService.withConfirmation(x, "Please Check if all details are correct!");
                }
                alertService.withConfirmation(y, "Please make sure quantities are correct this is not revertible!!");
                    
               

            },
            update: function () {

                var cb = () => {
                    this.data.status_option_id = 4;
                    return supplierInvoiceService.update(this.data).then(success => {
                        alertService.updated();
                    }, fail => {

                    });
                }
                alertService.withConfirmation(cb, "Please Check if all details are correct!");
            },
            show(id) {
                return supplierInvoiceService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;



                }, fail => {

                });

            },
            initialize() {


                var getSuppliers = () => {
                    return new Promise((resolve, reject) => {
                        resourceService.getSuppliers().then(success => {
                            this.suppliers = success.data;
                        });
                    });
                }
                getSuppliers();

            }
        }
    }
</script>

<style scoped>

</style>