<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="$route.path  + '/create'" class="btn btn-primary" >
                                Create Supplier Invoices
                            </router-link>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <div class="text-right">
                                <admin-search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Action</th>
                            <th>Invoice Number</th>
                            <th>Total</th>
                            <th>Supplier Name</th>
                            <th>Date / Time</th>
                            <th>Due Date</th>
                            <th>Status</th>

                        </tr>

                        <tr v-for="(value,key) in data.data" :key="key" :class="{'thead-orange' : todayDate(new Date()) >= value.due_date, 'bg-primary' : beforeDue(value.due_date,14)}">

                            <td class="text-center">
                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary" v-show="auth.admin_role_id === 1 || auth.admin_role_id === 2 || auth.admin_role_id === 3">View
                                </router-link>

                            </td>
                            <td>{{value.invoice_number}}</td>
                            <td>{{formatNumber (value.grand_total)}}</td>
                            <td>{{value.supplier.name}}</td>
                            <td>{{value.created_at}}</td>
                            <td>{{value.due_date}}</td>
                            <!-- <td>{{value.status_option.name}}</td> -->
                            <td>{{value.status_option.id == 4 ? 'Paid' : 'Unpaid' }}</td>

                        </tr>
                        <tr v-if="auth.branch.branch_type_id == 1">

                            <td class="font-weight-bold">
                                Total Payables:
                            </td>
                            <td colspan="7" class="font-weight-bold">
                                &#8369; {{formatNumber(unpaid.grand_total ? unpaid.grand_total : 0)}}
                                 <!-- &#8369; {{formatNumber(unpaid.total)}} -->
                            </td>


                        </tr>

                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="Math.ceil(data.total / data.per_page)"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';

    import PaginateComponent from 'vuejs-paginate';
    import AdminSearchComponent from '../../../../cores/includes/admin-search.component';
    import SupplierInvoiceService from "../../../../cores/services/admin/supplier-invoice/supplier-invoice.service";
    import ResourceService from '../../../../cores/services/resource/resource.service'

    const config = Config;

    const alertService = new AlertService();
    const supplierInvoiceService = new SupplierInvoiceService();
    const resourceService = new ResourceService();
    export default {
        components: {AdminSearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,

                },
                data: {},
                auth: resourceService.getAuth(),
                unpaid:{}
            }
        },
        mounted() {

            this.listAbroad(this.$route.query);
            this.initialize();

        },
        methods: {
            search: function (data) {
                this.listAbroad(data);
                this.$router.push({name: 'supplier-invoice-abroad-list', query: data});
            },
            listAbroad: function (data) {

                return supplierInvoiceService.listAbroad(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            remove: function (id) {

                return supplierInvoiceService.delete(id).then(success => {
                    alertService.deleted();
                    this.listAbroad(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.listAbroad(data);

                this.$router.push({name: 'supplier-invoice-abroad-list', query:data});

            },
            initialize() {
                var getUnpaid = () => {
                        resourceService.getUnpaidAbroad().then(success => {
                            this.unpaid = success.data;
                        });
                    }
                getUnpaid();

            }
        }
    }
</script>

<style scoped>

</style>
