<template>
    <div class="row">
        <div class="col-md-12">


            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title">{{$route.meta.title}}</h3>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body" v-for="(data, index) in imports">  
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">{{data.name}}</h5><br>
                                <input type="file" id="file-input" name='file' @click="selectFile($event, data.model)" accept=".xlsx, .xls, .csv">
                        </div>
                        <div class="col-md-6">
                            <button type="button" @click="uploadFile()" class="btn btn-primary btn-fill" :disabled="data.model != selectedFile">Import</button>
                        </div>
                    </div>
                    <hr>
                </div>
                
            </div>

        </div>

    </div>
</template>

<script>
    import AlertService from '../../../../cores/services/alert/alert.service';
    import UploadService from "../../../../cores/services/upload/upload.service";

    const uploadService = new UploadService();
    const alertService = new AlertService();
    export default {
        data: function () {
            return {
                imports:[
                    {
                        'name': 'Category',
                        'model': 'CategoryHeadersImport',
                    },
                    {
                        'name': 'Sub Category',
                        'model': 'CategoryDetailsImport',
                    },
                    // {
                    //     'name': 'Packages',
                    //     'model': 'PackagesImport',
                    // },
                    {
                        'name': 'Brands',
                        'model': 'BrandsImport',
                    },
                    {
                        'name': 'Suppliers',
                        'model': 'SuppliersImport',
                    },
                    {
                        'name': 'Items',
                        'model': 'ItemsImport',
                    }
                ],
                data:{},
                selectedFile:'',
                uploadedFile:{}
            }
        },
        mounted: function () {
            this.initialize();
        },  
        methods: {
            initialize(){

                // var data = JSON.parse(localStorage.getItem('authAdmin'));
                // const condition = [
                //     data.admin_role_id === 1,
                //     data.admin_role_id === 2,
                //     data.admin_role_id === 3
                // ];
                // condition.includes(true) === true ? this.$router.push({ name: 'import-data' }) : this.$router.push({ name: 'dashboard' });
            },
            selectFile(event, model){
                $('#file-input').val('');
                this.uploadedFile = event;
                this.selectedFile = model;
            },
            uploadFile(){
                alertService.uploading();
                uploadService.uploadImport('/api.admin/upload/import', this.uploadedFile, this.selectedFile).then(success => {
                    $('#file-input').val('');
                    $.notifyClose();
                    alertService.saved();
                }, fail => {
                    $.notifyClose();
                    if(fail.response){
                        alertService.errorWithMessage(fail.response.data.errors.validator[0]);
                    } else {
                        alertService.errorWithMessage('Error while uploading try to re-upload the data');
                    }
                });
            }

        }
    }
</script>

<style scoped>

</style>