<template>
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">{{$route.meta.title}}</h3>
                            </div>
                            <div class="col-md-6 text-right">


                                <button type="button" v-if="data.status_option_id == config.status.pre_order"
                                        v-on:click="update(config.status.delivered) "
                                        class="btn btn-primary btn-fill">Mark As Completed
                                </button>


                                <router-link tag="a" :to="{ name: 'client-pre-order-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                                </router-link>

                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                                   aria-controls="main" aria-selected="true">Main</a>
                            </li>


                        </ul>

                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row py-4">
                                    <div class="col-md-6 text-right">
                                        <img src="/images/invoice.png">
                                    </div>
                                    <div class="col-md-6">
                                        <span class="d-block fs-12"><small>948 Corporate Centre Building</small></span>
                                        <span class="d-block fs-12"><small> Aurora Blvd. Cubao, Quezon City, 1109</small></span>
                                        <span class="d-block fs-12"><small>Metro Manila</small></span>
                                    </div>

                                </div>
                                <div class="row ">
                                    <div class="col-md-6  pr-3">

                                        <div class="form-group">
                                            <label>Delivery/Invoice Number*</label>
                                            <input type="text" v-model="data.invoice_number" class="form-control"
                                                   placeholder="Delivery/Invoice Number" maxlength="12">
                                        </div>

                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Tin Number</label>
                                            <input type="text" v-model="data.tin_number" class="form-control"
                                                   placeholder="Tin Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-3">
                                        <div class="form-group">
                                            <label>Type*</label>


                                            <select class="form-control" v-model="data.order_payment_type_id">
                                                <option v-for="(value,key) in payment_types" :value="value.id">
                                                    {{value.name}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Discount</label>
                                            <select :disabled="$route.params.id" class="form-control"
                                                    @change="changeDiscount">
                                                <option :value="0">No Discount</option>
                                                <option v-for="(value,key) in promos" :value="value.amount">
                                                    {{value.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row ">
                                    <div class="col-md-12  pr-3">

                                        <div class="form-group">
                                            <label>Client*</label>
                                            <select class="form-control" @change="changeClient"
                                                    v-model="data.customer_id">
                                                <option v-for="(value,key) in clients" :value="value.id">
                                                    {{value.name}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>

                                                    <th>Discount</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Amount</th>


                                                </tr>

                                                <tr v-for="(value, key) in data.has_many_order_reference">
                                                    <td class="text-center ">


                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td width="130px">
                                                        <input type="number" @input="changePrice"
                                                               v-model="value.discount"
                                                               class="form-control fc-table px-1"
                                                               :disabled="$route.params.id">
                                                    </td>

                                                    <td width="130px">
                                                        {{value.has_many_order_detail_count_quantity}}    /    {{value.quantity}}

                                                    </td>
                                                    <td>{{formatNumber (value.amount)}}</td>
                                                    <td>{{formatNumber (value.total)}}</td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>


                                                </tr>
                                                <tr v-if="$route.query.ticket_id">
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Credit</td>
                                                    <td>{{ formatNumber (credit.grand_total)}}</td>

                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total Sales</td>
                                                    <td>{{ formatNumber (data.total)}}</td>

                                                </tr>
                                                <tr v-if="data.order_payment_type_id == 2">
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Vat</td>
                                                    <td>{{ formatNumber (data.vat)}}</td>


                                                </tr>
                                                <tr>
                                                    <td class="text-center py-2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Grand Total</td>
                                                    <!--<td>{{parseInt(data.grand_total).toFixed(2)}}</td>-->
                                                    <td>{{ formatNumber (data.grand_total)}}</td>

                                                </tr>


                                            </table>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="table-full-width table-responsive">
                                            <table class="table table-bordered ml-lg-3 table-order-items">

                                                <tr class="text-center thead-dark">

                                                    <th>
                                                        #
                                                    </th>
                                                    <th>SKU</th>
                                                    <th>Name</th>
                                                    <th>Quantity</th>
                                                    <th width="170px">
                                                        <admin-organize-item-selection-component
                                                                @click-handler="saveOrganizeItem" :parent="data" :reference="reference"/>
                                                    </th>


                                                </tr>


                                                <tr v-for="(value, key) in data.has_many_order_detail">
                                                    <td class="text-center ">

                                                        <template
                                                                v-if="value.status_option_id != config.status.delivered">
                                                            <a style="cursor: pointer;"
                                                               @click="deliver(data.id,value.id)"
                                                               class="text text-primary"> Deliver </a>
                                                            |
                                                            <a style="cursor: pointer;" @click="removeItemDetail(key)"
                                                               class="text text-danger"> Delete </a>

                                                        </template>

                                                    </td>
                                                    <td>{{value.item.sku}}</td>
                                                    <td>{{value.item.name}}</td>
                                                    <td><input type="number" v-model="value.quantity"
                                                               class="form-control fc-table px-1"
                                                               :max="value.remaining_quantity"
                                                               :disabled="$route.params.id && value.status_option_id == config.status.delivered"
                                                               @input="e =>
                                                                   value.quantity > value.remaining_quantity ?
                                                                   value.quantity = value.remaining_quantity : ''">
                                                    </td>
                                                    <td>
                                                        {{value.remaining_quantity}}
                                                    </td>
                                                </tr>


                                            </table>

                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</template>

<script>

    import {debounce} from "debounce";

    import PrintComponent from '../../../../../cores/includes/admin-print.component';
    import AdminOrganizeItemSelectionComponent
        from '../../../../../cores/includes/admin-organize-item-selection.component';

    import Config from '../../../../../configs/app.config';

    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import AlertService from '../../../../../cores/services/alert/alert.service';
    import OrderService from "../../../../../cores/services/admin/order/order.service";
    import OrderHeaderModel from "../../../../../cores/models/order/order-header.model";


    const config = Config;


    const alertService = new AlertService();
    const orderService = new OrderService();
    const resourceService = new ResourceService();

    const orderHeaderModel = new OrderHeaderModel();

    export default {
        components: {AdminOrganizeItemSelectionComponent, PrintComponent},
        data: function () {
            return {
                data: orderHeaderModel.clientBranch(),
                return_request: {},
                config: {
                    base_url: config.base_url,
                    status: config.status

                },
                auth: resourceService.getAuth(),

                payment_types: [],
                clients: [],
                promos: [],
                suppliers: [],
                reference: []

            }
        },
        mounted: function () {
            this.initialize();


            if (this.$route.params.id) this.show(this.$route.params.id);


        },
        methods: {
            saveOrganizeItem: function (data) {

                if (data.length != 0) {
                    var inputs = {};
                    let amount = 0;
                    data.forEach((value, key) => {
                        const found = this.data.has_many_order_detail.some(el => el.id === value.id);
                        const found_in_reference = this.data.has_many_order_reference.some(el => el.item_id === value.item_id);

                        amount = this.getOrganizeItemAmount(this.client_type,value);

                        value.remaining_quantity = value.quantity;
                        value.quantity = 0;
                        value.branch_item_detail_id = value.id;
                        value.amount = amount;

                        if (found_in_reference) {
                            this.data.has_many_order_detail.push(value);
                        }


                    });
                }


            },
            changeClient: function () {

                let object = this.clients.find(object => object.id == this.data.customer_id);

                this.data.tin_number = object.tin_number;
                this.client_type = object.user_type_id;
            },
            changeDiscount: function ($event) {


                this.calculateTotal($event.target.value);


            },
            changePrice: debounce(function (e) {

                this.calculateTotal('');


            }, 1000),
            removeItemDetail(key) {


                this.$delete(this.data.has_many_order_detail, key)
            },

            update: function (status) {
                var x = ()=>{
                    var y = () =>{
                        this.data.status_option_id = status;
                        this.data.pre_order_mark_as_paid = true;
                        return orderService.update(this.data).then(success => {
                        this.show(this.$route.params.id);
                        alertService.updated();
                        }, fail => {

                        });
                    }
                    alertService.withConfirmation(y, 'make sure to deliver item');
                }
                alertService.withConfirmation(x, '');




            },
            deliver: function (parentId, id) {




                var cb = () => {


                    var yes = () => {

                        let object = this.data.has_many_order_detail.find(object => object.id == id);
                        object.order_header_id = parentId;

                        return orderService.storePreOrderItem(object).then(success => {

                            this.show(this.$route.params.id);
                            alertService.updated();
                        });

                    }

                    alertService.withConfirmation(yes, "This cannot be undone!");

                }
                alertService.withConfirmation(cb, "You won't be able to revert this!");

            },
            show(id) {
                return orderService.show(id).then(success => {
                    var response = success.data;
                    this.data = response;

                    this.data.has_many_order_reference.forEach((value, key) => {
                        this.reference.push(value.item_id);
                    });

                    this.return_request = {
                        order_header_id: this.data.id,
                        status_option_id: this.config.status.pending,
                        return_order_detail: []
                    }
                    this.data.has_many_order_detail.forEach((value, key) => {
                        this.return_request.return_order_detail[key] = {

                            item_id: value.item_id
                        }
                    });

                }, fail => {

                });

            },

            calculateTotal: function (promo) {

                this.data.total = 0;
                var limit = 0;
                var vat = 0;
                var discount = 0;


                this.data.has_many_order_reference.forEach((value, key) => {


                    value.discount = promo != '' ? promo : value.discount;

                    if (auth.max_discount < value.discount) {
                        limit = 1;
                    }
                    value.total = value.amount * value.quantity;
                    discount = (value.total) * value.discount / 100;
                    value.total = value.total - discount;
                    this.data.total += value.total;
                    this.data.init_total += value.total;

                });

                if (this.data.order_payment_type_id == 2) {
                    vat = .12;
                }


                this.data.vat = (this.data.total / 1.12) * vat;
                this.data.total = this.data.total - this.data.vat;
                this.data.grand_total = this.data.total + this.data.vat;

                if (limit === 1) {

                    this.data.status_option_id = 1;
                    alertService.errorWithMessage("Discount approval forwarded to Super Admin");
                }


            },
            initialize() {


                var getPaymentTypes = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getPaymentTypes().then(success => {
                                this.payment_types = success.data;


                            });
                        });
                    },
                    getClients = () => {
                        resourceService.getClients().then(success => {
                            var response = success.data;
                            this.clients = response;
                        });
                    },
                    getPromos = () => {
                        resourceService.getPromos().then(success => {
                            this.promos = success.data;
                        });
                    }
                getPaymentTypes()
                    .then(getClients())
                    .then(getPromos());

            }
        }
    }
</script>

<style scoped>

</style>
