<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{$route.meta.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                    <hr>
                    <template v-if="auth.admin_role_id == 1">
                        <div class="row justify-content-end">
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-fill btn-block" data-toggle="collapse"
                                        href="#moreFilter"
                                        role="button" aria-expanded="false" aria-controls="moreFilter">
                                    More Filters

                                </button>

                            </div>


                            <div class="col-md-8">
                                <div class="text-right">
                                    <!--<admin-search-component @click-handler="search"/>-->
                                </div>
                            </div>

                        </div>

                        <div class="row collapse show pt-4" id="moreFilter">


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Warehouse</label>
                                    <select class="form-control" @change="changeFilter()" v-model="filter.customer_id">
                                        <!-- :disabled="auth.admin_role_id != 1"> -->
                                        <option :value="''">All</option>
                                        <option v-for="(value,key) in branches" :value="value.id">
                                            {{value.name}}
                                        </option>

                                    </select>
                                </div>
                            </div>


                        </div>
                    </template>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-bordered ml-lg-3 table-order-items">

                        <tr class="text-center thead-dark">

                            <th>Item #</th>
                            <th>Branch</th>
                            <th v-if="hasCost() && isFranchise()">Total Cost</th>
                            <th>Total SRP</th>
                            <th>Total Balance</th>


                        </tr>

                        <tr v-for="(value,key) in data" :key="key">
                            <td>{{key + 1}}</td>
                            <td>{{value.name}}</td>
                            <td v-if="hasCost() && isFranchise()">{{formatNumber(value.total_cost)}}</td>
                            <td>{{formatNumber(value.total_srp)}}</td>
                            <!-- <td>{{value.branch_type_id == 1 ? '0.00' : formatNumber(value.total_balance)}}</td> -->
                            <td>{{formatNumber(value.total_balance)}}</td>
                        </tr>


                    </table>
                    <div class="col-md-12 text-left pb-2">
                        <!-- <button class="btn btn-warning btn-fill" v-on:click="$router.push('supplier/download')"> Print</button>  -->
                        <a :href="'/api.admin/reports/inter-office/items-in-summary-export' + asQueryParams(filter)+'&file_name=inter-office-in-summary-'+formatDate()"
                           class="btn btn-warning btn-fill">Export
                            to CSV</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import DatePicker from 'vuejs-datepicker';
    import PaginateComponent from 'vuejs-paginate';
    import ResourceService from "../../../../../cores/services/resource/resource.service";
    import InterOfficeReportService from "../../../../../cores/services/admin/report/inter-office/inter-office.service";
    import Config from '../../../../../configs/app.config';
    import AdminSearchComponent from '../../../../../cores/includes/admin-search.component';

    const config = Config;

    const resourceService = new ResourceService(),
        reportService = new InterOfficeReportService();


    export default {
        components: {AdminSearchComponent, PaginateComponent, DatePicker},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix,
                    status: config.status
                },
                data: {},
                auth: resourceService.getAuth(),
                branches: [],
                filter: {
                    customer_id: resourceService.getAuth().branch_id
                },
                statuses: [],
                payment_statuses: [],
                date: {}
            }
        },
        mounted() {
            this.initialize();

            Object.assign(this.filter, this.$route.query);
            this.list(this.filter);


        },
        methods: {
            changeFilter: function () {
                this.filter.date_to = this.formatDate(this.filter.date_to);
                this.filter.date_from = this.formatDate(this.filter.date_from);
                this.list(this.filter);

            },
            search: function (data) {
                Object.assign(data, this.filter);
                this.list(data);


            },
            list: function (data) {

                return reportService.list('items-in-summary', data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            paginate: function (page) {
                var data = {
                    page: page
                }
                Object.assign(data, this.filter);
                this.list(data);


            },
            initialize() {
                var response;
                var getBranches = () => {
                        return new Promise((resolve, reject) => {
                            resourceService.getBranches().then(success => {
                                response = success.data;
                                this.branches = response;
                            });
                        });
                    },
                    getStatusOptions = (data) => {
                        resourceService.getStatusOptions(data).then(success => {
                            response = success.data;
                            this.statuses = response;
                        });
                    },
                    getPaymentStatusOptions = (data) => {
                        resourceService.getStatusOptions(data).then(success => {
                            response = success.data;
                            this.payment_statuses = response;
                        });
                    }
                getBranches()
                    .then(getStatusOptions({id: '1,2,3,7,8,10'}))
                    .then(getPaymentStatusOptions({id: '4,5'}));
            }


        }
    }
</script>

<style scoped>

</style>
